<div class="breadcrumb">
	<div class="container">
		<div class="go-back border part" ng-bind-html="local.back.content" ng-click="local.back.clickCb()">
		</div>
		<div class="current-position border part" ng-if="local.back.has_part" ng-bind-html="local.back.part_content" ng-click="local.back.partClickCb()">
		</div>
		<div class="main-content part clearfix">
			<div class="pull-left" ng-bind-html="local.body.content" ng-click="local.body.clickCb()"></div>
			<div class="pull-right" ng-if="local.body.has_right" ng-bind-html="local.body.right_content"
			     ng-click="local.body.rightClickCb()">
			</div>
		</div>
	</div>
</div>