@charset "UTF-8";
.loading-mask {
  display: none; }

.header {
  background: url(../images/header_for_web.jpg) center center no-repeat;
  height: 510px; }

.box {
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  display: none; }

#box1 {
  background-image: url(../images/hotelplus_01.jpg);
  height: 940px; }
  #box1 .title {
    background: url(../images/hotelplus_01_title.png) no-repeat center;
    height: 170px;
    margin-top: 210px; }

#box2 {
  background-image: url(../images/hotelplus_02.jpg);
  height: 933px; }
  #box2 .title {
    background: url(../images/hotelplus_02_title.png) no-repeat 82% 85px fixed;
    height: 900px;
    /*transition-duration: 0.3s;
    transition-property: transform,opacity;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform,opacity;
    -webkit-transition-timing-function: ease-out;
    transform:translateY(0);
    -webkit-transform:translateY(0);*/
    opacity: 1; }
    #box2 .title.outer {
      /* transform:translateY(30px);
       -webkit-transform:translateY(30px);*/
      opacity: 0; }
  #box2 .content {
    background: url(../images/hotelplus_02_content.png) no-repeat 82% 20px fixed;
    height: 900px;
    width: 100%;
    position: absolute;
    /*
     transition-duration: 0.4s;
     transition-property: transform,opacity;
     transition-timing-function: ease-out;
     -webkit-transition-duration: 0.4s;
     -webkit-transition-property: -webkit-transform,opacity;
     -webkit-transition-timing-function: ease-out;
     transform:translateY(0);
     -webkit-transform:translateY(0);*/
    top: 0px; }
    #box2 .content.outer {
      /* transform:translateY(60px);
       -webkit-transform:translateY(60px);*/
      opacity: 0; }

#box3 {
  background-image: url(../images/hotelplus_03.jpg);
  background-attachment: fixed;
  height: 919px; }
  #box3 .left {
    background: url(../images/hotelplus_03_left.png) no-repeat 75% 75px;
    position: fixed;
    height: 300px;
    width: 50%;
    top: 10px;
    left: -50%;
    transition: left 0.4s; }
    #box3 .left.abs {
      position: absolute;
      top: 260px; }
  #box3 .right {
    background: url(../images/hotelplus_03_right.png) no-repeat left 35px;
    position: fixed;
    height: 300px;
    width: 50%;
    right: -50%;
    top: 10px;
    transition: right 0.4s; }
    #box3 .right.abs {
      position: absolute;
      top: 260px; }

#box4 {
  background-image: url(../images/hotelplus_04.jpg);
  height: 947px; }
  #box4 .title {
    background: url(../images/hotelplus_04_title.png) no-repeat 20% 0;
    height: 796px;
    transition: opacity 0.3s;
    opacity: 0;
    margin-top: 150px; }
    #box4 .title.show {
      opacity: 1; }
    #box4 .title.show2 {
      background-attachment: fixed;
      background-position: 20% 70px; }
    #box4 .title.show3 {
      background-attachment: scroll;
      background-position: 20% 410px; }
  #box4 .content {
    background: url(../images/hotelplus_04_content.png) no-repeat 20% 0;
    height: 768px;
    transition: opacity 0.3s;
    opacity: 0;
    position: absolute;
    top: 280px;
    width: 100%; }
    #box4 .content.show {
      opacity: 1; }
    #box4 .content.show2 {
      background-attachment: fixed;
      background-position: 20% 197px; }
    #box4 .content.show3 {
      background-attachment: scroll;
      background-position: 20% 400px; }

.main-content {
  width: 1060px;
  margin: 0 auto; }

.benefit-ctn {
  padding: 54px 0;
  border-bottom: 1px solid #DDD;
  font-size: 0; }
  .benefit-ctn .benefit-wrap {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    text-align: center; }
  .benefit-ctn .benefit-title {
    font-size: 30px;
    color: #000; }
    .benefit-ctn .benefit-title i {
      margin-right: 10px;
      color: #c70000; }
  .benefit-ctn .benefit-content {
    font-size: 16px;
    color: #525252;
    margin-top: 4px; }

.hotel-ctn {
  padding-bottom: 30px; }

.hotel {
  margin: 35px 0 15px 0;
  position: relative; }
  .hotel .hotel-title {
    background: url(../images/city_bg_1.png) no-repeat;
    height: 51px;
    position: relative;
    top: 2px;
    line-height: 50px;
    font-size: 22px;
    color: #FFF;
    padding-left: 55px; }
    .hotel .hotel-title a {
      float: right;
      color: #737373;
      font-size: 16px; }
      .hotel .hotel-title a em {
        color: #c70000;
        font-style: normal; }
  .hotel .hotel-wrap {
    border: 2px solid #C70000; }
    .hotel .hotel-wrap > div {
      display: inline-block;
      vertical-align: top;
      font-size: 0; }
  .hotel .hotel-image {
    width: 312px;
    height: 260px; }
  .hotel .hotel-content {
    padding: 0 20px;
    width: 738px;
    height: 260px;
    overflow: hidden; }
    .hotel .hotel-content h2 {
      font-size: 22px;
      margin-top: 24px;
      margin-bottom: 10px; }
    .hotel .hotel-content ul {
      padding-left: 0;
      list-style: none;
      font-size: 16px;
      margin: 10px 0; }
      .hotel .hotel-content ul li {
        color: #525252;
        line-height: 1.5;
        padding-left: 14px;
        position: relative; }
        .hotel .hotel-content ul li i {
          font-size: 36px;
          line-height: 16px;
          position: absolute;
          left: -12px;
          top: 4px;
          color: #DDD; }
  .hotel .hotel-level {
    font-size: 16px; }
    .hotel .hotel-level > div {
      display: inline-block;
      width: 80px;
      height: 28px;
      vertical-align: middle;
      line-height: 28px;
      color: #FF6602; }
    .hotel .hotel-level i {
      overflow: hidden;
      display: inline-block;
      font-size: 16px; }
  .hotel .buy-ctn {
    position: absolute;
    bottom: 55px;
    right: 45px; }
    .hotel .buy-ctn .price {
      font-size: 16px;
      text-align: center;
      font-style: normal; }
      .hotel .buy-ctn .price i {
        font-style: normal;
        font-size: 18px;
        color: #C70000; }
      .hotel .buy-ctn .price em {
        font-size: 26px;
        font-style: normal;
        color: #C70000; }
    .hotel .buy-ctn a {
      font-size: 18px;
      color: #FFF;
      background: #C70000;
      padding: 8px 25px;
      display: block;
      margin-top: 4px; }
      .hotel .buy-ctn a:hover {
        text-decoration: none;
        background: #a20000; }
      .hotel .buy-ctn a:after {
        content: '马上预订'; }

@media only screen and (max-width: 40.063rem) {
  ins {
    display: none !important; }

  .header {
    background: url(../images/header_for_mobile.jpg) center center;
    background-size: auto 238px;
    height: 238px; }

  .main-content {
    padding: 0 4%;
    width: 100%; }

  .hotel .hotel-title {
    background: url(../images/city_bg_mobile.png) no-repeat;
    background-size: 50%;
    line-height: 34px;
    height: 34px;
    top: 0;
    font-size: 1.6rem; }
  .hotel .hotel-image {
    width: 100%;
    height: auto; }
    .hotel .hotel-image img {
      width: 100%;
      height: auto; }
  .hotel .hotel-content {
    width: 100%;
    height: auto;
    padding: 0 4%; }
    .hotel .hotel-content h2 {
      font-size: 1.8rem;
      margin: 5px 0;
      font-weight: normal; }
    .hotel .hotel-content ul {
      display: none; }
  .hotel .hotel-level {
    display: none; }
  .hotel .buy-ctn {
    position: static;
    margin: 15px 0px; }
    .hotel .buy-ctn .price {
      width: 50%;
      display: inline-block;
      text-align: left; }
    .hotel .buy-ctn a {
      width: 50%;
      display: inline; }
      .hotel .buy-ctn a:after {
        content: '查看详情'; } }
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  ins {
    display: none !important; }

  .header {
    background: url(../images/header_for_pad.jpg) center center;
    height: 332px; }

  .main-content {
    width: 636px; }

  .hotel .hotel-title {
    background: url(../images/city_bg_pad.png) no-repeat;
    height: 40px;
    left: -2px;
    line-height: 40px;
    top: 0; }
  .hotel .hotel-image {
    width: 211px;
    height: 200px;
    overflow: hidden; }
    .hotel .hotel-image img {
      height: 100%; }
  .hotel .hotel-content {
    width: 410px;
    font-size: 14px;
    height: 200px;
    padding: 0 10px; }
    .hotel .hotel-content h2 {
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 0; }
    .hotel .hotel-content ul {
      font-size: 14px;
      margin: 0;
      width: 262px; }
  .hotel .buy-ctn {
    bottom: 25px;
    right: 25px; }
    .hotel .buy-ctn a:after {
      content: '预订'; }
  .hotel .hotel-level {
    font-size: 14px; } }

/*# sourceMappingURL=hotel_plus.css.map */
