.city-more {
  padding: 20px 0;
  .other-cities, .rec-cities {
    padding: 15px 10px;
    .left-title {
      font-size: 16px;
      float: left;
      width: 160px;
      height: 36px;
      line-height: 36px;
      color: #6faf7c;
    }
    .right-content {
      margin: 0;
      padding: 0;
      float: left;
      list-style: none;
      .city-item {
        color: #888;
        height: 36px;
        line-height: 36px;
        float: left;
        margin-right: 20px;
        transition: all 0.1s;
        a {
          color: #888;
        }
        &:hover {
          margin-top: -2px;
          a {
            color: #aaa;
          }
        }
      }
      .group-item {
        height: 36px;
        line-height: 36px;
        overflow: hidden;
        .left-group-title {
          float: left;
          margin-right: 40px;
          &:after {
            content: '\e60e';
            font-family: hitour;
            font-size: 12px;
            margin-left: 3px;
            color: #bbb;
          }
        }
        .right-group-contnt {
          margin: 0;
          padding: 0;
          list-style: none;
          float: left;
        }
      }
    }
  }
}