/* layout --------------------------- */

.activity-header {
  position: relative;
  height: 450px;
  background: url("../images/activities/double12/banner.png") no-repeat center bottom;
}

.activity-footer {
  padding: 60px 0;
  background-color: #d10022;
}

/* module --------------------------- */

.activity-timer {
  padding-top: 290px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 20 \px;
  font-weight: bold;
  .timer-content {
    margin-top: 10px;
    i {
      font-style: normal;
      vertical-align: top;
      line-height: 40px;
      font-size: 20px;
      font-weight: bold;
    }
  }
  .timer-hours, .timer-minutes, .timer-seconds {
    display: inline-block;
    width: 70px;
    p {
      margin-top: 5px;
      font-size: 12px;
    }
  }
  .hours-number, .minutes-number, .seconds-number {
    margin: 0 auto;
    background-color: #a3001a;
    width: 50px;
    height: 40px;
    line-height: 40px;
    font-size: 34px;
  }
}

.activity-rule-btn {
  position: absolute;
  bottom: 80px;
  left: 50%;
  margin-left: 343px;
  width: 157px;
  height: 47px;
  background: url("../images/activities/double12/1212rule_btn.png") no-repeat center;
  cursor: pointer;
}

.activity-nav {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 50%;
  width: 1000px;
  margin-left: -500px;
  transition: all 0.3s;
  &.fixed {
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0;
    width: 100%;
    margin-left: 0;
    z-index: 100;
    .nav-item {
      border-bottom-width: 3px;
      border-top-width: 0;
      &:hover {
        margin-top: 0;
        margin-bottom: -5px;
      }
      &.active {
        height: 60px;
        line-height: 57px;
        margin-top: 0;
        margin-bottom: -5px;
      }
    }
  }
  .nav-item {
    float: left;
    width: 16.666667%;
    height: 55px;
    line-height: 52px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-width: 0;
    border-top-width: 3px;
    border-bottom-width: 0;
    border-style: solid;
    &:hover {
      margin-top: -5px;
      margin-bottom: 0;
      cursor: pointer;
      height: 60px;
      line-height: 57px;
    }
  }
}

.group-title-row {
  padding-top: 40px;
  color: #fff;
  .left-col {
    float: left;
    width: 50%;
    text-align: left;
  }
  .cn-name {
    display: inline-block;
    font-size: 50px;
    font-weight: 800;
  }
  .en-name {
    display: inline-block;
    margin-left: 10px;
    font-size: 32px;
  }
  .right-col {
    float: right;
    width: 50%;
  }
  .more-btn {
    display: block;
    float: right;
    margin-top: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    i {
      font-size: 14px;
      font-weight: bold;
    }
  }
}

.products-wrap {
  margin-left: -20px;
  padding-bottom: 60px;
}

.product-item {
  float: left;
  width: 320px;
  margin: 20px 0 0 20px;
  padding-bottom: 20px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
  .product-image-row {
    position: relative;
    width: 100%;
    height: 220px;
    overflow: hidden;
  }
  .product-image-cover {
    display: block;
    width: 100%;
  }
  .product-price {
    position: absolute;
    bottom: 10px;
    right: 0;
    height: 36px;
    line-height: 36px;
    font-weight: bold;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 12px;
    .wow-price {
      font-weight: bold;
      em {
        font-size: 26px;
        font-style: normal;
      }
    }
    .orig-price {
      color: #ddd;
      margin-left: 5px;
      text-decoration: line-through;
      em {
        font-style: normal;
      }
    }
  }
  .product-name-row {
    padding: 15px 20px 0;
  }
  .product-name {
    font-size: 18px;
    line-height: 23px;
    height: 46px;
    overflow: hidden;
    font-weight: normal;
    color: #222;
  }
  .product-blood-row {
    position: relative;
    float: left;
    width: 100%;
    padding: 0 20px;
    color: #f60;
    font-size: 12px;
  }
  .blood-above {
    text-align: right;
  }
  .blood-line {
    width: 100%;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 2px;
    overflow: hidden;
  }
  .blood-left {
    height: 8px;
  }
  .blood-under {
    height: 14px;
    line-height: 14px;
    position: relative;
  }
  .blood-count {
    position: absolute;
    bottom: 0;
    width: 60px;
    text-align: right;
    margin-left: -60px;
    &.low-blood {
      text-align: left;
      margin-left: 0;
    }
  }
  .product-buy-row {
    float: left;
    padding: 20px 20px 5px;
    width: 100%;
  }
  .product-buy-btn {
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 46px;
    line-height: 46px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-radius: 2px;
    cursor: default;
    &.ready, &.on {
      &:hover {
        cursor: pointer;
        border-bottom-width: 2px;
      }
    }
    &.disable {
      background-color: #ccc !important;
    }
  }
}

.activity-rule {
  height: 422px;
  background: url("../images/activities/double12/1212rule.png") no-repeat center;
}

.activity-qr-phone {
  margin-top: 50px;
  height: 212px;
  background: url("../images/activities/double12/qr_phone.png") no-repeat center;
}

.bottom-fixed-bar {
  display: none;
  border-top: 1px solid #f7f7f7;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 11;
  .inner-box {
    width: 1000px;
    margin: 0 auto;
    padding: 38px 0;
    font-size: 0;
    position: relative;
    ol {
      list-style: decimal;
    }
  }
  .left-msg {
    display: inline-block;
    vertical-align: top;
    font-size: 33px;
    color: #0f5dad;
    width: 445px;
    text-align: center;
  }
  .qr-code {
    background: url(../images/activities/fridaysale/qrcode.jpeg);
    width: 106px;
    height: 106px;
    margin-right: 20px;
  }
  .email-ctn {
    display: inline-block;
    vertical-align: top;
    ol {
      padding: 0 22px;
      margin: 5px 0;
      color: #666;
      font-size: 14px;
    }
  }
  .close-btn {
    background: url(../images/activities/fridaysale/close-btn.png);
    display: block;
    position: absolute;
    right: -10px;
    top: 10px;
    width: 22px;
    height: 22px;
  }
  .lcd {
    font-size: 16px;
    display: none;
  }
  .email-holder {
    input {
      vertical-align: top;
      height: 35px;
      line-height: 35px;
      border: 1px solid #ccc;
      width: 315px;
      font-size: 16px;
      color: #666;
      padding-left: 10px;
    }
    button {
      vertical-align: top;
      height: 35px;
      line-height: 35px;
      padding: 0 20px;
      color: #fff;
      font-size: 20px;
      border: 1px solid #aaa;
      background: #ccc;
      margin-left: 20px;
    }
  }
}
