// 栅格系统
@import "_skeleton";

.page.city {
    font-family             : "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "华文细黑", "STHeiti", "微软雅黑", "Microsoft YaHei", SimHei, sans-serif;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}

/* layout ------------------------- */

.city-content {
    position : relative;
    padding  : 40px 0;
    .side-bar {
        min-height : 10px;
    }
}

/* module ------------------------- */
.loading-indicator {
    top        : 0;
    right      : 0;
    bottom     : 0;
    z-index    : 100;
    display    : none;
    position   : absolute;
    background : rgba(255, 255, 255, 0.8) url('../images/common/partial_loading.gif') center center no-repeat;
}

.border-top {
    border-top : 1px solid #ddd;
}

.cate-wrap {
    width : 230px;
}

.cate {
    padding-bottom : 5px;
    .active {
        background-color : #6db381;
        &.cate-B-item, &.cate-A-item {
            margin-right  : -10px;
            padding-right : 10px;
        }
        span, i {
            color : #fff !important;
        }
    }
    .item-hover:hover {
        position   : relative;
        transition : all 0.2s;
        margin     : 0 -5px 0 5px;
        cursor     : pointer;
    }
    .cate-title {
        height      : 30px;
        line-height : 30px;
        padding     : 0 10px;
        font-size   : 16px;
        span {
            display        : inline-block;
            vertical-align : top;
            width          : 85%;
            color          : #6db381;
            font-weight    : bold;
        }
        i {
            display        : inline-block;
            vertical-align : top;
            width          : 15%;
            font-style     : normal;
            color          : #888;
            font-size      : 12px;
            text-align     : right;
        }
    }
    .tags-wrap {
        padding : 5px 0;
    }
    .cate-A {
        margin  : 0 0 0 15px;
        padding : 0 10px 0 0;
        .cate-B {
            margin  : 0;
            padding : 0 0 10px;
        }
    }
    .cate-B {
        margin     : 0 0 0 15px;
        padding    : 5px 10px 10px 0;
        list-style : none;
    }
    .cate-A-item {
        line-height : 28px;
        padding     : 0 0 0 10px;
        max-height  : 56px;
        overflow    : hidden;
        span {
            display        : inline-block;
            vertical-align : top;
            width          : 85%;
            font-weight    : bold;
        }
        i {
            display        : inline-block;
            vertical-align : top;
            width          : 15%;
            font-size      : 12px;
            text-align     : right;
            font-style     : normal;
            line-height    : 24px;
            color          : #888;
        }
    }
    .cate-B-item {
        line-height : 28px;
        padding     : 0 0 0 15px;
        max-height  : 56px;
        overflow    : hidden;
        //    border-left: 1px solid #ddd;
        list-style  : disc inside;
        span {
            display        : inline-block;
            vertical-align : top;
            width          : 70%;
        }
        i {
            display        : inline-block;
            vertical-align : top;
            width          : 15%;
            font-size      : 12px;
            text-align     : right;
            font-style     : normal;
            line-height    : 24px;
            color          : #888;
        }
    }

    &.cate-v2 {
        padding-bottom : 15px;
    }
}

.products.city-v2 {
    .products-groups {
        position      : relative;
        margin-bottom : 60px;
        .products-list {
            padding-bottom : 0;
        }
        .group-title {
            width         : 590px;
            margin-bottom : 54px;
            display       : block;
            position      : relative;
            text-align    : center;
        }
        .group-name {
            display     : inline;
            padding     : 0 32px;
            font-size   : 22px;
            font-weight : bold;
            color       : #525252;
            position    : relative;
            &:before {
                width         : 89px;
                height        : 6px;
                content       : "";
                margin-bottom : 5px;
                margin-right  : 32px;
                display       : inline-block;
                z-index       : 0;
                border-top    : 1px solid #c5c5c5;
                border-bottom : 1px solid #c5c5c5;
            }
            &:after {
                width         : 89px;
                height        : 6px;
                content       : "";
                margin-top    : 8px;
                margin-left   : 32px;
                display       : inline-block;
                border-top    : 1px solid #c5c5c5;
                border-bottom : 1px solid #c5c5c5;
                position      : absolute;
            }
        }
        .group-lines {
            float         : left;
            width         : 89px;
            margin-top    : 8px;
            height        : 6px;
            content       : "";
            display       : block;
            z-index       : 0;
            border-top    : 1px solid #c5c5c5;
            border-bottom : 1px solid #c5c5c5;
        }
        .more-indicator {
            color     : #333;
            right     : 6px;
            bottom    : -34px;
            cursor    : pointer;
            position  : absolute;
            font-size : 12px;
            .switch-icon {
                padding-left : 4px;
                font-size    : 6px;
            }
        }
        a.more-indicator {
            &:hover {
                text-decoration : none;
            }
        }
    }
    .more-products-group {
        display : none;
    }
}

.search-result-header {
    border-bottom : 1px solid #eee;
    padding       : 0 15px 5px;
    .result-title {
        float     : left;
        font-size : 28px;
        color     : #999;
        span {
            color : #e65;
        }
    }
    .result-count {
        float      : right;
        font-size  : 12px;
        margin-top : 20px;
        color      : #666;
    }
}

.search-none-ps {
    margin-top: 20px;
    background-color: #ffa;
    padding: 0 15px;
    line-height: 40px;
    height: 40px;
}

.products-groups {
    .group-title {
        padding : 0 15px;
    }
    .group-name {
        font-weight    : 200;
        font-size      : 24px;
        line-height    : 1;
        padding-bottom : 8px;
        color          : #222;
    }
    .group-desc {
        font-size : 14px;
        color     : #666;
    }
    .group-more-btn {
        float       : left;
        height      : 50px;
        line-height : 50px;
        width       : 100%;
        text-align  : center;
        &:hover {
            cursor          : pointer;
            text-decoration : underline;
        }
        i {
            color     : #888;
            font-size : 12px;
        }
    }
}

.group-article {
    margin-top  : 20px;
    margin-left : 15px;
    overflow    : hidden;
    position    : relative;
    color       : #fff;
    &:hover {
        box-shadow : 8px 8px 8px #e8e8e8;
        outline    : 1px solid #e8e8e8;
        cursor     : pointer;
    }
    .card-cover {
        width : 100%;
    }
    .text-shadow-radial {
        top        : 0;
        left       : 0;
        right      : 0;
        bottom     : 0;
        width      : 100%;
        height     : 100%;
        position   : absolute;
        background : rgba(0, 0, 0, 0.3);
    }
    .article-city {
        float       : left;
        font-size   : 20px;
        width       : 150px;
        text-align  : center;
        line-height : 30px;
        padding-top : 6.5%;
        text-shadow : 1px 1px 5px #000;
    }
    .article-line {
        float            : left;
        height           : 38px;
        width            : 1px;
        background-color : #fff;
        margin-top       : 56px;
    }
    .article-name {
        padding        : 0px 20px;
        font-size      : 24px;
        line-height    : 30px;
        width          : 370px;
        height         : 146px;
        display        : table-cell;
        text-shadow    : 1px 1px 5px #000;
        vertical-align : middle;
    }
    .article-link {
        width            : 116px;
        height           : 34px;
        float            : right;
        color            : #fff;
        background-color : rgba(109, 179, 129, 0.9);
        font-size        : 14px;
        line-height      : 34px;
        border-radius    : 15px;
        text-align       : center;
        position         : absolute;
        top              : 39.5%;
        right            : 39px;
    }
}

.products-list {
    padding : 20px 0 50px;
}

.special-tag {
    .custom {
        color       : #fff;
        height      : 20px;
        padding     : 0 7px;
        font-size   : 14px;
        text-align  : center;
        background  : url("../images/city/tagv2_repeat.png") repeat-x;
        line-height : 20px;
        &:after {
            top             : 0;
            right           : -15px;
            width           : 15px;
            height          : 20px;
            content         : "";
            position        : absolute;
            background      : url("../images/city/tagv2_side.png") no-repeat;
            background-size : 100%;
        }
    }
    .fixed-bg {
        max-width : 100%;
    }
    left               : 0;
    bottom             : 15px;
    position           : absolute;
    max-width          : 100%;
    transition         : 0.3s;
    -moz-transition    : 0.3s;
    -webkit-transition : 0.3s;
}

.product-item {
    &:hover {
        position   : relative;
        box-shadow : 0 0 8px #e8e8e8;
        outline    : 1px solid #e8e8e8;
        cursor     : pointer;
        z-index    : 2;
        .product-wrap {
            border-bottom : 1px solid #fff;
        }
    }
    .product-wrap {
        position         : relative;
        background-color : #fff;
        padding          : 15px 160px 15px 15px;
        border-bottom    : 1px solid #ddd;
    }
    .product-name-block {
        float   : right;
        width   : 350px;
        padding : 0 20px;
        color   : #444;
    }
    .product-name-cnname {
        font-size   : 18px;
        line-height : 1.2;
    }
    .product-img-block {
        float    : left;
        width    : 180px;
        height   : 130px;
        position : relative;
        overflow : hidden;
    }
    .product-service-block {
        float   : left;
        width   : 350px;
        padding : 12px 20px 0 35px;
        h2 {
            font-size : 14px;
            color     : #aaa;
        }
        ol {
            margin      : 0;
            padding     : 3px 0 0 5px;
            list-style  : disc inside;
            line-height : 1.4;
            height      : 4.2em;
            overflow    : hidden;
            color       : #666;
        }
        p {
            color : #666;
        }
    }
    .product-price {
        position     : absolute;
        top          : 50px;
        right        : 0;
        width        : 140px;
        padding-left : 20px;
        border-left  : 1px solid #eee;
        text-align   : center;
        font-size    : 12px;
        .hi-price {
            color : #f60;
            em {
                font-size  : 28px;
                font-style : normal;
            }
        }
        .orig-price {
            color : #888;
            em {
                font-size       : 14px;
                text-decoration : line-through;
            }
        }
        .sales-block {
            color       : #888;
            font-size   : 12px;
            padding-top : 5px;
        }
        .sales_volume {
            color : #f60;
        }
    }
}

.products-groups.top-10 {
    .product-card {
        width  : 221px;
        margin : 0 9px;
        float  : left !important;
    }
    .product-item {
        padding-bottom : 1px;
        .price {
            right              : 0;
            color              : #fff;
            bottom             : 15px;
            padding            : 2px 10px;
            display            : block;
            position           : absolute;
            background         : rgba(109, 179, 129, .8);
            transition         : 0.3s;
            -moz-transition    : 0.3s;
            -webkit-transition : 0.3s;
            em {
                font-size  : 22px;
                font-style : normal;
            }
        }
    }
    .first-row {
        padding-bottom : 20px;
        .product-item {
            &:hover {
                outline         : 0;
                box-shadow      : none;
                text-decoration : none;
            }
        }
        .product-wrap {
            border   : 1px solid #d9d9d9;
            height   : 330px;
            padding  : 0;
            position : relative;
            overflow : hidden;
            &:hover {
                box-shadow : 0 0 8px #e8e8e8;
                outline    : 1px solid #e8e8e8;
            }
        }
        .product-image {
            width  : 100%;
            height : 170px;
        }
        .over-image {
            top      : 0;
            left     : 0;
            right    : 0;
            height   : 170px;
            position : absolute;
        }
        .name-block {
            width    : 100%;
            height   : 78px;
            overflow : hidden;
            padding  : 16px 11px 0 11px;
        }
        .name-text {
            color       : #353535;
            font-weight : bold;
            max-height  : 48px;
            overflow    : hidden;
            font-size   : 16px;
            line-height : 24px;
        }
        .benefit-text {
            color     : #999;
            font-size : 12px;
        }
        .price-block {
            margin-top   : 9px;
            padding-left : 11px;
            color        : #f60;
            font-size    : 14px;
            em {
                font-size  : 22px;
                font-style : normal;
            }
        }
        .old-price-text {
            padding-left : 11px;
            font-size    : 12px;
            color        : #666;
        }
        .old-price-gold {
            font-size       : 12px;
            text-decoration : line-through;
            color           : #666;
        }
        .sales-block {
            margin-top       : 2px;
            border-top       : 1px solid #d9d9d9;
            height           : 38px;
            color            : #666;
            background-color : #f7f7f7;
            font-size        : 12px;
            padding          : 12px 0 0 10px;
        }
        .sales_volume {
            color : #f60;
        }
    }
}

.products-groups.experience {
    .articles-list {
        margin-right : -48px;
    }
    .name-wrap {
        top        : 0;
        left       : 0;
        right      : 0;
        bottom     : 0;
        width      : 100%;
        height     : 100%;
        display    : table;
        position   : absolute;
        background : -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%); /* FF3.6+ */
        background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.6))); /* Chrome,Safari4+ */
        background : -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%); /* Chrome10+,Safari5.1+ */
        background : -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%); /* Opera 11.10+ */
        background : -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%); /* IE10+ */
        background : linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%); /* W3C */
        /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=1 );  IE6-9 */
    }
    .article-item {
        width         : 230px;
        height        : 274px;
        position      : relative;
        overflow      : hidden;
        margin-right  : 15px;
        margin-bottom : 15px;
        border-radius : 3px;
        &:hover {
            box-shadow : 8px 8px 8px #e8e8e8;
            outline    : 1px solid #e8e8e8;
            cursor     : pointer;
        }
        .article-cover {
            width  : 100%;
            height : 100%;
        }
        .name-block {
            color    : #fff;
            width    : 100%;
            height   : 274px;
            padding  : 184px 15px 10px 15px;
            position : relative;
            .article-name {
                font-size   : 18px;
                line-height : 28px;
                font-weight : normal;
                text-shadow : 0px 1px 1px rgba(0, 0, 0, 0.75);
                position    : absolute;
                bottom      : 33px;
            }
            .article-link {
                font-weight : normal;
                text-shadow : 0px 1px 1px rgba(0, 0, 0, 0.75);
                font-size   : 14px;
                line-height : 28px;
                color       : #6db381;
                position    : absolute;
                right       : 20px;
                bottom      : 10px;
            }
        }
    }
}

.products-groups.package {
    .product-item {
        height        : 135px;
        padding       : 0;
        position      : relative;
        overflow      : hidden;
        margin-bottom : 20px;
        border-radius : 3px;
        &:hover {
            box-shadow : 8px 8px 8px #e8e8e8;
            outline    : 1px solid #e8e8e8;
            cursor     : pointer;
        }
        &.card-12 {
            .name-block {
                .product-name {
                    height        : 73px;
                    width         : 425px;
                    padding-right : 18px;
                    font-size     : 22px;
                    line-height   : 35px;
                    border-right  : 1px solid #fff;
                    text-shadow   : 0px 1px 1px rgba(0, 0, 0, 0.75);
                    word-break    : break-all;
                }
            }
        }
    }
    .product-icon {
        color         : #666;
        float         : left;
        width         : 74px;
        height        : 74px;
        font-size     : 30px;
        background    : white;
        text-align    : center;
        line-height   : 74px;
        margin-right  : 30px;
        border-radius : 50%;
    }
    .name-block {
        top        : 0;
        left       : 0;
        right      : 0;
        color      : white;
        bottom     : 0;
        padding    : 30px 0 30px 30px;
        z-index    : 9;
        position   : absolute;
        background : rgba(0, 0, 0, 0.5); /* Old browsers */
        background : -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0) 75%); /* FF3.6+ */
        background : -webkit-gradient(linear, left top, right top, color-stop(25%, rgba(0, 0, 0, 0.5)), color-stop(75%, rgba(0, 0, 0, 0))); /* Chrome,Safari4+ */
        background : -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0) 75%); /* Chrome10+,Safari5.1+ */
        background : -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0) 75%); /* Opera 11.10+ */
        background : -ms-linear-gradient(left, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0) 75%); /* IE10+ */
        background : linear-gradient(to right, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0) 75%); /* W3C */
        /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=1 ); IE6-9 */
        .name {
            float : left;
            width : 425px;
        }
        .product-name {
            width       : 100%;
            overflow    : hidden;
            font-size   : 28px;
            font-weight : normal;
            line-height : 40px;
        }
        .price {
            text-shadow : 1px 1px 5px #000;
        }
        .price-center {
            text-align : center;
        }
        .show-price {
            font-size : 28px;
        }
        .show-unit {
            font-size : 16px;
        }
        .show-save {
            font-size : 16px;
        }
        .product-desc {
            font-size   : 16px;
            line-height : 26px;
        }
    }
    .second-bg {
        top        : 0;
        left       : 0;
        right      : 0;
        bottom     : 0;
        z-index    : 7;
        position   : absolute;
        background : rgba(0, 0, 0, 0.2);
    }
    .package-cover {
        width    : 100%;
        height   : 100%;
        z-index  : 5;
        position : absolute;
    }
    .more-products-group {
        width       : 735px;
        position    : relative;
        padding-top : 60px;
        .product-item {
            width        : 352px;
            margin-right : 15px;
        }
        .name-block {
            top        : 0;
            left       : 0;
            right      : 0;
            bottom     : 0;
            padding    : 80px 20px 0 20px;
            overflow   : hidden;
            position   : absolute;
            font-size  : 0;
            background : -moz-linear-gradient(top, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .8) 100%); /* FF3.6+ */
            background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, .2)), color-stop(100%, rgba(0, 0, 0, .8))); /* Chrome,Safari4+ */
            background : -webkit-linear-gradient(top, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .8) 100%); /* Chrome10+,Safari5.1+ */
            background : -o-linear-gradient(top, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .8) 100%); /* Opera 11.10+ */
            background : -ms-linear-gradient(top, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .8) 100%); /* IE10+ */
            background : linear-gradient(to bottom, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .8) 100%); /* W3C */
        }
        .product-name {
            width        : 100%;
            display      : block;
            font-size    : 20px;
            word-wrap    : break-word;
            line-height  : 26px;
            white-space  : normal;
            padding-left : 15%;
        }
        .icon {
            left       : 22px;
            bottom     : 14px;
            position   : absolute;
            font-size  : 20px;
            text-align : left;
        }
    }
}

.products-groups.line {
    .line-item {
        height        : 232px;
        padding       : 0;
        position      : relative;
        overflow      : hidden;
        margin-bottom : 20px;
        border-radius : 3px;
        &:hover {
            box-shadow : 8px 8px 8px #e8e8e8;
            outline    : 1px solid #e8e8e8;
            cursor     : pointer;
        }
    }
    .second-bg {
        top        : 0;
        left       : 0;
        right      : 0;
        bottom     : 0;
        z-index    : 7;
        position   : absolute;
        background : rgba(0, 0, 0, 0.2);
    }
    .line-cover {
        width    : 100%;
        height   : 100%;
        z-index  : 5;
        position : absolute;
    }
    .name-block {
        top        : 0;
        left       : 0;
        right      : 0;
        color      : white;
        bottom     : 0;
        z-index    : 9;
        position   : absolute;
        background : rgba(0, 0, 0, 0.5); /* Old browsers */
        background : -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0) 75%); /* FF3.6+ */
        background : -webkit-gradient(linear, left top, right top, color-stop(25%, rgba(0, 0, 0, 0.5)), color-stop(75%, rgba(0, 0, 0, 0))); /* Chrome,Safari4+ */
        background : -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0) 75%); /* Chrome10+,Safari5.1+ */
        background : -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0) 75%); /* Opera 11.10+ */
        background : -ms-linear-gradient(left, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0) 75%); /* IE10+ */
        background : linear-gradient(to right, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0) 75%); /* W3C */
        /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=1 ); IE6-9 */
        .left-content {
            margin : 40px 0 40px 40px;
            width  : 430px;
            height : 152px;
            float  : left;
        }
        .product-name {
            width       : 430px;
            height      : 40px;
            overflow    : hidden;
            font-size   : 30px;
            font-weight : normal;
            line-height : 40px;
        }
        .line-city {
            position : absolute;
            top      : 92px;
        }
        .line-city-text {
            font-size : 14px;
            color     : #39b8e8;
        }
        .line-city-names {
            font-size : 20px;
        }
        .line-bottom {
            position : absolute;
            top      : 138px;
        }
        .show-block {
            padding-left : 16px;
        }
        .show-line {
            position         : relative;
            top              : 10px;
            background-color : #fff;
            width            : 1px;
            height           : 42px;
            margin-left      : 16px;
            display          : inline-block;
        }
        .car-icon {
            position         : relative;
            top              : 3px;
            color            : #727272;
            font-size        : 31px;
            background-color : #fff;
            border-radius    : 40px;
            padding          : 11px;
        }
        .line-days {
            font-size : 42px;
        }
        .show-price {
            font-size : 32px;
        }
        .show-unit {
            font-size : 15px;
        }
        .show-save {
            font-size : 20px;
        }
        .right-content {
            float          : left;
            width          : 250px;
            height         : 232px;
            padding-top    : 7px;
            padding-bottom : 7px;
            padding-right  : 20px;
        }
        .right-cover {
            width  : 100%;
            height : 100%;
        }
    }
}

.products-groups.hotel-plus {
    .product-item {
        height           : 135px;
        padding          : 0;
        position         : relative;
        overflow         : hidden;
        margin-bottom    : 20px;
        border-radius    : 3px;
        border           : 2px solid #e65;
        color            : #e65;
        background-color : #fff;
        &:hover {
            cursor           : pointer;
            background-color : #e65;
            color            : #fff;
            .name-block {
                .counts-center {
                    border-color : #fff;
                }
            }
        }
        &.card-12 {
            .name-block {
                .hotel-plus-title {
                    width          : 480px;
                    padding-right  : 18px;
                    font-size      : 28px;
                    text-align     : center;
                    line-height    : 47px;
                    font-weight    : 600;
                    word-break     : break-all;
                    letter-spacing : 4px;
                }
            }
        }
    }
    .name-block {
        top      : 0;
        left     : 0;
        right    : 0;
        bottom   : 0;
        padding  : 15px 0px 10px 30px;
        z-index  : 9;
        position : absolute;
        .name {
            float : left;
            width : 482px;
        }
        .hotel-plus-title {
            width       : 100%;
            overflow    : hidden;
            font-size   : 28px;
            font-weight : normal;
            line-height : 40px;
        }
        .counts {
            float : left;
            width : 200px;
        }
        .counts-center {
            text-align  : center;
            border-left : 1px solid #e65;
            height      : 40px;
            margin-top  : 30px;
            line-height : 40px;
            font-size   : 15px;
        }
        .product-desc {
            font-size     : 15px;
            line-height   : 26px;
            text-align    : center;
            padding-right : 18px;
            width         : 480px;
        }
        .hotel-plus-content {
            font-size     : 22px;
            line-height   : 26px;
            text-align    : center;
            padding-right : 18px;
            width         : 480px;
        }
    }
}

/*

@media (min-width: 1250px) {
  .product-item {
    .product-wrap {
      padding: 15px 0px;
    }
    .product-name-block {
      float: left;
      width: 320px;
      padding: 0 20px 10px 0;
    }
    .product-img-block {
      float: left;
      width: 150px;
      height: 110px;
      overflow: hidden;
    }
    .product-service-block {
      float: left;
      width: 235px;
      padding: 15px 0 0 20px;
      h2 {
        font-size: 14px;
        color: #aaa;
      }
      ol {
        font-size: 12px;
        margin: 0;
        padding: 3px 0 0 5px;
        list-style: disc inside;
        line-height: 1.4;
        height: 5.6em;
        overflow: hidden;
        color: #666;
      }
    }
    .product-price {
      top: 12px;
      width: 105px;
      border-left: none;
      text-align: right;
      line-height: 1.1;
      .hi-price {
        em {
          font-size: 20px;
        }
      }
      .orig-price {
        em {
          font-size: 12px;
        }
      }
    }
  }
}*/
