@import "common";
.main-wrap{
  background: #f2f2f2;
}

.city-cover-ctn.fold {

  .fix-wrap {
    position: fixed;
    top: 0;
    height: 125px;
    z-index: 5;
    background: #ededed;
    overflow: visible;
  }
  .img-ctn {

    -webkit-filter: blur(8px);
    -moz-filter:blur(8px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='8');
  }
  .city-name-ctn {
    //bottom:45px;

  }
  .city-en-name {
    // display: none;
  }
}

.city-cover-ctn {
  height: 270px;
  .fix-wrap {
    position: relative;
    width: 100%;
    height: 270px;
    overflow: hidden;
  }
  .img-ctn {
    height: 270px;
    @include bg-rgba(0, 0, 0, 0.4);
    background-color:#000;
    background-repeat: no-repeat;
    background-position: center bottom ;
    overflow: hidden;
    position: absolute;
    width: 102%;
    margin-left: -1%;
  }
  .city-name-ctn {
    position: absolute;
    bottom: 120px;
    width: 1000px;
    left: 50%;
    margin-left: -500px;
    z-index: 1;
    text-shadow: 2px 2px 10px #000;

  }
  .city-cn-name {
    font-size: 46px;
    color: #fff;
  }
  .city-en-name {
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    font-family: "helvetica_neue_thin";
  }
  .nav-ctn {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    @include bg-rgba(0,0,0,0.4);
    nav {
      width: 1000px;
      margin: 0 auto;
      color: #fff;
      a {
        font-size: 14px;
        color: #fff;
        line-height: 30px;
        padding-bottom: 1px;
        border-bottom: 1px solid transparent;
      }
      a:hover {
        border-bottom: 1px solid #fff;
        text-decoration: none;
      }
      .sep {
        margin: 0 8px;
      }
    }
  }
}

.main-content {
  .favorite {
    background: #f2f2f2;
    position: relative;
    .section-title {
      color: #6DB381;
      text-align: center;
      margin-top: 43px;
      margin-bottom: 37px;
    }
    .favorite-pro-list {
      overflow: hidden;
      position: relative;
      height: 332px;
      .col-md-3 {
        width: 255px;
      }
      .row {
        position: absolute;
        transition: 0.6s;
        height: 307px;
        overflow: hidden;
      }
    }
    .arrow-left{
      width: 70px;
      height: 90px;
      position: absolute;
      left: -100px;
      top: 205px;
      cursor: pointer;
      &:hover{
        background: #E1E1E1;
      }
      &:before{
        font-family: "Hitour";
        content:"\e60d";
        font-size: 50px;
        color: #FFF;
        position: absolute;
        top: 11px;
        left: 6px;
      }
    }
    .arrow-right{
      width: 70px;
      height: 90px;

      position: absolute;
      right: -100px;
      top: 205px;
      cursor: pointer;
      &:before{
        font-family: "Hitour";
        content:"\e60e";
        font-size: 50px;
        color: #FFF;
        position: absolute;
        top: 11px;
        left: 14px;
      }
      &:hover{
        background: #E1E1E1;
      }
    }
  }
  .all-product {
    background: #f2f2f2;
    overflow: hidden;
    @include genPrefix(transition,0.5s);
    &.fade-out{
      opacity: 0;
    }
    .section-title {
      margin-top: 36px;
      color: $big-title-grey;
    }
    .section-subtitle {
      margin-bottom: 36px;
      margin-top: 10px;
      color: #929292;
    }
  }
  .section-subtitle {
    font-size: 16px;
    width: 1000px;
    margin: 0 auto;
  }
  .section-title {
    font-size: 36px;
    line-height: 36px;
    width: 1000px;
    margin: 0 auto;
  }

  .group-desc {
    width: 650px;
    margin: 35px auto;
    margin-bottom: 0px;
    line-height: 32px;
    font-size: 16px;
    font-style: italic;
    padding: 20px;
    position: relative;
    &:before {
      font-family: "Hitour";
      content: '\e60b';
      position: absolute;
      font-size: 10px;
      color: black;
      top: 2px;
      left: 2px;
    }
    &:after {
      font-family: "Hitour";
      color: black;
      content: '\e60c';
      position: absolute;
      font-size: 10px;
      bottom: 2px;
      right: 2px;
    }
  }
  .hitour-specialist {
    text-align: center;
    .avantar {
      height: 60px;
      margin-left: 390px;
      line-height: 60px;
      padding-left: 75px;
      display: inline-block;
    }
  }

  .group-title {
    background: #fff;

    .group-img-ctn {
      float: left;
      margin-right: 24px;
      width: 340px;
      height: 307px;
    }

    .group-info {
      overflow: hidden;
      height: 307px;
      .group-title {
        margin-top: 22px;
        font-size: 34px;
        color: $big-title-grey;
      }

    }

  }
  .product-list {
    margin-top: 35px;
  }
  .product-block {
    margin-bottom: 20px;
  }
  .product-lg {
    height: 425px;
    overflow: hidden;
    background-color: white;
    display: block;
    position: relative;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
    .cover-ctn-lg {
      overflow: hidden;
      height: 304px;
      background: url(../images/common/holder.png);
      img {
        width: 490px;
        height: 336px;
      }
    }
    .product-info {
      padding: 0 18px 0 18px;
      position: relative;
      height: 70px;
      .product-name-lg {
        display: inline-block;
        text-align: left;
        font-size: 18px;
        width: 415px;
        vertical-align: middle;
        color: #333333;
      }
      .product-tmp {
        display: inline-block;
        vertical-align: middle;
        height: 70px;
      }
    }
    .price-ctn {
      font-weight: bold;
      font-family: "helvetica_neue_thin";
      margin-left: 18px;
      text-align: right;
      padding-right: 30px;
      .rmb:before{
        font-family: "Hitour";
        content: "\e617";
        font-style: normal;
        font-size: 70%;
        position: relative;
        top: -1px;
      }
      .orig-price-lg {
        font-size: 22px;
        color: $big-title-grey;
        margin-left: 2px;
        margin-right: 10px;
        position: relative;
        .line-through{
          width: 102%;
          position: absolute;
          border-top: 1px solid #525252;
          left: 0;
          top: 50%;
        }
      }
      >span {
        font-size: 30px;
        color: #f60;
        vertical-align: baseline;
      }
    }
    .product-mask-ctn{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 304px;
      overflow: hidden;
    }
    .product-mask {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 304px;
      @include bg-rgba(0,0,0,0.8);
      color: #fff;
      line-height: 26px;
      font-weight: bold;
      @include genPrefix(transition,0.6s);
      @include genPrefix(transform, translateY(304px));
      display: none\0;
      .cell-wrap-lg {
        display: table-cell;
        vertical-align: middle;
        height: 304px;
        text-align: center;
        width: 488px;
        @include genPrefix(transition,0.8s);
        @include genPrefix(transform, translateY(304px));
        .product-desc-lg {
          display: inline-block;
          padding: 26px 22px 26px 26px;
          width: 250px;
          font-size: 18px;
          position: relative;
          text-align: left;
          &:before {
            font-family: "Hitour";
            content: '\e60b';
            position: absolute;
            top: 2px;
            left: 2px;
          }
          &:after {
            font-family: "Hitour";
            content: '\e60c';
            position: absolute;
            bottom: 2px;
            right: 2px;
          }
        }
      }
    }
    &:hover .product-mask {
      display: block;
      @include genPrefix(transform, translateY(0));
      .cell-wrap-lg {
        @include genPrefix(transform, translateY(0));
      }
    }

  }
  .product {
    height: 306px;
    background: #fff;
    display: block;
    border: 1px solid #e1e1e1;
    position: relative;
    &:hover {
      text-decoration: none;
    }
    .cover-ctn {

      overflow: hidden;
      height:178px;
      background: url(../images/common/holder.png);
      img {
        width: 233px;
        height: 178px;
      }
    }
    .product-info {
      padding: 18px 18px 0 18px;
      position: relative;

      .product-name {
        text-align: left;
        font-size: 16px;
        color: #000;
        font-weight: bold;
        margin-bottom: 18px;

      }


    }
    .price-ctn {
      font-family: "helvetica_neue_thin";
      text-align: right;
      right: 12px;
      position: absolute;
      bottom: 6px;
      .orig-price {
        font-size: 16px;
        color: $big-title-grey;
        margin-right: 2px;
        text-decoration: line-through;
      }
      span {
        font-size: 18px;
        color: #f60;
        vertical-align: baseline;
      }
    }
    .product-mask {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @include bg-rgba(0,0,0,0.8);
      opacity: 0;
      color: #fff;
      line-height: 26px;
      font-weight: bold;
      transition:0.4s;
      display: none\0;
      .cell-wrap {
        display: table-cell;
        vertical-align: middle;
        height: 304px;
        text-align: center;
        width: 233px;
        .product-desc {
          display: inline-block;
          padding: 24px 20px 24px 24px;
          width: 215px;
          position: relative;
          text-align: left;
          &:before {
            font-family: "Hitour";
            content: '\e60b';
            position: absolute;
            top: 2px;
            left: 2px;
          }
          &:after {
            font-family: "Hitour";
            content: '\e60c';
            position: absolute;
            bottom: 2px;
            right: 2px;
          }
        }
      }
    }
    &:hover .product-mask {
      display: block;
      opacity: 1;
    }

  }

}
.underline-ctn{
  width: 1000px;
  margin: 0;
  height: 2px;
  position: relative;
//  border-top: 1px solid rgba(255,255,255,0.5);
  .underline{
    position: absolute;
    @include genPrefix(transition,0.6s);
    top: 0px;
    border: 1px solid #6db381;
    left:0;
  }
}
.fix-hold{
  height: 35px;
  //overflow: hidden;
  .fix-top{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
}

.fix-top .fix-wrap{
  width: 100%;
  position: fixed;
//  top: -211px;
  top: -226px;
  z-index: 1000;
}

.favorite-pro-list .row{
  width:1000px\9;
}
.activity-tag {
  position: absolute;
  top: 10px;
  left: 10px;
}

.special-tag {
  background: url(../images/common/special-tag-orange.png);
  width: 100px;
  height: 100px;
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
  z-index:20;

  h4 {
    color: #FFF;
    margin-top: 6px;
    font-weight: normal;
    font-size: 14px;

  }
  em {
    font-size: 24px;
    color: #fff;
    font-style: normal;
    font-family: Helvetica_Neue_Thin;
  }
  .channel {
    font-size: 12px;
    color: #FFF;
    width: 50px;
    @include inline-block(middle);
    line-height: 14px;
  }
}

.padding-row {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
}

.header-st {
//  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
//  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
//  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
//  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
//  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
//  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
//  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

  background-color: #f2f2f2;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 45px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.header-t {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -500px;
  .group-list-ctn{
    //box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.05);
    //border-bottom: 1px solid #b4b4b4\9;
  }
  .catalog-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
//    margin-top:15px;
    width: 1000px;
    position: relative;
    height:34px;

    li {
      font-size: 15px;
//      color: rgba(255,255,255,0.7);
      color: rgba(0 ,0 ,0, 0.7);
      color:#bbb\9;
      font-weight: bold;
      cursor: pointer;
//      margin-right: 54px;
      padding-right: 54px;
      padding-bottom: 15px;
//      padding-bottom: 14px;
      display: inline-block;
      &.all-group{
        float: right;
        margin-right: 0;
        color: white;
      }
      &:hover {
        color: black;
        .popular-img {
          opacity: 1 !important;
        }
      }

    }
    li.active {
      color: black;
      .popular-img {
        width: 30px;
        height: 30px;
        opacity: 1 !important;
      }
    }
  }
}

.popular-img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-bottom: 2px;
}

.add-margin {
  margin-top: 260px;
}
.back-top{
  position: fixed;
  bottom: 40%;
  text-align: center;
  font-size: 12px;
  background: url(../images/common/back-top.png) no-repeat right bottom;
  height: 40px;
  width: 45px;
  cursor: pointer;
  left: 50%;
  margin-left: 532px;
  opacity: 0;
  display: none\0;
  @include genPrefix(transition,0.4s);
  &.display{
    opacity: 1;
    display: block\0;
  }
 /* &:hover{
    -webkit-animation-name: jumper;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
  }*/
}
@-webkit-keyframes jumper{
  0%{
    -webkit-transform:translateY(0px);
  }
  15%{
    -webkit-transform:translateY(-20px);
  }
  30%{
    -webkit-transform:translateY(0px);
  }
  45%{
    -webkit-transform:translateY(-12px);
  }
  60%{
    -webkit-transform:translateY(0px);
  }
}