@import "common";
@import "bundle";

.page.column {
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "华文细黑", "STHeiti", "微软雅黑", "Microsoft YaHei", SimHei, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.loading-mask{
  display: none;
}
.column {
  .head-image{
    height: 300px;
    background: #DDD;
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
    .column-title-ctn{
      width: 1000px;
      margin: 0 auto;
      height: 300px;
      position: relative;
    }
    .column-title{
      color: #FFF;
      /*height: 84px;*/
      bottom: 70px;
      position: absolute;
      padding: 20px 40px;
      display: inline-block;
      font-size: 0;
      border-radius: 14px;
      @include bg-rgba(0,0,0,0.6);
      img {
        width: 44px;
        display: inline-block;
        vertical-align: middle;
      }
      .image {
        float: left;
        width: 44px;
        height: 44px;
        background: url('../images/column/title.png') no-repeat center center;
        background-size: 100%;
      }
      .title {
        float: left;
        font-size: 36px;
        font-weight: 100;
        line-height: 44px;
        max-width: 470px;
      }
      .vertical-bar{
        float: left;
        width: 2px;
        height: 44px;
        background: #FFF;
        margin: 0 25px;
        line-height: 36px;
        position: relative;
      }
    }
    .nav-bar-ctn{
      width:100%;
      margin-top:21px;
      background: rgba(0, 0, 0, 0.78);
      position: absolute;
      bottom: 0;
    }
    .nav-bar{
      line-height: 50px;
      width: 1000px;
      margin: 0 auto;

      color: #FFF;
      a{
        color:#fff;
        &:hover{
          color:#fff;
        }
      }
      .seperator{
        display: inline-block;
        width: 18px;
        border-top: 1px solid #FFF;
        vertical-align: middle;
        margin: 0 8px;
      }
    }
  }
  .main-content{
    width: 1000px;
    margin: 0 auto;
  }
  .left-content{
    width:650px;
    float: left;
    padding-top:80px;
  }
  .right-cover {
    float: right;
  }
  .right-content{
    width: 286px;
    padding-top: 59px;
    margin-left: 47px;
    .right-title{
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 4px;
      color: #525252;
      border-bottom: 2px solid #858585;
    }
    .right-list{
      width: 286px;
    }
    .right-card{
      height: 106px;
      width: 100%;
      padding: 10px 0;
      border-bottom: 1px solid #ddd;
      &:hover{
        .right-des{
          text-decoration: underline;
        }
      }
    }
    .right-picture{
      margin-top: 10px;
      float: left;
      height: 66px;
      overflow: hidden;
    }
    .right-des{
      width: 220px;
      height: 50px;
      overflow: hidden;
      float: left;
      font-size: 14px;
      color: #000;
      line-height: 20px;
      padding-top: 12px;
      padding-left: 16px;
    }
    .right-price{
      float: left;
      padding-left: 16px;
      padding-top: 4px;
      font-size: 14px;
      color: #ff6600;
    }
  }

  .footer-content{
    background-color: #f7f7f7;
    padding-top:80px;
  }
  .left-section{
    padding-bottom: 35px;
    h1{
      font-size: 28px;
      margin-bottom: 20px;
      text-align: center;
    }
    p{
      line-height: 30px;
      text-indent: 15px;
      font-size: 16px;
      color:#737373;
    }

    .article{
      margin-top:42px;
      h2{
        font-size: 18px;
        margin-bottom: 15px;
        .title-box{
          display: inline-block;
          background: #6DB381;
          width: 9px;
          height: 14px;
          margin-right: 15px;
        }
      }
      h3{
        margin-top: 25px;
        color: #DDD;
        margin-bottom: 18px;
        font-size: 14px;
      }
      img{
        width:100%;
      }
      p{
        margin-bottom: 45px;
        font-size:16px;
        line-height: 30px;
      }
      .img-desc{
        text-indent: 0;
        padding: 14px 40px;
        position: relative;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 0;
        &:before{
          font-family: "Hitour";
          content: "\e60b";
          color: #6DB381;
          position: absolute;
          left: 8px;
          top: 0;
        }
      }
      .icon-circle-bg{
        font-size: 12px;
        margin-right: 24px;
      }
      .product-wrap{
        width: 570px;
        margin: 0 auto 40px auto;
        cursor: pointer;
        position: relative;
        /*&:before{
          content: "\e63d";
          font-family: "Hitour";
          position: absolute;
          left: 0;
          font-size: 8px;
          line-height: 22px;
          -webkit-transform: scale(0.67);
        }*/
      }
      .product-name{
        font-size: 16px;
        color: #000;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .product-box{
        width: 100%;
        height: 105px;
        border: 1px solid #DDD;
        font-size: 0;
        position: relative;
        img{
          width: 130px;
          height: 104px;
        }
        .product-content{
          display: inline-block;
          vertical-align: top;
          padding: 18px 25px;
          width: 438px;
        }
        .product-title{
          width: 100%;
          position: relative;
          font-size:18px;
          padding-right: 70px;
          em{
            i{
              font-size:14px;
              font-style: normal;
            }
            top: 0;
            right: 0;
            position: absolute;
            font-size:20px;
            font-style: normal;
            color: #F60;
            line-height: 24px;
          }
        }
        .learn-more{
          position: absolute;
          bottom: 12px;
          right: 25px;
          color: #6DB381;
          font-size: 14px;
        }
      }
      .product-desc{
        padding-left: 20px;
        margin-top: 20px;
        position: relative;
        .vertical-bar{
          position: absolute;
          top: 3px;
          bottom: 3px;
          left: 0;
          width: 5px;
          background: #DDD;
        }
      }

    }
  }
  .the-end {
    position: relative;
    padding-top: 55px;
    padding-bottom: 150px;
    hr {
      float: left;
      width: 240px;
    }
    .end-image {
      float: left;
      width: 64px;
      height: 18px;
      background: url('../images/column/the-end.png') no-repeat center center;
      background-size: 100%;
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 10px;
    }
  }
  .aside{
    margin-right: -50px;
    padding-bottom: 50px;
    width: 730px;
    padding-bottom: 50px;
    margin: 0 auto;
    a.column{
      float: left;
      margin-right: 13px;
      overflow: hidden;
      width: 230px;
      height: 274px;
      display: block;
      background: #AAA;
      border-radius: 5px;
      margin-top: 13px;
      color: #FFF;
      &:hover{
        text-decoration: none;
      }
      .column-name{
        width: 200px;
        display: block;
        text-shadow: 1px 1px 5px #000;
        font-size: 18px;
        line-height: 28px;
        font-weight: normal;
        position: absolute;
        bottom: 33px;
      }
      .column-num{
        font-weight: normal;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
        font-size: 14px;
        line-height: 28px;
        color: #6db381;
        position: absolute;
        right: 20px;
        bottom: 10px;
      }
      .back-shadow{
        padding: 184px 15px 12px 15px;
        height: 274px;
        position: relative;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* W3C */
      }
    }
  }
  .aside-title{
    color: #525252;
    padding: 12px 0;
    font-size: 28px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
  }
  .product-block {
    background-color: #f7f7f7;
  }
  .product-block-title {
    color: #525252;
    padding-top: 22px;
    padding-bottom: 12px;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
  }
  .left-button {
    display: none;
    font-size: 36px;
    color: #aaa;
    position: absolute;
    left: 55px;
    margin-top: 100px;
  }
  .right-button {
    display: none;
    font-size: 36px;
    color: #aaa;
    position: absolute;
    right: 45px;
    margin-top: -200px;
    padding-right: 20px;
  }
  .product-block-content {
    width: 980px;
    height: 320px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
  }
  .cover-ctn {
    overflow: hidden;
    height: 178px;
  }
  .product-card {
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    width: 235px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    text-align: -webkit-auto;
  }
  .product-list {
    white-space: nowrap;
    overflow: hidden;
  }
  .cover-des {
    color: #000;
    height: 52px;
    overflow: hidden;
    padding: 10px 10px;
    background-color: #fff;
  }
  .cover-price {
    padding: 15px;
    background-color: #fff;
    font-family: Helvetica_Neue_Thin;
    .price-wrap {
      font-size: 20px;
      color: #f60;
      vertical-align: baseline;
    }
    .orig-price-wrap {
      font-size: 16px;
      color: #666;
      margin-left: 5px;
      vertical-align: baseline;
      text-decoration: line-through;
    }
  }
  .get-more {
    color: #6db381;
    float: right;
    padding-right: 153px;
    padding-bottom: 10px;
  }
}