@import "common";
$theme-bg:#f64744;
$theme-border:#f82744;
.friday-sale {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.flash-sale {
  background-color: #eee;
  .header-image {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    background-image: url(../images/activities/newyearsale/flash_header.jpg);
  }
  .notification {
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 110px;
    background-color: white;
    .header-margin {
      margin: 0px 25px 0px 15px;
      font-size:0;
    }
    .header-block {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      height: 80px;
    }
    .flash-right {
      margin-top: 8px;
      margin-left: 90px;
      img {
        width: 90px;
      }
    }
    .header-desc {
      color: #525252;
      text-align: left;
      margin-top: 20px;
      margin-left: 20px;
      p {
        font-size: 16px;
        sub {
          bottom: 0em;
          left: 0.1em;
          vertical-align: text-bottom;
        }
        sup {
          top: 0em;
          vertical-align: text-top;
        }
      }
    }
    .flash-left {
      color: #525252;
      width: 460px;
      margin: 15px;
      border-right: 1px solid #adadad;
    }
  }
}

.flash-sale {
  .flash-left {
    .timer-title {
      font-size: 18px;
    }
    .timer-zone {
      padding-right: 10px;
      padding-bottom: 20px;
      position: relative;
      color: $theme-bg;
      .hours {
        width: 50px;
        &:after {
          content : 'Hours';
          left: 9px;
          color: #525252;
        }
      }
      .minutes {
        width: 50px;
        &:after {
          content : 'Minutes';
          left: 0px;
          color: #525252;
        }
      }
      .seconds {
        width: 50px;
        &:after {
          content : 'Seconds';
          left: 0px;
          color: #525252;
        }
      }
      span {
        vertical-align: middle;
        font-size: 26px;
        margin: 0 6px;
        position: relative;
        display: inline-block;
        text-align: center;
        &:after {
          font-size: 12px;
          position: absolute;
          top: 30px;
        }
      }
    }
  }
  .color-bg{
    overflow: hidden;
  }
  .one-flash-zone {
    margin-top: 35px;
    padding-bottom: 35px;
  }
  .product-info {
    height: 220px;
  }
}

.discount-sale {
  background-color: #eeeeee;
  overflow: hidden;
  .header-image {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
  }
  .discount-title{
    width: 1000px;
    text-align: center;
    position: relative;
    margin: 80px auto 30px auto;
    span{
      font-size: 42px;
      font-family: "黑体",sans-serif;
      font-weight: bold;
      position: relative;
      background: #EEE;
      z-index: 2;
      padding: 0 20px;
      color:$theme-bg;
    }
    .line-through{
      border: 1px solid $theme-bg;
      width: 100%;
      position: absolute;
      top: 50%;
      z-index: 1;
      height: 3px;
      background: $theme-bg;
    }
  }
  .one-city {
    margin: 35px 0px;
    .title {
      margin: 0px 0px 10px 15px;
      position: relative;
      img {

      }
      a {
        position: absolute;
        right: 25px;
        top: 7px;
        font-size: 20px;
        color: $theme-bg;
        display: block;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .product-image {
//      border: 0px;
    }
    .product-info {
      .product-line {
        padding: 5px 10px 0px 10px;
        position: relative;
        height: 25px;
      }

      .product-benefit {
        float: left;
      }
      .product-city {
        float: right;
      }
      .clear {
        clear: both;
      }

      .product-benefit,
      .product-city {
        color: #666666;
        i {
          margin-right: 5px;
          font-size: 12px;
          color: #dc4639;
        }
      }
      .product-name {
        font-size: 20px;
        line-height: 26px;
        color: #525252;
        height: 52px;
        padding-top: 0px;
      }
    }
  }
}

.last-block {
  width: 297px !important;
}
.limited-product,
.discount-product {
    width: 30%;
    margin: 15px;
    display: inline-block;
    vertical-align: top;
    background-color: white;
  .product-image {
    width: 300px;
    height: 270px;
    position: relative;
    display: block;
    border: 1px solid #ddd;
    &:hover {
      .off-discount {
        opacity: 1;
        filter: alpha(opacity = 50);// for IE
      }
    }
    img {
      width: 100%;
    }
    .off-discount {
      opacity: 0;
      filter: alpha(opacity = 0);// for IE
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-transition: 0.6s;-moz-transition: 0.6s;-ms-transition: 0.6s;-o-transition: 0.6s;transition: 0.6s;
    }
    .product-tag {
      position: absolute;
      top: 0px;
      left: 15px;
      p {
        margin-top: -45px;
        text-align: center;
        color: white;
        font-size: 14px;
      }
    }
    .price-zone {
      position: absolute;
      right: 0px;
      bottom: 15px;
      color: white;
      @include bg-rgba(248, 71, 68, 0.8);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A4b33f0e,endColorstr=#FFb33f0e);//for IE8
      padding: 1px 15px;
      font-size: 14px;
      span {
        vertical-align: bottom;
      }
      .RMB {
        font-size: 14px;
      }
      .new-price {
        font-size: 24px;
        line-height: 28px;
      }
      .old-price {
        font-size: 14px;
        text-decoration: line-through;
      }
      z-index: 2;
    }
    &:hover .discount-mask{
      opacity: 1;
      display: block\0;
    }
    .discount-mask{
      position: absolute;
      transition:0.3s;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: url(../images/activities/fridaysale/discount-mask.png) center center no-repeat;
      opacity: 0;
      display: none\0;
    }
  }
  .product-info {
    border: 1px solid #adadad;
    border-top: 0px;
    .product-name {
      padding: 10px;
      font-size: 20px;
      line-height: 26px;
      color: black;
      overflow: hidden;
    }
    .left-zone {
      padding: 10px;
      color: $theme-bg;
      .total {
        font-size: 20px;
      }
      .left {
        font-size: 16px;
        margin-top: 4px;
        text-align: right;
        &:after {
          clear: both;
          content: "";
        }
      }
      .progress-bar {
        border-radius: 3px;
        width: 280px;
        margin-bottom: 10px;
        .white-bar {
          background-color: #aaaaaa;
          display: inline-block;
          *zoom: 1;
          *display: inline;
          height: 6px;
          position: relative;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          .white-appendix {
            position: absolute;
            right: 0px;
            top: 5px;
            color: #aaaaaa;
            font-size: 18px;
          }
        }
        .red-bar {
          background-color: $theme-bg;
          display: inline-block;
          *zoom: 1;
          *display: inline;
          height: 6px;
          margin-right: -5px;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          position: relative;
          .red-appendix {
            position: absolute;
            right: -3px;
            top: 5px;
            color: $theme-bg;
            font-size: 18px;
          }
        }
        .all-radius {
          border-radius: 3px;
        }
      }
    }
    .limited-btn {
      width: 180px;
      background-color: $theme-bg;
      border: 1px solid $theme-border;
      color: white;
      height: 50px;
      padding: 10px 30px;
      font-size: 20px;
      cursor: pointer;
      margin: 10px auto 20px auto;
      display: block;
      text-align: center;
      &:hover {
        text-decoration: none;
      }
    }
    .disabled-btn {
      background-color:#aaaaaa;
      border: 1px solid black;
      color:black;
    }
  }
}

.activity-rule {
  background-color: #eeeeee;
}
.weibo-for{
  color: #FFF;
  margin-left: 14px;
  margin-top: 10px;
  position: relative;
  .icon-weibo{
    width: 40px;
    height: 40px;
    font-size: 40px;
    float: left;
    margin-right: 10px;
  }
  a{
    color: #FFF;
    &:hover{
      text-decoration: underline;
    }
  }
  .arrow-right{
    border-style: solid;
    width: 0;
    border-width: 4px 5px;
    border-color: transparent transparent transparent #FFF;
    position: absolute;
    right: 10px;
    top: 26px;
  }
}
.bottom-fixed-bar{
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Microsoft Yahei", Helvetica, Arial, Verdana, sans-serif;
  border-top:1px solid #f7f7f7;
  position: fixed;
  left:0;
  right:0;
  bottom:0;
  height:0;
  background: #fff;
  transition:0.6s;
  z-index: 11;
  .inner-box {
    width: 1000px;
    margin: 0 auto;
    padding: 38px 0;
    font-size: 0;
    position: relative;
    ol {
      list-style: decimal;
    }
    &>div{
      display: inline-block;
      vertical-align: middle;
    }
  }

  .left-msg{
    font-size: 33px;
    color: $theme-bg;
    width: 445px;
    text-align: center;
  }
  .qr-code{
    background: url(../images/activities/fridaysale/qrcode.jpeg) center center;
    width:106px;
    height:106px;
    margin-right: 20px;
  }
  .email-ctn{
    em{
      font-size: 14px;
      color: $theme-bg;
      font-style: normal;
    }
    ol{
      padding: 0 22px;
      margin: 5px 0;
      color: #7b7c7c;
      font-size: 14px;
    }
  }
  .close-btn{
    background: url(../images/activities/fridaysale/close-btn.png);
    display: block;
    position: absolute;
    right: -10px;
    top: 10px;
    width:22px;
    height:22px;
  }
  .lcd{
    font-size: 16px;
    display: none;
  }
  .email-holder{
    input{
      height: 37px;
      border: 1px solid #CCC;
      width: 315px;
      font-size:16px;
      color:#7b7c7c;
      padding-left:10px;
    }
    button{
      height: 37px;
      padding: 0 20px;
      color: #FFF;
      font-size: 20px;
      line-height: 20px;
      border: 1px solid $theme-border;
      background: $theme-bg;
      margin-left: 20px;
    }
  }
}