@import "common";
@import "../bower_components/hiui/carousel/carousel";
@import "bundle";

.product-package {
  font-family             : "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "华文细黑", "STHeiti", "微软雅黑", "Microsoft YaHei", SimHei, sans-serif;
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
}

#base_carousel {
  display        : inline-block;
  width          : 700px;
  vertical-align : top;
  .item-above {
    position   : absolute;
    top        : 0;
    left       : 0;
    right      : 0;
    bottom     : 0;
    background : url("../images/product/slider-cover.png") repeat-x center bottom;
    color      : white;
  }
  .text-wrap {
    position : absolute;
    padding  : 22px 25px;
    bottom   : 0;
  }
  .item-name {
    font-size   : 22px;
    line-height : 1;
    height      : 22px;
    overflow    : hidden;
  }
  .item-desc {
    margin-top  : 5px;
    line-height : 1;
    overflow    : hidden;
    font-weight : bold;
  }
  .index-list {
    bottom : -22px
  }
  .to-prev, .to-next {
    background-color : transparent;
    i {
      font-size   : 60px;
      opacity     : 0.95;
      color       : #fff;
      text-shadow : 0 1px 5px #000, 0 0 20px #000;
      line-height : 100px;
    }
  }
  .to-index {
    width            : 10px;
    height           : 10px;
    line-height      : 10px;
    background-color : #bbb;
    border           : 1px solid #ccc;
    &:hover:not(.active) {
      width       : 12px;
      height      : 12px;
      line-height : 12px;
    }
    &.active {
      background-color : #6db381;
    }
  }
  .activity-tag {
    position : absolute;
    top      : 0px;
    left     : 10px;
    z-index  : 100;
  }
}

.main-wrap {
  border-top : 1px solid #ddd;
}

.white-container {
  background-color : white;
  .container-padding {
    padding-top : 20px;
  }
}

.package-breadcrumb {
  width            : 100%;
  height           : 40px;
  line-height      : 40px;
  background-color : #eee;
  font-size        : 12px;
  .breadcrumb-wrap {
    float       : left;
    width       : 700px;
    margin-left : -5px;
  }
  .breadcrumb-item {
    line-height : 30px;
    color       : #666;
    a {
      display     : inline-block;
      padding     : 0 8px;
      line-height : 30px;
      height      : 30px;
      color       : #444;
      &:hover {
        color : #222;
      }
    }
    span {
      padding : 0 8px;
    }
  }
  .phone-col {
    float      : right;
    width      : 250px;
    color      : #666;
    text-align : right;
    em {
      color      : #222;
      font-style : normal;
    }
  }
}

.product-main {
  padding : 30px 0px 40px 0px;
  .icon-heart-empty {
    cursor       : pointer;
    color        : #c5c5c5;
    font-size    : 20px;
    margin-right : -5px;
    &:hover {
      color : #f1958e;
    }
    &:before {
      display        : inline-block;
      vertical-align : middle;
      width          : 30px;
    }
  }
  .icon-heart-filled {
    cursor       : pointer;
    color        : #f1958e;
    font-size    : 20px;
    margin-right : -5px;
    &:before {
      display        : inline-block;
      vertical-align : middle;
      width          : 30px;
    }
  }

  .product-name {
    font-size : 26px;
  }
  .product-gallery {
    display        : inline-block;
    width          : 700px;
    vertical-align : top;
  }
  .product-basic {
    display        : inline-block;
    width          : 295px;
    vertical-align : top;
    padding        : 0px 15px;
    .price-zone {
      margin-bottom : 15px;
      .price-holder {
        width   : 212px;
        display : inline-block;
      }
      span {
        vertical-align : bottom;
      }
      .RMB {
        font-size : 20px;
        color     : #f60;
      }
      .price {
        font-family : helvetica_neue_Thin;
        font-size   : 46px;
        line-height : 46px;
        color       : #f60;
      }
      .appendix {
        font-size : 20px;
      }
      .orig-price {
        display    : inline-block;
        color      : #666;
        text-align : right;
        span {
          text-decoration : line-through;
        }
      }
    }
    .ps-dropdown {
      color     : #444;
      font-size : 12px;
      padding   : 3px 0;
    }
    .dropmenu-container {
      i {
        position : absolute;
        right    : 15px;
        top      : 18px;
      }
    }
    .service-included {
      //      padding-right: 10px;
      & > div {
        padding : 20px 0;
      }
      .add-top-line {
        border-top : 1px solid #ddd;
      }
      h2 {
        font-size      : 12px;
        position       : relative;
        display        : inline-block;
        vertical-align : middle;
        margin-left    : 15px;
        color          : #666;
        width          : 55px;
        text-align     : center;
        .icon-bed,
        .icon-attach,
        .icon-gift {
          font-size : 24px;
        }
      }
      ol {
        display         : inline-block;
        list-style-type : disc;
        margin          : 0 0px 0px 40px;
        width           : 145px;
        padding         : 0px;
        vertical-align  : middle;
        li {
          line-height : 25px;
        }
      }
    }
    .btn-zone {
      margin-top : 18px;
      .favorite-ctn {
        display        : inline-block;
        vertical-align : middle;
        width          : 105px;
        padding        : 0px 5px;
        line-height    : 40px;
        margin-right   : 5px;
      }
    }
  }
}

.buy-btn {
  display        : inline-block;
  vertical-align : middle;
  width          : 150px;
  cursor         : pointer;
  letter-spacing : 2px;
  line-height    : 40px;
  background     : #f60;
  font-size      : 18px;
  font-weight    : 300;
  color          : #fff;
  padding        : 0;
  border         : 1px solid #efa447;
  &.expand {
    border           : 1px solid #c5c5c5;
    background-color : #fff;
    color            : #444;
    &:hover {
      background : #f8f8f8;
    }
  }
  &:hover {
    background : #d56928;
  }
  &.expand:after {
    content : "\e60f";
    color   : #444;
  }
}

.buy-btn-disabled {
  &:after {
    content : '' !important;
  }
}

.title-score {
  margin : 5px 0px 20px 0px;
}

.product-score {
  color     : #f60;
  font-size : 12px;
  .score {
    position       : relative;
    width          : 74px;
    display        : inline-block;
    vertical-align : top !important;
    i {
      position   : absolute;
      left       : 0px;
      top        : 0px;
      margin-top : 1px;
    }
    .star-back {
      color : #aaa;
    }
    .star-front {
      color    : #f60;
      overflow : hidden;
    }
  }
  .total {
    color       : #c5c5c5;
    margin-left : -7px;
  }
}

.fixed-nav {
  position         : fixed !important;
  top              : 0;
  left             : 0;
  right            : 0;
  z-index          : 1000;
  background-color : #eee;
}

.bundle-tab {
  width  : 100%;
  height : 54px;
  .nav-content {
    width            : 100%;
    background-color : #eee;
    border-top       : 1px solid #ddd;
    border-bottom    : 1px solid #ddd;
  }
}

.product-tab {
  position   : relative;
  text-align : left;
  width      : 1000px;
  margin     : 0px auto;
  a {
    padding   : 15px 0px;
    color     : black;
    font-size : 18px;
    height    : 54px;
    &:hover {
      text-decoration : none;
    }
  }
  .vertical-divider {
    &:after {
      content          : "";
      width            : 1px;
      height           : 23px;
      background-color : #ddd;
      display          : inline-block;
      margin           : 0px 25px;
      vertical-align   : middle;
    }
  }
  .active {
    color : #f60;
  }
  .fixed-fav-btn {
    position           : absolute;
    right              : 140px;
    top                : 15px;
    font-size          : 20px;
    visibility         : hidden;
    opacity            : 0;
    -webkit-transition : 0.4s; -moz-transition : 0.4s; -ms-transition : 0.4s; -o-transition : 0.4s; transition : 0.4s;
    color              : #f1958e;
  }
  .fixed-tab-button {
    position           : absolute;
    top                : 13px;
    right              : 23px;
    visibility         : hidden;
    opacity            : 0;
    -webkit-transition : 0.4s; -moz-transition : 0.4s; -ms-transition : 0.4s; -o-transition : 0.4s; transition : 0.4s;
    display            : inline-block;
    vertical-align     : middle;
    width              : 90px;
    cursor             : pointer;
    letter-spacing     : 2px;
    line-height        : 28px;
    background         : #f60;
    font-size          : 14px;
    font-weight        : 300;
    color              : #fff;
    padding            : 0;
    border             : 0;
    margin-left        : 20px;
    border             : 1px solid #f60;
    &:hover {
      background : #d56928;
    }
  }
  .show-fixed-button {
    visibility : visible;
    opacity    : 1;
  }
}

.product-bundle {
  padding-bottom : 20px;
  .item-index {
    position    : absolute;
    top         : -10px;
    left        : -45px;
    font-size   : 40px;
    line-height : 40px;
    color       : #f60;
    font-weight : bold;
  }
  .item-header {
    .title {
      vertical-align : middle;
      font-size      : 32px;
      text-align     : center;
      margin         : 30px 0px 40px 0;
    }
    .desc {
      position  : relative;
      font-size : 14px;
      color     : #525252;
      margin    : 0 45px 15px;
      .subtitle {
        font-size    : 22px;
        color        : #333;
        margin-right : 20px;
      }
    }
    .subtitle-center {
      text-align    : center;
      margin-top    : -40px;
      margin-bottom : 40px;
    }
  }
  .bundle-top {
    padding    : 15px;
    border-top : 1px solid #eee;
    margin     : 0px 25px !important;
    cursor     : pointer;
    &:hover {
      background-color : #eff6e6;
    }
  }
  .hotel-list {
    margin   : 0px 45px;
    border   : 1px solid #ddd;
    overflow : hidden;
  }
  .bundle-content {
    position   : relative;
    margin-top : -1px;
    padding    : 25px;
    border-top : 1px dashed #ddd;
    font-size  : 0px;
    .hotel-map {
      width    : 100%;
      height   : 100%;
      position : absolute;
      z-index  : 0;
    }
    .show-map {
      z-index : 80;
    }

    //bundle - 1, hotel
    .hotel-image {
      height   : 120px;
      width    : 180px;
      position : relative;
      overflow : hidden;
      .show-map {
        color            : #6db381;
        background-color : white;
        position         : absolute;
        left             : 5px;
        bottom           : 5px;
        cursor           : pointer;
        font-size        : 14px;
        &:hover {
          color : #6db381;
        }
      }
    }
    .hotel-options {
      width     : 668px;
      height    : 120px;
      padding   : 0 20px;
      cursor    : pointer;
      font-size : 14px;
      .hotel-price {
        position   : absolute;
        right      : 0px;
        top        : 10px;
        padding    : 10px 20px 0px 30px;
        text-align : center;
        width      : 100px;
        color      : #f60;
        //        background: url(../images/product/price-bg.png) no-repeat center center;
      }
      .text-oneline {
        white-space   : nowrap;
        overflow      : hidden;
        text-overflow : ellipsis;
        width         : 620px;
      }
      .product-name {
        font-size   : 20px;
        line-height : 1;
        span {
          font-size : 14px;
        }
      }
      .product-intro {
        margin-top  : 15px;
        color       : #444;
        line-height : 14px;
      }
      .product-rate {
        display        : inline-block;
        vertical-align : bottom;
        margin-right   : 30px;
        margin-top     : 5px;
        span {
          vertical-align : middle;
          .icon-bed {
            font-size : 24px;
            position  : absolute;
          }
        }
        .logo {
          height : 16px;
          img {
            height : 16px;
          }
        }
        .score {
          color : #f60;
        }
      }
      .hotel-level {
        margin-top : 2px;
        .icon-rating-star {
          width       : 100%;
          font-size   : 12px;
          color       : #f60;
          line-height : 22px;
        }
      }
      .hotel-basic {
        color      : #696969;
        position   : relative;
        width      : 510px;
        overflow   : hidden;
        //        margin: 10px 0px;
        margin-top : 5px;
        .title {
          color : black;
        }
        .product-room {
          .room-type {
            margin-right : 25px;
          }
        }
        .product-capacity {
          margin : 5px 0px 10px 0px;
          .capacity {
            margin-right : 5px;
          }
        }
        .product-facility {
          color : #525252;
          .hotel-service {
            margin-right : 30px;
            i {
              margin-right : 5px;
            }
          }
        }
      }
      .product-desc {
        color       : #8c8c8c;
        font-size   : 12px;
        line-height : 16px;
        height      : 48px;
        margin-top  : 10px;
        overflow    : hidden;
      }
      .divider {
        border-top : 1px solid #ddd;
        height     : 1px;
        margin     : 13px 0px;
      }
    }

    //bundle - 2, included
    .each-service {
      height     : 40px;
      font-size  : 14px;
      color      : black;
      padding    : 10px 5px;
      border-top : 1px solid #eee;
      .product-name {
        font-size : 16px;
      }
      span {
        vertical-align : middle;
      }
      .intro-label {
        color  : #f60;
        margin : 0px 15px;
      }
      .price {
        color : #696969;
      }
    }

    //bundle - 3, additional
    .service-image {
      height : 75px;
      width  : 115px;
    }
    .service-options {
      padding-left : 20px;
      width        : 805px;
      position     : relative;
      .product-name {
        width         : 650px;
        font-size     : 20px;
        height        : 28px;
        color         : black;
        overflow      : hidden;
        white-space   : nowrap;
        text-overflow : ellipsis;
        margin        : 5px 0px 10px 0px;
        span {
          &:hover {
            text-decoration : underline;
          }
        }
      }
      .product-score {
        margin : 5px 0px;
        span {
          vertical-align : bottom;
        }
      }
      .price-zone {
        position  : absolute;
        right     : 10px;
        top       : 10px;
        font-size : 14px;
        .price-intro {
          color : #525252;
        }
        .price-save {
          color : #f60;
        }
        .basic-price {
          color      : #696969;
          font-size  : 12px;
          text-align : right;
        }
      }
      //      a {
      //        text-decoration: none;
      //        position: absolute;
      //        top: 0;
      //        right: 0;
      //        font-size: 14px;
      //        cursor: pointer;
      //      }
      //      .service-included {
      //        -webkit-transition: 0.6s;-moz-transition: 0.6s ;-ms-transition: 0.6s ;-o-transition: 0.6s ;transition: 0.6s ;
      //        height: 100px;
      //        overflow: hidden;
      //        position: relative;
      //        .float-mask {
      //          position: absolute;
      //          bottom: 0;
      //          left: 0;
      //          right: 0;
      //          height: 30px;
      //          cursor: pointer;
      //          background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%); /* FF3.6+ */
      //          background: -webkit-gradient(linear, left top, left bottom, color-start(0%, rgba(255, 255, 255, 0)), color-stop(100%, white)); /* Chrome,Safari4+ */
      //          background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%); /* Chrome10+,Safari5.1+ */
      //          background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%); /* Opera 11.10+ */
      //          background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%); /* IE10+ */
      //          background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%); /* W3C */
      //          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#FFFFFFFF', GradientType=0); /* IE6-9 */
      //        }
      //        h2 {
      //          font-size: 14px;
      //        }
      //        ol {
      //          margin-top: 0px;
      //          font-size: 14px;
      //          margin-bottom: 0px;
      //          padding-left: 22px;
      //        }
      //      }
    }

    //  public css, it was useful!
    //  but in the very end...
    .service-image,
    .hotel-image {
      display        : inline-block;
      vertical-align : top;
      img {
        width : 100%;
      }
    }
    .hotel-options,
    .service-options {
      display  : inline-block;
      position : relative;
    }

  }
  .bundle-included {
    margin : 0px 25px;
    cursor : pointer;
    &:hover {
      background-color : #eff6e6;
    }
  }
}

.comment-star {
  position    : relative;
  margin-left : 10px;
  display     : inline-block;
  width       : 63px;
  height      : 14px;
  i {
    display   : block;
    position  : absolute;
    font-size : 12px;
    overflow  : hidden;
  }
  .star-back {
    color : #ddd;
  }
  .star-front {
    color : #f60;
  }
}

.tab-content {
  padding-top : 20px;
  .tab-item {
    padding : 40px 10px;
  }
  .tab-title {
    text-align : center;
    h2 {
      font-size      : 32px;
      line-height    : 1;
      font-weight    : 200;
      padding-bottom : 20px;
    }
    p {
      margin-top : -5px;
      color      : #444;
      font-size  : 16px;
    }
  }
  .package {
    h3 {
      font-size   : 14px;
      line-height : 1;
      font-weight : 200;
      color       : #666;
      em {
        position    : absolute;
        top         : 8px;
        left        : 0;
        display     : block;
        width       : 60px;
        font-size   : 44px;
        line-height : 1;
        color       : #f60;
        font-style  : normal;
        font-weight : bold;
        text-align  : center;
      }
      .title {
        margin-right   : 15px;
        font-size      : 22px;
        line-height    : 1;
        color          : #444;
        vertical-align : bottom;
      }
    }
    .package-item {
      position : relative;
      padding  : 20px 60px;
      &.bonus {
        &:hover {
          background-color : #eee;
          cursor           : pointer;
          h3 .title {
            text-decoration : underline;
          }
        }
      }
    }
  }
  .hotel-list {
    margin : 5px 0 0;
    .hotel-item {
      margin-top : 15px;
      border     : 1px solid #ddd;
      .hotel-item-box {
        position         : relative;
        padding          : 20px;
        background-color : #eee;
        &:hover {
          cursor           : pointer;
          background-color : #e8e8e8;
          h4 {
            color : #222;
          }
          .cn-name {
            text-decoration : underline;
          }
        }
        i.icon-arrow-right {
          display     : block;
          position    : absolute;
          width       : 20px;
          height      : 20px;
          font-size   : 14px;
          line-height : 20px;
          text-align  : center;
          top         : 50%;
          right       : 6px;
          margin-top  : -10px;
          font-weight : bold;
          color       : #666;
        }
      }
      .img-col {
        float    : left;
        width    : 150px;
        height   : 100px;
        overflow : hidden;
        img {
          width : 100%;
        }
      }
      .info-col {
        position : relative;
        float    : left;
        width    : 540px;
        height   : 100px;
        padding  : 0 20px;
        .cn-name {
          font-size   : 20px;
          font-weight : 400;
          line-height : 1;
          color       : #222;
        }
        .en-name {
          font-size   : 14px;
          font-weight : 400;
          line-height : 1.1;
          color       : #333;
        }
        .base {
          position : absolute;
          bottom   : 0;
          color    : #666;
        }
        .desc {
          padding-bottom : 8px;
          line-height    : 20px;
          max-height     : 40px;
          overflow       : hidden;
        }
        .services {
          font-size   : 12px;
          line-height : 1;
          .service-item {
            display : inline-block;
            width   : 110px;
          }
          i {
            font-size      : 14px;
            margin-right   : 8px;
            vertical-align : -1px;
          }
        }
      }
      .more-col {
        float         : right;
        width         : 130px;
        height        : 100px;
        color         : #666;
        text-align    : right;
        padding-right : 30px;
        span {
          line-height : 100px;
        }
      }
      .hotel-room-item {
        padding     : 0 20px;
        height      : 40px;
        line-height : 40px;
        border-top  : 1px solid #eee;
      }
      .room-name {
        width       : 20%;
        float       : left;
        font-weight : bold;
      }
      .room-service-item {
        width       : 10%;
        float       : left;
        line-height : 40px;
        height      : 40px;
        font-size   : 12px;
        font-weight : bold;
        &:before {
          font-weight    : normal;
          font-size      : 14px;
          margin-right   : 5px;
          color          : #aaa;
          vertical-align : middle;
        }
      }
      .room-price {
        width         : 20%;
        float         : right;
        font-size     : 12px;
        color         : #666;
        padding-right : 35px;
        text-align    : right;
        height        : 40px;
        line-height   : 40px;
        span {
          margin-left : 15px;
          color       : #f60;
        }
        em {
          font-style : normal;
          font-size  : 16px;
        }
      }
    }
  }
  .product-info {
    margin : 15px 0 0;
    .img-col {
      float    : left;
      width    : 120px;
      height   : 80px;
      overflow : hidden;
      img {
        width : 100%;
      }
    }
    .intro-col {
      float       : left;
      margin-left : 20px;
      width       : 500px;
      height      : 80px;
      .go-more {
        display    : inline-block;
        margin-top : 8px;
        color      : #444;
        i {
          font-size : 12px;
        }
      }
    }
    .price-col {
      float         : right;
      width         : 160px;
      height        : 80px;
      padding-right : 40px;
      color         : #666;
      text-align    : center;
      span {
        line-height : 45px;
      }
      em {
        font-style  : normal;
        margin-left : 15px;
      }
    }
  }
  .formula {
    position : relative;
    ul {
      border-top : 1px solid #ddd;
      padding    : 15px 100px 0;
    }
    li {
      list-style  : none;
      line-height : 32px;
      text-align  : right;
      color       : #444;
      em {
        display      : inline-block;
        width        : 70px;
        text-align   : center;
        padding-left : 10px;
        font-style   : normal;
      }
    }
    .orig-total em {
      color           : #333;
      text-decoration : line-through;
    }
    .hi-total em {
      color       : #f60;
      font-size   : 20px;
      font-weight : 600;
    }
    .save-total em {
      color : #f60;
    }
    i {
      position  : absolute;
      top       : 23px;
      right     : 300px;
      font-size : 12px;
      color     : #666;
    }
  }
  .optional {
    border-top       : 1px solid #2f2f2;
    border-bottom    : 1px solid #ddd;
    background-color : #eee;
    .product-list {
      margin : 30px 42px 0;
    }
    .product-item {
      border-top : 1px solid #ddd;
      padding    : 20px;
      &:hover {
        background-color : #fcfcfc;
        cursor           : pointer;
        h4 {
          text-decoration : underline;
        }
      }
    }
    .comment-row {
      margin-top : 15px;
    }
    .img-col {
      float    : left;
      width    : 120px;
      height   : 80px;
      overflow : hidden;
      img {
        width : 100%;
      }
    }
    .intro-col {
      float       : left;
      width       : 550px;
      margin-left : 20px;
      h4 {
        font-size   : 20px;
        line-height : 1;
        color       : #333;
        font-weight : 200;
      }
    }
    .price-col {
      color     : #666;
      font-size : 12px;
      em {
        font-style  : normal;
        font-size   : 14px;
        margin-left : 3px;
      }
      .orig-price {
        margin-right : 5px;
        em {
          text-decoration : line-through;
        }
      }
      .package-price {
        em {
          margin-left : 0;
          color       : #f60;
          font-size   : 16px;
        }
        .dis-more {
          margin-left : 5px;
          color       : #f60;
        }
      }
    }
  }
  .comment-row {
    color : #f60;
    .comment-star {
      margin-left    : 6px;
      vertical-align : -2px;
    }
  }
}

.buy-notice {
  .product-rule {
    ul {
      list-style : none;
      padding    : 30px 0 25px 70px;
      margin     : 0;
      li {
        height   : 60px;
        padding  : 0 30px 0 44px;
        position : relative;
        width    : 230px;
        @include inline-block;
        &:before {
          font-family             : "hitour";
          -webkit-font-smoothing  : antialiased;
          -moz-osx-font-smoothing : grayscale;
          position                : absolute;
          left                    : 0;
          top                     : 2px;
          font-size               : 36px;
          line-height             : 36px;
          color                   : #7f7f7f;
        }
        &.r-redeem:before {
          content : '\e622';
        }
        &.r-buy:before {
          content : '\e625';
        }
        &.r-return:before {
          content : '\e620';
        }
        &.r-shipping {
          width : 220px;
        }
        &.r-shipping:before {
          content : '\e629'
        }
      }
      h3 {
        font-size   : 14px;
        color       : #000;
        font-weight : 800;
      }
      p {
        color : #6db381;
      }
    }
  }
  .service-include {
    h2 {
      display : none;
    }
    p {
      margin-bottom : 40px;
    }
    &.no-border {
      .left-column {
        border : 0;
      }
      .content-list {
        border : 0;
      }
    }
  }
  .left-column {
    width          : 130px;
    border-top     : 1px solid #ddd;
    margin         : 0 25px 0 50px;
    display        : inline-block;
    vertical-align : top;
    font-size      : 20px;
    color          : #222;
    font-weight    : bold;
    padding-top    : 45px;
  }
  .content-list {
    display        : inline-block;
    vertical-align : top;
    padding        : 45px 50px 0 25px;
    width          : 680px;
    border-top     : 1px solid #ddd;
  }
  .plain-list {
    ol, ul {
      margin        : 0;
      list-style    : disc;
      padding-left  : 20px;
      margin-bottom : 40px;
      li {
        margin-bottom : 15px;
        color         : #444;
        line-height   : 20px;
      }
    }
  }
  .exchange-places {
    background-color : #fff;
    .section-title {
      padding-top    : 40px;
      padding-bottom : 15px;
      h2 {
        background-color : #fff;
      }
    }
    //    .redeem-places.col-ctn {
    //      border-bottom: 1px solid #e5e5e5;
    //    }
  }
  .gmap-ctn {
    width       : 100%;
    text-align  : center;
    line-height : 310px;
  }
  .redeem-places {
    .left-column {
      border : 0;
    }
    .content-list {
      border         : 0;
      padding-bottom : 25px;
    }
    .redeem-place {
      margin-bottom : 40px;
      color         : #737373;
      h3 {
        font-weight   : normal;
        margin-bottom : 20px;
      }
      p {
        margin-bottom : 15px;
      }
    }
  }
}

.show-buy-dialog {
  visibility : visible !important;
  opacity    : 1 !important;
}

.buy-dialog-mask {
  position           : fixed;
  left               : 0;
  right              : 0;
  top                : 0;
  bottom             : 0;
  visibility         : hidden;
  opacity            : 0;
  -webkit-transition : 0.4s; -moz-transition : 0.4s; -ms-transition : 0.4s; -o-transition : 0.4s; transition : 0.4s;
  @include bg-rgba(0, 0, 0, 0.2);
  z-index            : 10000;
  overflow           : auto;
  em, i {
    font-style : normal;
  }
}

.buy-dialog {
  width      : 1041px;
  padding    : 43px 70px 43px 36px;
  border     : 1px solid #ebebeb;
  position   : relative;
  box-shadow : 1px 1px 20px rgba(0, 0, 0, 0.05);
  margin     : 5% auto;
  background : #fff;
  color      : #525252;
  .buy-title {
    padding-bottom : 20px;
    border-bottom  : 1px solid #dadada;
    margin-bottom  : 35px;
    h1 {
      font-size   : 24px;
      font-weight : normal;
      color       : #000;
      width       : 812px;
    }
  }
  .hotel-basic {
    font-size : 12px;
    color     : #696969;
    position  : relative;
    width     : 510px;
    overflow  : hidden;
    .title {
      width          : 75px;
      display        : inline-block;
      vertical-align : top;
      color          : black;
    }
    .product-room {
      .room-type {
        margin-right : 10px;
      }
    }
    .product-room,
    .product-facility {
      span {
        display : inline-block;
      }
      .hotel-service {
        margin-left : 10px;
        width       : 125px;
        i {
          margin-right : 5px;
        }
      }
      .left {
      }
      .right {
        width          : 280px;
        vertical-align : top;
      }
    }
    .product-capacity {
      .capacity {
        margin : 0px 10px;
      }
    }
  }

  .left-column {
    display        : inline-block;
    vertical-align : top;
    width          : 463px;
    .hotel-basic {
      width            : 463px;
      border           : 1px solid #eee;
      background-color : #eee;
      margin-top       : 15px;
      padding          : 10px;
      .each-line {
        margin : 5px 0px;
      }
      .policy-table {
        display        : inline-block;
        width          : 340px;
        vertical-align : top;
        margin-left    : 10px;
        td {
          padding     : 0 10px;
          line-height : 30px;
          border      : 1px solid #ddd;
        }
      }
    }
  }
  .right-content {
    display      : inline-block;
    padding-left : 38px;
    width        : 450px;
  }
  .tour-date {
    position       : relative;
    display        : inline-block;
    vertical-align : middle;
    height         : 38px;
    border         : 1px solid #dadada;
    padding        : 9px 0;
    .i-calendar {
      font-size: 18px;
      font-family: "hitour";
      margin: 0 10px;
      line-height: 18px;
      vertical-align: middle;
      &:before {
        content     : "\e623";
        font-family : "hitour";
        color:#000;
      }
    }
    .date-text{
      width: 180px;
      display: inline-block;
      vertical-align: middle;
      line-height: 18px;
      font-size: 14px;
      height: 18px;
    }

  }
  .price-ctn {
    color       : #6db381;
    font-family : helvetica_neue_thin;
    margin-top  : 5px;
    font-size   : 20px;
    position    : absolute;
    right       : 65px;
    top         : 34px;
    em {
      font-size      : 30px;
      letter-spacing : 3px;
    }
  }
  ul {
    padding       : 15px 0px 15px 0px;
    list-style    : none;
    border-top    : 1px dashed #ddd;
    border-bottom : 1px dashed #ddd;
    margin        : 18px 0;
    font-size     : 14px;
  }
  li {
    span {
      cursor         : pointer;
      white-space    : nowrap;
      width          : 355px;
      display        : inline-block;
      overflow       : hidden;
      text-overflow  : ellipsis;
      vertical-align : middle;
    }
  }
  .close-btn {
    position  : absolute;
    right     : 30px;
    top       : 30px;
    color     : #a0a0a0;
    cursor    : pointer;
    font-family: Helvitica_Neue_Thin;
    font-size   : 24px;
    &:hover {
      text-decoration : none;
    }
  }
  h3 {
    font-size      : 18px;
    border-bottom  : 1px solid #dadada;
    padding-bottom : 20px;
    margin-bottom  : 15px;
    font-weight    : normal;
    color          : #000;
  }
  .field-tips {
    padding : 5px 0;
    color   : #6db381;
  }
  .field-error {
    font-size    : 14px;
    color        : #F00;
    padding-left : 150px;
    margin-top   : 5px;
  }
  .field-ctn {
    padding   : 5px 0;
    font-size : 0;
    .i-arrow-down {
      font-size: 12px;
      line-height: 18px;
      margin-right: 10px;
      vertical-align: middle;
      cursor: default;
      &:before {
        content     : "\e610";
        font-family : "hitour";
        line-height: 18px;
      }
    }
    .child-age-wrap {
      display        : inline-block;
      width          : 260px;
      vertical-align : top;
    }
    .label {
      color          : #525252;
      display        : inline-block;
      width          : 150px;
      vertical-align : middle;
      font-size      : 14px;
      line-height: 38px;
    }
    .sep {
      font-size : 16px;
      margin    : 0 20px;
      color     : #dadada;
    }
    li {
      padding : 1px 0;
      color   : #525252;
      em {
        float       : right;
        line-height : 25px;
        width       : 50px;
      }
    }
  }

  .select {
    border             : 0;
    display            : inline-block;
    background         : #fff;
    -webkit-appearance : none;
    -moz-appearance    : none;
    width              : 220px;
    border-radius      : 0;
    height             : 38px;
    line-height        : 38px;
    vertical-align     : middle;
    font-size          : 14px;
    outline            : none;
    overflow           : hidden;
    padding-left:15px;

  }
  .select-box{
    left: -1px;
    position: absolute;
    width: 244px;
    border: 1px solid #DADADA;
    font-size: 14px;
    top: 38px;
    z-index: 2;
    background: #FFF;
    .option {
      line-height : 38px;
      height      : 38px;
      padding-left:15px;
      cursor: pointer;
      &:hover{
        color:#6db381;
      }
    }
  }
  .select-box.shortly{
    width: 72px;
    max-height: 200px;
    overflow: auto;
  }
  .error {
    border : 1px solid red !important;
  }
  .label-child {
    margin    : 0 19px;
    font-size : 16px;
  }
  .label-adult {
    padding-right : 164px;
    font-size     : 16px;
  }
  .departure {
    select {
      width : 440px;
    }
  }
  .quantity {
    padding-bottom : 25px;
    .hotel-desc {
      padding-left : 150px;
      margin-top   : 8px;
    }
  }
  .plan-selection {
    padding : 20px 0;
  }
  .select-holder {
    position       : relative;
    display        : inline-block;
    vertical-align : middle;
    border: 1px solid #DADADA;
    .arrow-down {
      border-style : solid;
      border-width : 5px 5px;
      border-color : #525252 transparent transparent transparent;
      width        : 0;
      position     : absolute;
      top          : 17px;
      right        : 8px;
      &:before {
        content      : "";
        border-style : solid;
        border-width : 4px 4px;
        border-color : #fff transparent transparent transparent;
        width        : 0;
        position     : absolute;
        top          : -5px;
        left         : -4px;
      }
    }
  }
  input {
    border : 1px solid #dadada;
    height : 38px;
    width  : 245px;
  }
  .radio {
    position       : relative;
    font-size      : 18px;
    vertical-align : middle;
    padding-right  : 10px;
    &:before {
      font-family : "Hitour", sans-serif;
      content     : "\e63c";
    }

  }
  .radio-inner {
    font-size : 12px;
    position  : absolute;
    left      : 3px;
    top       : 1px;
    left      : 2px\0;
    font-size : 14px\0;
    top       : 2px\0;
    display   : none;
    &:before {
      font-family : "hitour", sans-serif;
      content     : "\e63d";
      color       : #6db381;
    }
  }
  li.active {
    color : #6db381;
    .radio-inner {
      display : block;
    }
  }
  li.disable {
    display : none;
    //color:#ccc;
  }
  .dashed-divider {
    border-top : 1px dashed #d3d3d3;
  }
  .confirm-btn {
    width            : 100%;
    background-color : #aaa;
    margin           : 0 auto;
    color            : #fff;
    border           : 0;
    padding          : 10px 0;
    display          : block;
    font-size        : 16px;
    margin-top       : 30px;
  }
  .btn-active {
    background-color : #6db381;
  }
  .product-policy, .product-breakfast {
    .md {
      margin  : -4px 0 0 10px;
      display : inline-block;
      width   : 350px;
      ul, ol {
        list-style : none;
        padding    : 0;
        margin     : 0;
        border     : none;
      }
      li {
        line-height : 18px;
        margin-top  : 2px;
      }
      strong, i {
        display          : inline-block;
        padding          : 0 2px;
        background-color : #6db381;
        color            : #fff;
        font-weight      : bold;
      }
    }
  }
}

.activity-tag-141,
.activity-tag-142,
.activity-tag-143,
.activity-tag-144,
.activity-tag-145,
.activity-tag-146,
.activity-tag-147,
.activity-tag-148,
.activity-tag-149,
.activity-tag-150,
.activity-tag-151,
.activity-tag-152,
.activity-tag-153,
.activity-tag-154,
.activity-tag-155,
.activity-tag-156,
.activity-tag-157,
.activity-tag-158,
.activity-tag-161,
.activity-tag-162,
.activity-tag-163,
.activity-tag-164,
.activity-tag-165,
.activity-tag-166,
.activity-tag-flashsale {
  position : absolute;
  top      : 0px;
  left     : 30px !important;
}

//calendar
.xCalendar {
  top      : 47px !important;
  //  left: 0px !important;
  width    : 245px !important;
  overflow : visible !important;
}

.xCalendar .calendar-arrow {
  border-width : 8px 8px;
  border-color : transparent transparent #6db381 transparent;
  position     : absolute;
  top          : -16px;
  border-style : solid;
  width        : 0;
  z-index      : 11;
  left         : 11px;
  &:before {
    content      : '';
    border-width : 8px 8px;
    border-color : transparent transparent #f7f7f7 transparent;
    position     : absolute;
    top          : -6px;
    border-style : solid;
    width        : 0;
    z-index      : 11;
    left         : -8px;
  }
}

.date-legend {
  border-top : 1px solid #ccc;
  padding    : 12px 22px 10px 22px;
  .legend-item {
    line-height : 18px;
    display     : inline-block;
    width       : 90px;
  }
  .buy-rule {
    margin-top : 5px;
    color      : #6db381;
    &:before {
      font-family  : "hitour";
      content      : "\e647";
      margin-right : 15px;
      font-size    : 18px;
      position     : relative;
      top          : 2px;
    }
  }
  .date-enable {
    width          : 18px;
    height         : 18px;
    display        : inline-block;
    background     : #6db381;
    vertical-align : top;
    margin-right   : 15px;
  }
  .date-disable {
    width            : 18px;
    height           : 18px;
    display          : inline-block;
    background-color : #eee;
    vertical-align   : top;
    margin-right     : 15px;
  }
}



.select-holder.shortly {
  margin-bottom : 10px;
  margin-right  : 14px;
  .select {
    width : 48px;
  }
}

.dropmenu-init {
  border : 1px solid #000 !important;
}

.dropmenu-container .menu {
  border : 1px solid #000 !important;
}