@import "compass/utilities/sprites";
@import "compass/css3/background-size";
@import "icons/*.png";
@import "retina-icons/*.png";
$icons: sprite-map("icons/*.png");
$retinaIcons: sprite-map("retina-icons/*.png");

@mixin Icon($name){
  background-image:sprite-url($icons) ;
  background-position: sprite-position($icons,$name);
  background-repeat: no-repeat;
  display: inline-block;
  *display: inline;
  *zoom:1;
  height: image-height(sprite-file($icons, $name));
  width: image-width(sprite-file($icons, $name));
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    background-image: sprite-url($retinaIcons) ;
    background-position: sprite-position($retinaIcons,$name);
    @include background-size(ceil(image-width(sprite-path($retinaIcons)) / 2) auto);
  }
}
@mixin generateAllIcons(){
  @each $sprite in sprite-names($icons){
    .i-#{$sprite}{
      @include  Icon($sprite);
    }
  }
}
@include  generateAllIcons();