.top-ctn{
  background: url(../images/account/fundheader.png) center center;
  height: 380px;
}
.rule-ctn{
  .rule-desc{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    color: #666;
  }
  .rule-item-ctn{
    width:1000px;
    margin:0 auto;
    .rule-item{
      display: inline-block;
      vertical-align: top;
      width: 33%;
      padding-left: 145px;
      position: relative;
      margin-bottom:40px;
      &:before{
        position: absolute;
        left: 65px;

        font-size: 68px;
      }
      h3{
        font-size:22px;
        margin-bottom: 10px;
        color: #666;
      }
      p{
        font-size:14px;
        line-height: 19px;
      }
    }
    .icon-gift-circle-bg:before{
      color: #62B9CC;
    }
    .icon-share-circle-bg:before{
      color:#6DB381;
    }
    .icon-rmb-circle-bg:before{
      color: #DE8383;
    }
  }
}
.fund-content{
  font-size:0;
  background: rgb(239,239,239);
  padding-bottom:100px;
  .fund-status{
    width:1000px;
    margin:0 auto;
    padding:48px 0 95px 0;
    .status-wrap{
      width:50%;
      font-size:12px;
      display: inline-block;
      vertical-align: top;

      padding:15px 0;
      a{
        color:#999;
        margin-left: 10px;
        font-size: 14px;
        &:hover{
          text-decoration: none;

        }
      }
      p{
        font-size:20px;
        color: #666;
      }
      em{
        font-family: "Arial Black";
        font-size:60px;
        font-style:normal;
        color:#999;
      }
      i{
        font-style:normal;
        font-size:20px;
        position: relative;
        top:-2px;
        color:#666;
      }
    }
    .left-wrap{
      padding-left:245px;
      border-right:1px solid #a7a7a7;
    }
    .right-wrap{
      padding-left: 60px;
      em{
        color:#ee7171;
      }
      i{
        color:#ee7171;
      }
    }
  }
}

.fund-coupon-list{
  font-size: 14px;
  width: 1000px;
  margin: 0 auto;
  table{
    width:100%;
  }
  th{
    font-size: 18px;
    color: #666;
    font-weight: bold;
    padding: 24px 0;
    &.m-th{
      text-align: left;
      padding-left: 90px;
      width: 605px;
    }
  }
  .share-btn{
    padding: 6px 10px;
    background: #6DB381;
    color: #FFF;
    font-size: 14px;
    border-radius: 3px;
    margin-left: 20px;
    display:none
  }
  .detail{
    display: none;
  }
  tbody tr{
    border-top: 1px solid #a7a7a7;
    height:90px;
    a{
      font-size:12px;
      color:#666;
      &:hover{
        text-decoration: none;
      }
    }
    strong{
      color:#6db381;
    }

  }
  .fund-td{
    color:#ec7a48;
    font-size:18px;
    text-align: center;
    em{
      font-size:28px;
      font-family: "Arial Black";
      font-style: normal;
    }
    &.empty{
      color:#999;
    }
  }
  .coupon-ticket{
    background: url(../images/account/ticket.png);
    width: 65px;
    height: 38px;
    color: #6DB381;
    font-size: 18px;
    text-align: center;
    line-height: 38px;
    margin: 0 auto;
  }
}
.icon-smile-circle-bg:before {
  font-size: 24px;
  color: #6DB381;
  position: relative;
  line-height: 12px;
  top: 4px;
  margin-right: 14px;
}
.icon-cry-circle-bg:before {
  font-size: 24px;
  color: #EC7A48;
  position: relative;
  line-height: 12px;
  top: 4px;
  margin-right: 14px;
}
