@import "common";
html { font-family: "WenQuanYi Zen Hei","Microsoft YaHei","Arial";}
.main-wrap { position: relative; width: 1040px; height: 1590px; margin: 20px auto; overflow: hidden;border-left: 1px solid #ebebeb; border-right: 1px solid #ebebeb;}
.content-ctn { width: 1040px; margin: 0 auto; overflow: hidden; position: relative;}
header, footer { background: #585858; color: #fff; }
header { height: 80px;}
footer { height: 100px; position: absolute; bottom: 0px; padding-left: 20px;}
body {margin: 0px}
p {margin-top: 0px; margin-bottom: 0px;}

/*header*/
header .voucher-head { font-size: 28px; line-height: 1; margin: 32px 0px 20px 20px; }
header .voucher-head span { display: inline-block; *display: inline; zoom: 1; vertical-align: middle;margin-left: 10px; font-size: 16px;}
header .order-num { text-align: right; margin-top: -44px;}
header .order-num span { display: inline-block; *display: inline; zoom: 1;vertical-align: baseline; margin-left: 10px; font-size: 24px;}

/*footer*/
footer .content-ctn { padding-top: 20px;}
footer .content-ctn div { display: inline-block; *display: inline; zoom: 1; vertical-align: middle; font-size: 20px; line-height: 38px;}
footer .hitour { width: 183px; height: 62px; background: url(../images/voucher/hitour_logo.png) no-repeat;}
footer .email { margin-left: 60px; text-indent: 56px;  height: 40px; background: url(../images/voucher/email.png) no-repeat;}
footer .tel { margin-left: 45px; text-indent: 58px; height: 40px; background: url(../images/voucher/tel.png) no-repeat 0 -8px;}

/*Main content*/
.main-content {
  padding-top: 40px;
  color: black;
  .main-title {
    font-size: 36px;
    margin-left: 42px;
    margin-bottom: 15px;
  }
  .main-subtitle {
    font-size: 20px;
    margin-left: 42px;
    margin-bottom: 60px;
  }
}

.location {
  padding-left: 42px;
}

.header-zone {
    margin-bottom: 20px;
  .black-block {
    width: 10px;
    height: 20px;
    margin-right: 8px;
    background-color: black;
    display: inline-block;
  }
  .location-title {
    font-size: 22px;
    margin-right: 30px;
    display: inline-block;
  }
  .location-notice {
    font-size: 14px;
    color: #8f8f8f;
    display: inline-block;
  }
}

.location-content {
  margin-top: 32px;
  margin-bottom: 32px;
  position: relative;
  .qr-zone {
    display: inline-block;
    text-align: center;
    img {
      background: transparent;
      width: 105px;
      height: 105px;
    }
    p {
      font-size: 12px;
    }
  }

  .info-zone {
    display: inline-block;
    margin-left: 30px;
    vertical-align: top;
//    position: absolute;
    .info-title {
      font-size: 16px;
      margin-bottom: 10px;
    }
    .info-each {
      font-size: 14px;
      color: #8f8f8f;
      margin-bottom: 15px;
      line-height: 18px;
      .info-left {
        display: inline-block;
        vertical-align: top;
      }
      .info-right {
        display: inline-block;
        width: 750px;
      }
    }
  }
}

.block-top {
  margin-top: 40px;
}

.product-info {
  margin-bottom: 40px;
  padding: 60px 42px;
  border-top: 1px solid #ebebeb;
}

//.intro-zone {
//  margin-top: 40px;
//  margin-left: 23px;
//  h2 {
//    margin-top: 1em;
//    margin-bottom: 0.83em;
//    font-size: 16px;
//    color: black;
//    &:before{
//      @include inline-block();
//      width:10px;
//      height:10px;
//      background: #666;
//      content:' ';
//      margin-top: 2px;
//      margin-right: 5px;
//    }
//  }
//  p {
//    color: #6e6e6e;
//    font-size: 14px;
//    line-height: 18px;
//    margin-left: 15px;
//    margin-right: 30px;
//  }
//  ol li {
//    color: #6e6e6e;
//    font-size: 14px;
//    line-height: 18px;
//    margin-left: 15px;
//    margin-right: 30px;
//  }
//  ul li {
//    color: #6e6e6e;
//    font-size: 14px;
//    line-height: 18px;
//    margin-left: 15px;
//    margin-right: 30px;
//  }
//}


.markdown-text {
    overflow: hidden;
    padding-bottom : 20px;
    div {
        display: table;
        border: 1px solid #ddd;
        margin-top: -1px;
        &:first-child {
            margin-top: 0;
        }
    }
    h1, h2, h3, h4 ,h5, h6 {
        display: table-cell;
        vertical-align: middle;
        width: 100px;
        font-size: 14px;
        line-height: 1;
        padding: 8px;
        background: #eee;
        text-align: center;
    }
    ol, ul {
        float: left;
        margin: 0;
        width: 800px;
        padding: 8px 15px;
        font-size: 14px;
        border-left: 1px solid #ddd;
        list-style-position: inside;
        li {
            padding: 4px 0;
        }
    }
    p {
        margin-bottom: -10px;
        padding-top: 15px;
    }
}