* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

img {
  border: 0;
  height: auto;
  outline: none;
  line-height: 100%;
  text-decoration: none;
}

table td {
  border-collapse: collapse;
}

#outlook a {
  padding: 0;
}

#edm-preview-container, #logo-container, #head-container, .set-container {
  border: 0;
  font-family: '微软雅黑', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  border-collapse: collapse;
}
#edm-preview-container {
  background: #e9e5da;
}
#logo-container, #head-container, .set-container {
  width: 640px;
}
#head-container {
  background: #ffffff no-repeat top center;
}
.set-container {
  border-bottom: 1px solid #c1c1c1;
}
.set-container.odd {
  background: #ffffff;
}
.set-container.even {
  background: #efefef;
}
