<div class="section-title-row">
    <h3 class="section-title wrap">
        <em>酒店房型</em><span>（我们能为您提供如下房型选择）</span>
    </h3>
</div>
<div class="room-list wrap">
    <div class="room-item" ms-repeat-room="bundle.hotel.room_types">
        <div class="room-title-row">
            <span class="room-title">{{ room.name }}</span>
            <span class="room-area">房间面积 {{ room.area }}m<sup>2</sup></span>
        </div>
        <div class="room-service-row">
            <!-- <div class="room-service-item">
                <i class="icon-person"></i><span>{{ room.capacity }}人</span>
            </div> -->
            <span class="room-service-item" ms-repeat-service="room.services">
                <i ms-class="{{ service.class_name }}"></i><span>{{ service.name }}</span>
            </span>
        </div>
        <div class="room-desc-row">{{ room.highlight }}</div>
        <div class="room-more-row" ms-visible="bundle.hotel.room_types.length <= 1">
            <p class="room-desc">{{ room.highlight }}</p>
            <div class="room-images">
                <img ms-repeat-img="room.images" ms-src="{{ img.image_url }}?imageView2/5/w/180/h/118">
            </div>
            <ul class="room-more">
                <li class="more-item clearfix">
                    <div class="more-title">房价包含:</div>
                    <div class="more-content">{{ room.price_include }}</div>
                </li>
                <li class="more-item clearfix">
                    <div class="more-title">客房设施:</div>
                    <div class="more-content">{{ room.facilities }}</div>
                </li>
                <li class="more-item clearfix">
                    <div class="more-title">床尺寸:</div>
                    <div class="more-content">
                        <span>{{ room.bed_type }}&nbsp;&nbsp;宽{{ room.bed_size }}</span>
                        <span ms-visible="room.second_bed_type">&nbsp;&nbsp;&nbsp;或&nbsp;&nbsp;&nbsp;{{ room.second_bed_type }}&nbsp;&nbsp;宽{{ room.second_bed_size }}</span>
                    </div>
                </li>
                <li class="more-item clearfix">
                    <div class="more-title">可住人数:</div>
                    <div class="more-content">标准入住{{ room.capacity }}人，最多入住{{ room.max_capacity }}人</div>
                </li>
                <li class="more-item clearfix" ms-if="room.bed_policy_md != ''">
                    <div class="more-title">加床政策:</div>
                    <div class="more-content policy-md" ms-html="room.bed_policy_md"></div>
                </li>
                <li class="more-item clearfix" ms-if="room.policies.length > 0 && room.bed_policy_md == ''">
                    <div class="more-title">加床政策:</div>
                    <div class="more-content policy-md">
                        <table class="policy-table">
                            <tr ms-repeat-policy="room.policies">
                                <td width="35%" ms-if="policy.age_range != ''">{{ policy.age_range }}岁</td><td width="65%" colspan="2">{{ policy.policy }}</td>
                            </tr>
                            <tr>
                                <td width="100%" colspan="2">以上附加费用，需您在入住时另行支付。</td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li class="more-item clearfix" ms-if="room.breakfast_md != ''">
                    <div class="more-title">早餐费用:</div>
                    <div class="more-content breakfast-md" ms-html="room.breakfast_md"></div>
                </li>
            </ul>
            <div class="room-more-btn-up" ms-click="hideRoomMore(this)">收起 <i class="icon-arrow-up"></i></div>
        </div>
        <div class="room-price-block">市场价：<span>&yen;<em>{{ room.show_prices.orig_price }}</em></span></div>
        <div class="room-more-btn" ms-click="showRoomMore(this)">了解更多 <i class="icon-arrow-down"></i></div>
    </div>
</div>