<div class="hotel-facility">
    <div class="section-title-row">
        <h3 class="section-title wrap">
            <em>酒店设施</em>
        </h3>
    </div>
    <table class="hotel-facility-table wrap">
        <tbody>
            <tr>
                <td class="title">活动设施</td>
                <td class="content">{{ bundle.hotel.facilities }}</td>
            </tr>
            <tr class="border-top">
                <td class="title">餐饮服务</td>
                <td class="content">{{ bundle.hotel.food_service }}</td>
            </tr>
            <tr class="border-top">
                <td class="title">停车场</td>
                <td class="content">{{ bundle.hotel.parking_lot }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="hotel-policy">
    <div class="section-title-row">
        <h3 class="section-title wrap">
            <em>酒店政策</em>
        </h3>
    </div>
    <table class="hotel-policy-table wrap">
        <tbody>
            <tr>
                <td class="title">入住时间</td>
                <td class="content">{{ bundle.hotel.check_in_time }}</td>
            </tr>
            <tr class="border-top">
                <td class="title">退房时间</td>
                <td class="content">{{ bundle.hotel.check_out_time }}</td>
            </tr>
            <tr class="border-top">
                <td class="title">酒店接受的银行卡类型</td>
                <td class="content">
                    <span class="card-item" ms-repeat-card="bundle.hotel.bankcards">支持{{ card.item.bankcard_name }}<img ms-src="card.item.logo_url"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>