<div class="wrap clearfix">
    <div class="expert-col">
        <img class="expert-image" ms-src="bundle.hitour_expert.avatar_url">
        <div class="expert-name">{{ bundle.hitour_expert.name }}</div>
        <div class="expert-title">{{ bundle.hitour_expert.title }}</div>
    </div>
    <div class="highlights-col">
        <div class="highlights-title">推荐理由</div>
        <ul class="highlight-list">
            <li class="highlight-item" ms-repeat-highlight="bundle.hotel.highlight">
                <i class="icon-check2"></i><span>{{ highlight }}</span>
            </li>
        </ul>
    </div>
</div>