<div class="wrap">
    <div class="title-row clearfix">
        <div class="name-col">
            <h2 class="cn-name">{{ bundle.description.name }}</h2>
            <h2 class="en-name">{{ bundle.description.en_name }}</h2>
        </div>
        <div class="comment-col" ms-class="active : bundle_local.is_show_hotel_comments"
             ms-mouseover="showAllComments()" ms-mouseout="hideAllComments()">
            <div class="comment-item" ms-repeat-comment="bundle.hotel.rates"
                 ms-visible="bundle_local.is_show_hotel_comments || $index == 0">
                <img class="comment-logo" ms-src="comment.source.logo">
                <span class="comment-score"><em>{{ comment.rate }}</em>分</span>
                <i class="icon-arrow-down" ms-visible="$index == 0"></i>
            </div>
        </div>
    </div>
</div>