#home-carousel-container {
  .one-image-container {
    width: 49%;
    height: 180px;
    padding: 0;
    margin-left: 0;
    margin-right: 6px;
    min-height: 180px;
    .upload-holder, .image-holder {
      height: 135px;
    }
    .overlay {
      left: auto;
      right: 0;
      width: 80px;
      height: 135px;
    }
    .overlay-button {
      height: 67px;
      font-size: @body-font;
      line-height: 100%;
      padding-top: @grid-height;
    }
    .image-order {
      width: 60px;
      font-size: 60px;
    }
  }

  .home-group.one-block {
    float: left;
    width: 32%;
    margin-right: 1%;
    .cover {
      position: relative;
      padding-top: @grid-height / 2;
      padding-bottom: @grid-height / 2;
      img {
        width: 100%;
        height: 77px;
      }
      .ordering {
        top: @grid-height * 1.5;
        width: 80%;
        color: rgba(255, 255, 255, .7);
        position: absolute;
        font-size: 40px;
        text-align: center;
        line-height: 40px;
      }
    }
    .group-info {
      padding-top: @grid-height;
      .small-desc {
        span {
          color: @brand-secondary;
        }
      }
    }
    .status {
      padding-top: @grid-height * 1.5;
    }
  }
}