<div class="input-group input-dropdown" ng-class="options.class">
	<input class="form-control" type="number" min="{{model.min_num}}" ng-model="model.input">
	<div class="input-group-btn">
		<button type="button" class="btn btn-default dropdown-toggle correct-padding" data-toggle="dropdown">
			<span ng-bind="local.current_label"></span>
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu dropdown-menu-right">
			<li ng-repeat='(value, label) in options.items'>
				<label ng-click="options.updateLabel()">
					<input type="radio" name="{{ local.input_name }}" ng-model="model.option" value="{{ value }}" />
					<span ng-bind="label"></span>
				</label>
			</li>
		</ul>
	</div>
</div>