<div class="upload-holder" ng-class="options.class">
    <input type="file" ng-attr-id="{{ local.input_id }}" nv-file-select multiple accept="{{options.accept_type}}" uploader="options.uploader" />
    <div class="progress-screen" ng-show="options.uploader.queue[0].isUploading">
        <div class="progress">
            <div class="progress-bar" data-ng-style="{ 'width': options.uploader.progress + '%' }">
            </div>
        </div>
    </div>
    <div class="result-screen" ng-show="options.image_url && !options.uploader.queue[0].isUploading" ng-click="triggerUpload()">
        <img ng-src="{{ options.image_url }}" />
        <div class="upload-overlay" ng-if="options.show_overlay">
            <div class="text-center">
                <span class="i i-swift-arrow-right"></span>
                <span class="desc">修改图片</span>
            </div>
        </div>
    </div>
    <div class="default-screen" ng-show="!options.image_url && !options.uploader.queue[0].isUploading"
         ng-click="triggerUpload()">
        <div class="text-center">
            <span class="i i-plus"></span>
            <span class="desc">上传图片</span>
        </div>
    </div>
</div>