.product-service-include, .product-please-read, .product-redeem-usage {
  border-top: 1px solid #ddd;
  padding: 50px 0; }
  .product-service-include .border-top, .product-please-read .border-top, .product-redeem-usage .border-top {
    border-top: 1px solid #ddd; }
  .product-service-include .part-title, .product-please-read .part-title, .product-redeem-usage .part-title {
    font-size: 40px;
    line-height: 1;
    text-align: center; }
  .product-service-include .services, .product-service-include .notes, .product-service-include .tips, .product-service-include .redeem, .product-service-include .usage, .product-please-read .services, .product-please-read .notes, .product-please-read .tips, .product-please-read .redeem, .product-please-read .usage, .product-redeem-usage .services, .product-redeem-usage .notes, .product-redeem-usage .tips, .product-redeem-usage .redeem, .product-redeem-usage .usage {
    padding: 50px 0; }
  .product-service-include .title-col, .product-please-read .title-col, .product-redeem-usage .title-col {
    float: left;
    width: 250px;
    padding-left: 50px; }
  .product-service-include .title-text, .product-please-read .title-text, .product-redeem-usage .title-text {
    font-size: 20px;
    font-weight: bold; }
  .product-service-include .content-col, .product-please-read .content-col, .product-redeem-usage .content-col {
    float: left;
    width: 750px; }
  .product-service-include .service-include-md ol, .product-service-include .service-include-md ul, .product-please-read .service-include-md ol, .product-please-read .service-include-md ul, .product-redeem-usage .service-include-md ol, .product-redeem-usage .service-include-md ul {
    margin: 0;
    padding: 0; }
  .product-service-include .service-include-md li, .product-please-read .service-include-md li, .product-redeem-usage .service-include-md li {
    display: list-item;
    width: 700px;
    list-style: disc inside;
    word-break: break-word;
    margin-bottom: 8px; }
  .product-service-include .markdown-text div, .product-please-read .markdown-text div, .product-redeem-usage .markdown-text div {
    display: table;
    border: 1px solid #ddd;
    margin-top: -1px; }
  .product-service-include .markdown-text h1, .product-service-include .markdown-text h2, .product-service-include .markdown-text h3, .product-service-include .markdown-text h4, .product-please-read .markdown-text h1, .product-please-read .markdown-text h2, .product-please-read .markdown-text h3, .product-please-read .markdown-text h4, .product-redeem-usage .markdown-text h1, .product-redeem-usage .markdown-text h2, .product-redeem-usage .markdown-text h3, .product-redeem-usage .markdown-text h4 {
    display: table-cell;
    vertical-align: middle;
    width: 100px;
    font-size: 14px;
    line-height: 1;
    padding: 8px;
    background: #eee;
    text-align: center; }
  .product-service-include .markdown-text ol, .product-service-include .markdown-text ul, .product-please-read .markdown-text ol, .product-please-read .markdown-text ul, .product-redeem-usage .markdown-text ol, .product-redeem-usage .markdown-text ul {
    float: left;
    width: 600px;
    margin: 0;
    padding: 8px 15px;
    font-size: 14px;
    border-left: 1px solid #ddd;
    list-style-position: inside; }
    .product-service-include .markdown-text ol li, .product-service-include .markdown-text ul li, .product-please-read .markdown-text ol li, .product-please-read .markdown-text ul li, .product-redeem-usage .markdown-text ol li, .product-redeem-usage .markdown-text ul li {
      padding: 4px 0; }
  .product-service-include .markdown-text p, .product-please-read .markdown-text p, .product-redeem-usage .markdown-text p {
    display: list-item;
    width: 700px;
    list-style: disc inside;
    word-break: break-word;
    margin-bottom: -10px;
    padding-top: 15px; }
  .product-service-include .redeem-map, .product-please-read .redeem-map, .product-redeem-usage .redeem-map {
    padding-top: 50px; }
    .product-service-include .redeem-map #redeem_map, .product-please-read .redeem-map #redeem_map, .product-redeem-usage .redeem-map #redeem_map {
      width: 1000px;
      height: 250px; }
  .product-service-include .location-icon, .product-please-read .location-icon, .product-redeem-usage .location-icon {
    background-image: url("../../../../../lib/GoogleMap/map_ico.png");
    display: inline-block;
    margin-top: -5px;
    width: 27px;
    height: 32px;
    line-height: 1;
    vertical-align: middle; }
  .product-service-include .location-group-title, .product-please-read .location-group-title, .product-redeem-usage .location-group-title {
    font-size: 16px;
    font-weight: bold;
    margin: 12px 0 8px; }
    .product-service-include .location-group-title.first, .product-please-read .location-group-title.first, .product-redeem-usage .location-group-title.first {
      margin-top: 0; }
