<div class="hi-grid">
	<table class="table table-striped" id="{{ local.table_id }}">
		<thead>
			<tr>
				<th ng-repeat="col in options.columns" ng-style="{ width: col.width }" ng-click="clickHead( $index )" ng-class="{ 'sortable' : col.use_sort }">
					<span hi-loader="options.label.getHead( col, $index )"></span>
					<span class="i" ng-show="col.use_sort" ng-class="{ 'i-arrow-down': options.query.sort[col.name] === 0, 'i-arrow-up': options.query.sort[col.name] === 1 }"></span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="record in options.data" ng-init="record_index = $index">
				<td ng-repeat="col in options.columns" hi-loader="options.label.getBody( col, $index, record, record_index )">
				</td>
			</tr>
		</tbody>
	</table>
	<div class="text-center">
		<div class="pagination pagination-inverse active" ng-show="local.paging.total_pages > 1">
			<a class="btn btn-inverse previous" ng-hide="local.paging.current_page == 1 || local.paging.hide_extremity" ng-click="selectPage(1)">
				首页
			</a>
			<ul>
				<li ng-repeat="i in local.paging.all_pages" ng-class="{ active: local.paging.current_page == i }">
					<a ng-click="selectPage(i)" ng-bind="i"></a>
				</li>
			</ul>
			<a class="btn btn-inverse next" ng-hide="local.paging.current_page == local.paging.total_pages  || local.paging.hide_extremity" ng-click="selectPage(local.paging.total_pages)">
				尾页
			</a>
		</div>
	</div>
</div>