.product-tour {
    width       : 1000px;
    margin      : 0 auto;
    padding-top : 50px;

    .tour-brief-ctn {
        padding  : 0 30px;
        overflow : hidden;
        zoom     : 1;
    }
    .brief-img {
        float      : left;
        text-align : center;
        width      : 199px;
        font-size  : 16px;
        color      : #333;
        p {
            line-height : 2;
        }
        img {
            width         : 124px;
            height        : 124px;
            border-radius : 50%
        }
    }
    .split-decoration {
        float      : left;
        width      : 1px;
        background : #eee;
        height     : 100px;
        margin-top : 20px;
    }
    .brief-ctn {
        float   : left;
        width   : 740px;
        padding : 0 40px;
    }
    .brief-title {
        font-size      : 20px;
        color          : #333;
        padding-bottom : 10px;
    }
    .brief-desc {
        font-size      : 14px;
        line-height    : 1.8;
        display        : table-cell;
        vertical-align : middle;
        min-height     : 100px;
    }

    .tour-schedule-map {
        margin-top : 40px;
        height     : 400px;
        overflow   : hidden;
        border     : 1px solid #eee;
    }
    .tour-intro-ctn {
        margin-top : 45px;
        height     : 254px;
        position   : relative;
        border     : 1px solid #eee;
    }
    .tour-intro-img {
        cursor   : pointer;
        height   : 254px;
        overflow : hidden;
    }
    .access-btn {
        background  : url('../images/button.png') no-repeat;
        position    : absolute;
        top         : 100px;
        right       : 130px;
        width       : 179px;
        height      : 57px;
        color       : #fff;
        line-height : 57px;
        font-size   : 18px;
        text-align  : center;
        cursor      : pointer;
        &:hover {
            background : url('../images/buttonhover.png') no-repeat;
        }
    }
    .tour-outline {
        margin   : 60px 0;
        overflow : hidden;
    }
    .outline-title {
        font-size     : 22px;
        text-align    : center;
        margin-bottom : 50px;
        &:before {
            content        : '';
            width          : 92px;
            height         : 6px;
            border-top     : 1px solid #ccc;
            border-bottom  : 1px solid #ccc;
            margin-right   : 25px;
            display        : inline-block;
            vertical-align : middle;
        }
        &:after {
            content        : '';
            width          : 92px;
            height         : 6px;
            border-top     : 1px solid #ccc;
            border-bottom  : 1px solid #ccc;
            display        : inline-block;
            vertical-align : middle;
            margin-left    : 25px;
        }
    }
    .outline-abstract {
        overflow  : hidden;
        *zoom     : 1;
        font-size : 16px;
        ul {
            position   : relative;
            left       : 50%;
            float      : left;
            list-style : none;
            padding    : 0
        }
        li {
            float        : left;
            *display     : inline;
            position     : relative;
            right        : 50%;
            padding      : 0 60px;
            height       : 100px;
            border-right : 1px solid #eee;
            &.first {
                padding-left : 0;
            }
            &.last {
                padding-right : 0;
            }
        }
        .fix-border {
            border-right : none;
        }
    }
    .abstract-title {
        color         : #6db381;
        font-weight   : bold;
        margin-bottom : 12px;
    }
    .abstract-head {
        font-size : 50px;
        padding   : 0 8px 0 4px;
    }
    .outline-detail {
        margin : 30px 0;
        table {
            width  : 100%;
            border : 1px solid #eee;
            thead tr th {
                background  : #ecf6ee;
                height      : 56px;
                line-height : 56px;
            }
            tbody tr {
                border-top : 1px solid #eee;
                td {
                    padding : 10px;
                    color   : #666;
                }
                ul {
                    list-style : inside;
                }
            }
        }
    }
    .detail-highlights {
        margin  : 0;
        padding : 0 10px;
    }
    .show-detail-btn {
        float           : right;
        margin-right    : 40px;
        font-size       : 18px;
        color           : #6db381;
        cursor          : pointer;
        text-decoration : underline;
    }
    .day-row {
        transition : background-color 0.1s;
        &:hover {
            cursor           : pointer;
            background-color : #72c5b3;
            td {
                color : #fff;
            }
        }
    }
}