.city-header {
  position: relative;
  height: 220px;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center bottom; }
  .city-header .wrap {
    position: relative; }

.city-name {
  position: absolute;
  top: 100px;
  left: 0;
  color: #fff;
  font-weight: 200;
  text-shadow: 1px 1px 5px #000; }
  .city-name .cn-name {
    display: inline-block;
    font-size: 50px;
    line-height: 1; }
  .city-name .en-name {
    display: inline-block;
    margin-left: 5px;
    font-size: 40px;
    line-height: 1; }

.city-breadcrumb {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold; }
  .city-breadcrumb .breadcrumb-wrap {
    float: left;
    margin-left: -5px; }
  .city-breadcrumb .breadcrumb-item {
    line-height: 30px;
    color: #fff; }
    .city-breadcrumb .breadcrumb-item a {
      display: inline-block;
      padding: 0 8px;
      line-height: 30px;
      height: 30px;
      color: #ddd; }
      .city-breadcrumb .breadcrumb-item a:hover {
        color: #fff; }
    .city-breadcrumb .breadcrumb-item span {
      padding: 0 8px; }
  .city-breadcrumb .city-search {
    float: right; }
  .city-breadcrumb .search-wrap {
    display: block;
    margin-top: 10px;
    height: 30px;
    background-color: white;
    line-height: 30px;
    border-radius: 2px;
    padding: 0 6px; }
  .city-breadcrumb .search-input {
    background-color: transparent;
    border: 0;
    width: 200px;
    font-weight: lighter;
    line-height: 18px;
    font-size: 12px; }
  .city-breadcrumb .search-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-left: 1px solid #eee;
    padding-left: 6px; }
    .city-breadcrumb .search-btn:hover {
      color: #6db381;
      cursor: pointer; }
