#promotion-edit-container {
    .forms-table {
        width : 100%;
    }
    .one-block {
        min-height     : 1 * @grid-height;
        padding        : @grid-height / 2 @grid-height;
        padding-bottom : 0;
        margin-bottom  : @grid-height;

        .title {
            margin-bottom : @grid-height / 2;
            font-size     : 18px;
            font-weight   : bolder;
        }
        .small-desc {
            font-size      : @body-font-small;
            padding-bottom : 0px;
        }
        .ordering {
            top         : 14px;
            right       : @grid-height * 7.5;
            color       : rgba(130, 130, 130, .5);
            position    : absolute;
            font-size   : 40px;
            line-height : 40px;
        }
        .group-name {
            width : 90%;
        }
        .all-status {
            top      : @grid-height;
            right    : 2 * @grid-height;
            position : absolute;
        }
        .btn-group {
            .btn.dropdown-toggle {
                width : @grid-height * 5;
            }
        }
        &.editing {
            color      : @white;
            background : @brand-secondary;
            .title, .small-desc, .brand-secondary, .all-status {
                color : @white;
            }
        }
    }
    .group-edit-info {
        padding  : @grid-height @grid-width;
        position : relative;
        .block-btn {
            right    : @grid-height;
            bottom   : @grid-height / 2;
            position : absolute;
        }
    }
    .one-image-container {
        float        : left;
        width        : 30%;
        height       : 300px;
        padding      : 0;
        min-height   : 265px;
        margin-left  : 0;
        margin-right : 1%;
        .upload-holder, .image-holder, .overlay {
            height : 100px;
        }
        .overlay {
            left  : auto;
            right : 0;
            width : 4 * @grid-height;
        }
        .overlay-button {
            height      : 100px;
            font-size   : @body-font;
            line-height : 100%;
            padding-top : 30px;
        }
        .image-order {
            line-height : 1;
        }
        .misc-info {
            width    : 107%;
            bottom   : 0;
            padding  : 0 @grid-height @grid-height / 2 @grid-height;
            position : absolute;
        }
        .image-info p {
            word-wrap     : break-word;
            margin-bottom : @grid-height / 2;
        }
    }
    .promotion-cover {
        .cover {
            .upload-holder, .banner-img {
                width  : 735px;
                height : 175px;
            }
        }
        .mobile {
            .upload-holder, .banner-img {
                width  : 368px;
                height : 160px;
            }
        }
    }
}