<div class="tags-container">
    <div class="input-row row">
        <div class="col-md-8 hiselecttag">
            <select
                    chosen
                    style="width: 100%;"
                    ng-model="local.selected_item"
                    ng-options="item[options.select.value_prop] as item[options.select.label_prop] for item in select track by item[options.select.value_prop]"
                    data-placeholder="{{ options.select.placeholder }}"
                    no-results-text="'没有找到'"
                    >
            </select>
        </div>
        <div class="col-md-4">
            <button class="btn btn-inverse block-action add" ng-click="addTag()" ng-disabled="!local.selected_item">
                <span ng-bind="local.btn_text"></span>
                <span class="i i-refresh refresh-animate" ng-show="local.in_progress"></span>
            </button>
        </div>
        <div class="col-md-6">
			<span class="process-msg" ng-class="{ 'error' : local.is_error }" ng-show="local.message"
                  ng-bind="local.message"></span>
        </div>
    </div>
    <div class="one-block">
        <div class="one-tag selected" ng-repeat="tag in model" ng-bind="tag[ options.title_str ]"
             ng-click="delTag( $index )"></div>
    </div>
</div>