@charset "UTF-8";
p {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.none {
  display: none; }

.price-font {
  font-family: SimHei, "华文细黑", "STHeiti", Helvetica, "微软雅黑", "Microsoft YaHei", Arial, sans-serif; }

.no-scroll {
  overflow: hidden; }

.account-container .container {
  padding: 60px 80px;
  background: white; }

/** Tabs **/
.tab-nav {
  margin-left: 0px;
  padding-left: 0px; }
  .tab-nav li {
    list-style-type: none;
    display: inline;
    font-size: 30px;
    margin-right: 16px; }
    .tab-nav li a {
      color: #999999;
      text-decoration: none;
      padding-bottom: 2px;
      border-bottom: 1px solid transparent; }
      .tab-nav li a:hover {
        border-bottom: 1px solid #000; }
    .tab-nav li.active a {
      border-bottom: 1px solid #000; }
  .tab-nav a {
    cursor: pointer; }

.tab-sub {
  float: right;
  margin-top: 60px;
  margin-bottom: 35px; }
  .tab-sub ul li {
    font-size: 16px;
    color: black;
    margin-left: 48px;
    margin-right: 0px;
    text-align: right; }

.order-tab-title-container {
  width: 100%; }

/** Sections **/
.section-title {
  font-size: 18px;
  line-height: 18px;
  margin-top: 70px;
  margin-bottom: 40px; }
  .section-title .mark {
    width: 5px;
    height: 10px;
    background: #525252;
    margin-right: 12px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle; }

.section-content {
  margin-left: 24px; }

.account-section .section-content {
  width: 250px; }

/** Items **/
.item-title {
  color: #999999;
  font-size: 12px;
  line-height: 100%; }

a.item-title {
  color: #0088ff;
  text-decoration: none; }

.item-content {
  color: black;
  float: left;
  font-size: 18px;
  margin-bottom: 12px; }

.contact-section .item-title {
  font-size: 14px; }

/** Contacts **/
.edit-contact-container .input-container {
  width: 170px;
  margin-bottom: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle; }
  .edit-contact-container .input-container.email {
    width: 200px; }
.edit-contact-container .button-confirm {
  margin-left: 10px; }

.new-contact {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top; }

.contacts-label, .contacts-list {
  float: left; }

.contacts-label.item-title {
  top: 8px;
  color: black;
  position: relative;
  margin-right: 10px; }

.contacts-list .list-link {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  color: #999999;
  padding: 0 11px;
  font-size: 14px;
  line-height: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-decoration: none; }
  .contacts-list .list-link:hover {
    border: 1px solid #6db381;
    padding: 0 10px;
    line-height: 28px; }
  .contacts-list .list-link.active {
    color: white;
    line-height: 30px;
    padding-left: 12px;
    padding-right: 6px;
    background: #6db381; }
    .contacts-list .list-link.active:hover {
      border: 0px;
      line-height: 30px;
      padding-left: 12px;
      padding-right: 6px; }
    .contacts-list .list-link.active .icon-x {
      display: inline-block; }
  .contacts-list .list-link .icon-x {
    color: white;
    display: none;
    font-size: 8px;
    line-height: 30px;
    margin-left: 10px;
    transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s; }
    .contacts-list .list-link .icon-x:hover {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg); }

.delete-modal {
  width: 300px;
  height: 180px;
  padding: 50px 10px;
  background: white; }
  .delete-modal p {
    font-size: 16px; }
  .delete-modal .delete-action {
    margin-top: 30px; }

.contact-list {
  margin-bottom: 10px; }

/** Email & Password **/
.email-modify, .new-contact, .list-link {
  cursor: pointer; }

.email-modify {
  top: 8px;
  color: #0088ff;
  float: right;
  position: relative;
  font-size: 12px;
  line-height: 100%;
  text-decoration: none; }
  .email-modify:hover {
    text-decoration: none;
    color: #0088ff; }

.password-container .input-container {
  margin-top: -1px;
  margin-bottom: 0; }

.button-container {
  margin-top: 15px; }
  .button-container .button-warned {
    float: right;
    margin-top: 10px; }
  .button-container .error-msg {
    float: left;
    width: 60%;
    position: static; }

/** Coupons **/
.coupon-info {
  color: black;
  font-size: 14px;
  margin-bottom: 40px; }

.coupon-status {
  color: #81ba27;
  font-size: 14px;
  margin-left: 44px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top; }
  .coupon-status.coupon-invalid {
    color: #f60; }

/** Order List **/
.table {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0; }

.table-striped tr:nth-child(odd) > td {
  background: #f7f7f7; }

.table-order thead tr {
  height: 54px; }
.table-order th {
  color: white;
  font-size: 14px;
  background: #6db381;
  text-align: center;
  line-height: 54px;
  font-weight: normal;
  border-right: 1px solid white;
  vertical-align: middle; }
.table-order tr {
  height: 90px;
  vertical-align: middle; }
.table-order .product-name {
  padding: 0 25px; }
.table-order .order-action {
  padding: 20px 0; }
  .table-order .order-action .link-download, .table-order .order-action .link-action, .table-order .order-action .product-name a {
    font-size: 14px;
    line-height: 100%;
    text-decoration: none; }
.table-order .link-download {
  color: #005aff;
  display: block;
  margin-bottom: 20px; }
.table-order .link-action {
  color: #08f;
  cursor: pointer; }
.table-order .product-name a {
  color: black;
  line-height: 18px; }
  .table-order .product-name a:hover {
    color: #08f;
    text-decoration: none; }
.table-order .action-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .table-order .action-list li {
    font-size: 0;
    margin-right: 8px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top; }
.table-order .status-unpaid_orders {
  color: #6db381; }
.table-order .status-shipped_orders {
  color: #6db381; }
.table-order .status-processing_orders {
  color: #ff6600; }
.table-order .status-refunded_orders {
  color: #999999; }

/** Coupon Overlay **/
/** Order Overlay **/
.overlay-content-container.order {
  width: 1030px;
  margin-left: -515px;
  text-align: left;
  background: #FFF;
  top: 5%;
  height: 90%;
  position: fixed;
  left: 50%; }

.order-detail-container {
  padding-bottom: 50px; }

.info-header {
  width: 100%;
  height: 110px;
  overflow: hidden; }
  .info-header .title {
    color: #999999;
    padding-bottom: 12px; }
  .info-header .product-name {
    margin-top: -10px;
    line-height: 36px; }

.order-block {
  margin-top: 28px;
  text-align: center;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top; }

.text-strong {
  font-weight: bold; }

.color-warned {
  color: #ff6600; }

.info-status {
  height: 90px;
  position: relative;
  overflow: hidden;
  background: #f6f6f6;
  border-top: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE; }
  .info-status .status-desc {
    float: left;
    width: 75%;
    text-align: left;
    margin-left: 40px; }
  .info-status .title {
    color: black;
    margin: 13px 0 10px 0;
    font-size: 18px; }
  .info-status .desc {
    color: #666;
    font-size: 14px; }
  .info-status .order-action-list {
    top: 30px;
    right: 40px;
    position: absolute; }
  .info-status .order-action {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    margin-left: 10px; }

.info-section {
  margin-left: 40px; }
  .info-section .section-title {
    margin-top: 30px;
    margin-bottom: 18px; }
  .info-section .section-content {
    margin-left: 12px;
    margin-right: 40px; }
  .info-section .item-pair {
    padding-top: 5px;
    font-size: 14px;
    line-height: 200%; }
  .info-section .mark {
    height: 20px;
    margin-right: 2px; }
  .info-section .intro {
    line-height: 30px; }
  .info-section .with-bg {
    color: black;
    padding: 0 12px;
    line-height: 36px;
    text-transform: uppercase;
    background-image: url("../images/common/point_bg.png"); }
  .info-section.coupon .with-bg {
    margin: 14px 0 0 0; }
  .info-section.insurance .insurance-codes {
    margin-top: 25px; }
  .info-section.insurance .with-bg {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    margin-right: 40px;
    margin-bottom: 20px; }
  .info-section .product-ctn {
    border: 1px solid #eee;
    margin-bottom: 10px; }
  .info-section .product-info {
    padding: 15px 20px 0; }
    .info-section .product-info .product-title {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: top;
      width: 70%;
      color: black;
      font-size: 18px; }
    .info-section .product-info .product-amount {
      color: #aaa;
      margin-right: 20px;
      font-size: 16px; }
      .info-section .product-info .product-amount .price-amount {
        color: #ff6600; }
  .info-section .product-free {
    padding: 10px 20px 0;
    overflow: hidden;
    zoom: 1; }
    .info-section .product-free .free {
      float: left;
      width: 80px;
      color: #ff6600; }
    .info-section .product-free .free-item {
      margin: 0 0 0 90px;
      padding: 0;
      list-style: none; }
      .info-section .product-free .free-item li {
        line-height: 1.6; }
  .info-section .product-inform {
    padding: 0 20px 10px; }
  .info-section .passenger-block {
    background: #f6f6f6;
    padding: 15px 10px;
    border-top: 1px solid #eee;
    overflow: hidden;
    zoom: 1; }

.passenger-section .mark {
  height: 10px; }
.passenger-section .section-title {
  font-size: 14px; }
.passenger-section .section-content {
  padding: 20px 40px; }
.passenger-section .info-block {
  width: 24%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top; }
.passenger-section .cell-title {
  color: #999999;
  font-size: 14px;
  line-height: 100%; }
.passenger-section .cell-content {
  padding: 12px 0;
  font-size: 18px;
  font-weight: bolder;
  line-height: 24px; }
.passenger-section.col-md-6 .section-title {
  margin-bottom: 10px; }
.passenger-section.col-md-6 .info-block {
  width: 48%; }

body {
  position: relative; }

.input-container.active label {
  color: #08f !important; }

.coupon-rule-list {
  width: 688px;
  border: 1px solid #FFF;
  position: absolute;
  left: 165px; }
  .coupon-rule-list .inner-border {
    border: 1px solid #A6A6A6;
    padding: 20px 43px;
    background: #F7F7F7;
    max-height: 250px;
    overflow: auto; }
  .coupon-rule-list ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  .coupon-rule-list li {
    line-height: 34px;
    font-size: 16px;
    counter-increment: list1;
    color: #006CFF; }
    .coupon-rule-list li:before {
      content: counter(list1) ". "; }
    .coupon-rule-list li a {
      color: #006CFF; }
  .coupon-rule-list .arrow {
    border-style: solid;
    border-width: 17px 14px;
    border-color: transparent transparent #a6a6a6;
    position: absolute;
    top: -33px;
    left: 100px; }
    .coupon-rule-list .arrow:before {
      content: '';
      border-style: solid;
      border-width: 17px 14px;
      border-color: transparent transparent #f7f7f7;
      position: absolute;
      left: -14px;
      top: -15px; }

.coupon-table td em {
  font-style: normal;
  color: #006cff;
  font-size: 16px;
  cursor: default; }
.coupon-table td i {
  font-style: normal;
  color: #fff;
  background: #6db381;
  font-size: 12px;
  padding: 2px 5px;
  margin-left: 10px;
  cursor: pointer; }
.coupon-table td.bold-td {
  font-size: 18px;
  font-weight: bold;
  color: #000; }
.coupon-table td.rule-td {
  font-size: 16px;
  color: #000;
  -webkit-user-select: none;
  -moz-user-select: none; }
