@charset "UTF-8";
p {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.none {
  display: none; }

.price-font {
  font-family: SimHei, "华文细黑", "STHeiti", Helvetica, "微软雅黑", "Microsoft YaHei", Arial, sans-serif; }

.no-scroll {
  overflow: hidden; }

body {
  background: #f6f6f6; }

.main-content {
  font-size: 0; }

.main-header {
  background: #464646; }
  .main-header .navbarheader {
    background: #464646; }
  .main-header .btn-groups {
    display: none; }
  .main-header .navbar-text {
    display: none; }
  .main-header .icon-slogan {
    color: #fff; }

.container {
  width: 1200px; }

.main-wrap {
  background: #f7f7f7;
  position: relative;
  padding-left: 0px; }

.product-info {
  padding-left: 85px;
  font-size: 18px;
  width: 100%;
  height: 103px;
  line-height: 103px;
  background: #F7F7F7; }

.aside-fixed {
  position: fixed;
  margin-top: -80px;
  overflow-y: scroll; }

.fixed-margin {
  position: absolute;
  bottom: 40px;
  right: 20px; }

aside {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  width: 315px;
  margin-left: 45px;
  font-size: 14px;
  overflow: hidden;
  background: white url(../images/checkout/aside_bottom.png) no-repeat bottom center;
  position: relative; }
  aside .cover-ctn {
    width: 315px;
    height: 180px; }
  aside.fixed {
    position: fixed;
    top: 0; }
  aside.fixed2 {
    position: fixed;
    bottom: 20px; }
  aside.fixed-bottom {
    position: absolute;
    bottom: 154px;
    top: auto; }
  aside .aside-framework {
    border: 1px solid #D5D5D5;
    padding: 16px 30px 0px 30px; }
  aside .aside-top {
    width: 324px;
    height: 10px;
    background-position: center;
    background-image: url("../images/checkout/aside_top2.png"); }
  aside .aside-bottom {
    background: white url("../images/checkout/aside_bottom.png") no-repeat top center;
    position: absolute;
    height: 5px;
    bottom: 0;
    left: 0;
    width: 100%; }
  aside .aside-title {
    font-size: 14px;
    color: #525252;
    margin-bottom: 15px; }
  aside .aside-content {
    width: 250px;
    margin-bottom: 30px;
    text-align: left;
    background-image: url("../images/common/point_bg.png");
    display: inline-block; }
  aside .aside-content-style {
    padding: 4px 13px;
    float: left; }
  aside .aside-content-font {
    margin: 0px;
    font-size: 20px;
    color: black;
    padding: 0px;
    vertical-align: middle; }
  aside .aside-content-title {
    margin: 0px;
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin-right: 30px;
    vertical-align: middle; }
  aside .aside-confirm {
    padding: 15px 25px;
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    background: #fff;
    padding-bottom: 18px; }
    aside .aside-confirm .confirm-title {
      display: inline-block;
      font-size: 18px;
      color: #525252;
      margin-bottom: 15px;
      margin-left: 10px; }
    aside .aside-confirm .price-zone {
      display: inline-block;
      height: 51px;
      margin-left: 95px; }
      aside .aside-confirm .price-zone .total-price {
        font-size: 32px;
        color: #ff6600;
        font-family: helvetica_neue_Thin;
        width: 130px; }
        aside .aside-confirm .price-zone .total-price:before {
          content: "\e617";
          font-family: 'hitour';
          font-size: 24px; }

.main-content .left-content {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  width: 830px;
  margin-bottom: 40px; }
  .main-content .left-content section {
    padding-left: 65px;
    margin-top: 1px;
    margin-bottom: 10px;
    background: #FFF;
    border: 1px solid #D5D5D5;
    counter-increment: seq; }

.section-title {
  padding-left: 50px;
  position: relative;
  margin: 28px 0; }
  .section-title .seq {
    position: absolute;
    left: -65px;
    width: 86px;
    height: 40px;
    background: #6DB381;
    color: #FFF;
    line-height: 40px;
    padding-left: 25px;
    font-size: 18px; }
    .section-title .seq:before {
      content: counter(seq); }
  .section-title h2 {
    font-size: 18px;
    margin-bottom: 9px; }
  .section-title p {
    font-size: 14px; }
  .section-title:before {
    position: absolute;
    font-size: 40px;
    left: -17px; }

.contact-list {
  font-size: 16px;
  width: 770px; }
  .contact-list .contact-wrap {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    margin-right: 27px;
    margin-bottom: 18px;
    cursor: pointer;
    position: relative; }
    .contact-list .contact-wrap:hover {
      color: #6db381; }
    .contact-list .contact-wrap:after {
      font-family: "Hitour";
      content: '\e618';
      margin-left: 16px;
      color: #6DB381; }
    .contact-list .contact-wrap.checked:after {
      content: '\e619'; }

.add-new-contact {
  color: #0088ff !important; }
  .add-new-contact:hover {
    color: #0088ff !important; }
  .add-new-contact:after {
    color: #0088ff !important;
    content: "+" !important;
    margin-left: 0px !important;
    position: absolute;
    top: -2px;
    right: -15px; }

.passengers.disabled {
  /*fieldset{
    border: 1px solid #CCC;
    padding: 6px 0;
  }
  .field-wrap{
    border:0 !important;
  }*/ }

.fieldset-wrap {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  margin-bottom: 35px; }
  .fieldset-wrap h3 {
    margin-bottom: 15px;
    color: #000;
    font-weight: normal;
    font-size: 16px; }
    .fieldset-wrap h3:before {
      content: " ";
      width: 5px;
      height: 10px;
      display: inline-block;
      background: #000;
      margin-right: 10px;
      position: relative;
      top: -2px; }
  .fieldset-wrap.leader {
    display: block; }
  .fieldset-wrap.leader-l fieldset {
    width: 701px; }

fieldset {
  border: 1px solid #999;
  border-bottom: 0;
  width: 351px;
  border-right: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  position: relative;
  margin: 0;
  margin-right: 25px;
  padding: 0; }

.field-wrap {
  position: relative;
  padding: 0;
  border-right: 1px solid #999;
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid #999;
  height: 55px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top; }
  .field-wrap .border {
    position: absolute;
    width: 176px;
    height: 56px;
    transition: 0.6s;
    border: 1px solid transparent;
    left: -1px;
    top: -1px; }
    .field-wrap .border.border-error {
      border-color: red; }
    .field-wrap .border.border-active {
      border-color: #000; }
  .field-wrap.long-field input {
    width: 246px; }
  .field-wrap.long-field .border {
    width: 248px; }
  .field-wrap .close-btn {
    font-size: 16px;
    position: absolute;
    right: 5px;
    top: 25px;
    z-index: 3;
    color: #BDBDBD;
    cursor: default; }
  .field-wrap input, .field-wrap select {
    height: 40px;
    padding-left: 12px;
    outline: none;
    margin: 0;
    font-size: 18px;
    border: 0;
    width: 174px;
    margin-top: 14px;
    position: relative;
    z-index: 1;
    line-height: 40px\0; }
  .field-wrap .select-box {
    position: absolute;
    z-index: 4;
    width: 174px;
    background: #FFF;
    border: 1px solid #DCDCDC;
    font-size: 18px;
    border-bottom: 0;
    border-bottom: 1px solid gainsboro \0;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    top: 59px;
    border-radius: 3px; }
    .field-wrap .select-box .option {
      padding: 5px 15px;
      border-bottom: 1px solid #DCDCDC; }
      .field-wrap .select-box .option:hover {
        background: #dcdcdc; }

.field-wrap label {
  position: absolute;
  left: 12px;
  z-index: 2;
  cursor: text;
  top: 19px;
  font-size: 16px;
  line-height: 16px;
  color: #999;
  transition: 0.5s;
  transform-origin: left center;
  -moz-transform-origin: left center;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center; }
  .field-wrap label.upper {
    -webkit-transform: scale(0.8) translateY(-20px);
    -moz-transform: scale(0.8) translateY(-20px);
    font-size: 12px\0;
    top: 6px\0; }
  .field-wrap label.active {
    color: #08F; }
  .field-wrap label.error {
    color: red !important; }

.contact {
  padding-bottom: 50px; }
  .contact fieldset {
    width: auto; }
  .contact .to-login {
    position: absolute;
    font-size: 14px;
    top: 8px;
    left: 505px;
    color: #08F;
    font-size: 14px; }
  .contact .fieldset-wrap {
    margin-bottom: 0; }
  .contact .contact-tips {
    margin-top: 10px;
    font-size: 14px; }
  .contact .section-title {
    margin-bottom: 28px; }

.payment {
  margin-bottom: 30px;
  padding-left: 50px;
  border-bottom: 1px solid #eeeeee; }
  .payment h2 {
    line-height: 40px;
    font-size: 18px; }
  .payment .payment-method {
    width: 243px;
    font-size: 18px;
    margin: 1px;
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    line-height: 80px;
    border: 1px solid #DCDCDC; }
    .payment .payment-method.no-mr {
      margin-right: 0; }
    .payment .payment-method.checked {
      display: inline-block !important;
      border: 2px solid #6db381; }
    .payment .payment-method:hover i:before {
      color: #6db381; }
    .payment .payment-method i:before {
      margin-left: 15px;
      margin-right: 10px;
      color: #999; }
    .payment .payment-method i.icon-check-circle:before {
      color: #6db381; }
  .payment .method-ctn {
    padding-bottom: 30px;
    padding-top: 30px; }

.buy-ctn .pay-btn {
  border: 1px solid #b54d25 !important;
  background-color: #ef6f35 !important; }
  .buy-ctn .pay-btn:hover {
    text-decoration: none; }
.buy-ctn .sum-price {
  font-size: 22px;
  display: inline-block;
  width: 200px;
  margin-left: 412px; }
  .buy-ctn .sum-price em {
    font-style: normal;
    color: #F60;
    font-size: 32px;
    font-family: Helvetica_Neue_Thin;
    line-height: 32px;
    position: relative;
    top: 2px; }
.buy-ctn .aside-btn {
  font-size: 22px;
  color: white;
  background-color: #6db381;
  outline: 0px;
  border: 1px solid #6db381;
  height: 50px;
  width: 160px;
  margin-top: 30px;
  padding: 8px 12px;
  display: inline-block;
  text-align: center;
  margin-right: 55px; }
  .buy-ctn .aside-btn[disabled] {
    background: #999;
    border-color: #999; }
    .buy-ctn .aside-btn[disabled]:hover {
      background: #999; }
  .buy-ctn .aside-btn:hover {
    background: #8ac29a; }

#btn_dropdown {
  display: none; }

#account_panel {
  display: none; }

.coupons .section-title h2 {
  line-height: 40px; }

.coupon-margin {
  margin-bottom: 0px; }

.qr-code-ctn {
  display: inline-block;
  position: relative;
  width: 398px;
  height: 280px;
  background: #6DB381;
  vertical-align: top; }
  .qr-code-ctn.error {
    background: #e55c0a; }
  .qr-code-ctn .qr-content {
    font-size: 18px;
    color: #FFF;
    border-left: 1px solid #FFF;
    padding: 20px 30px;
    position: absolute;
    top: 90px;
    left: 195px; }
  .qr-code-ctn .left-img {
    position: absolute;
    left: 45px;
    top: 50%;
    margin-top: -55px; }
  .qr-code-ctn .try-again {
    font-size: 14px;
    width: 102px;
    line-height: 34px;
    bottom: 25px;
    position: absolute;
    left: 50%;
    margin-left: -51px;
    background: #E55C0A;
    border: 1px solid #FFF;
    color: #FFF; }
  .qr-code-ctn .qr-right {
    padding: 0 40px 0 20px;
    top: 100px;
    left: 180px;
    font-size: 18px;
    color: #FFF;
    border-left: 1px solid #FFF;
    position: absolute; }
    .qr-code-ctn .qr-right p {
      font-size: 14px; }

#qrcode {
  width: 130px;
  height: 130px;
  position: absolute;
  left: 200px;
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  opacity: 0;
  display: none\0;
  top: 50%;
  margin-top: -65px; }
  #qrcode img {
    width: 130px; }
  #qrcode.show {
    left: 45px;
    opacity: 1;
    display: block\0; }
  #qrcode .qr-mask {
    position: absolute;
    width: 130px;
    height: 130px;
    z-index: 2;
    transition: 1s; }

.left-aside {
  width: 365px;
  display: inline-block;
  vertical-align: top; }

.coupon-ctn {
  padding: 30px 30px 30px 0;
  position: relative; }
  .coupon-ctn .coupon-error {
    position: absolute;
    top: 7px;
    color: #F00;
    font-size: 14px; }
  .coupon-ctn .coupon-success {
    position: absolute;
    top: 7px;
    color: #6db381;
    font-size: 14px; }
  .coupon-ctn .coupon-input-wrap {
    height: 60px;
    width: 222px;
    border: 1px solid #c9c9c9;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    position: relative; }
    .coupon-ctn .coupon-input-wrap.error {
      border: 1px solid #F00; }
    .coupon-ctn .coupon-input-wrap.active label {
      color: #08f;
      -webkit-transform: scale(0.8) translateY(-20px);
      -moz-transform: scale(0.8) translateY(-20px);
      font-size: 12px\0;
      top: 6px\0; }
    .coupon-ctn .coupon-input-wrap.complete label {
      -webkit-transform: scale(0.8) translateY(-20px);
      -moz-transform: scale(0.8) translateY(-20px);
      font-size: 12px\0;
      top: 6px\0; }
    .coupon-ctn .coupon-input-wrap .circle-checked {
      position: absolute;
      top: 20px;
      right: 15px;
      font-size: 20px;
      color: #6db381; }
    .coupon-ctn .coupon-input-wrap label {
      position: absolute;
      color: #999;
      font-size: 14px;
      left: 18px;
      top: 20px;
      transition: 0.6s;
      -moz-transition: 0.6s;
      -webkit-transition: 0.6s;
      -ms-transition: 0.6s;
      -o-transition: 0.6s;
      transform-origin: left center;
      -moz-transform-origin: left center;
      -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
      -o-transform-origin: left center; }
    .coupon-ctn .coupon-input-wrap input {
      border: 0;
      font-size: 20px;
      padding: 8px 18px;
      margin-top: 15px;
      width: 100%;
      line-height: 20px; }
      .coupon-ctn .coupon-input-wrap input[disabled] {
        background: #fff; }
  .coupon-ctn button {
    height: 60px;
    padding: 0 20px;
    background: #d7d7d7;
    border: 1px solid #c9c9c9;
    border-left: 0;
    font-size: 18px;
    color: black; }
    .coupon-ctn button.active {
      border: 1px solid #b85c39;
      background: #ef6f35;
      color: #fff; }
    .coupon-ctn button.complete {
      background: #d7d7d7;
      color: #000; }

.product-rule {
  border: 1px solid #D5D5D5;
  border-top: 0; }
  .product-rule ul {
    margin: 0;
    list-style: none;
    padding-left: 47px;
    overflow: hidden; }
    .product-rule ul li {
      margin: 33px 0;
      position: relative;
      padding-left: 45px; }
      .product-rule ul li:before {
        font-family: "hitour";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        left: 0;
        top: 2px;
        font-size: 36px;
        line-height: 36px;
        color: #6db381; }
      .product-rule ul li.r-redeem:before {
        content: '\e621'; }
      .product-rule ul li.r-return:before {
        content: '\e61f'; }
      .product-rule ul li.r-shipping:before {
        content: "\e628"; }
      .product-rule ul li p {
        color: #6db381; }

.coupon-result {
  font-size: 0;
  position: relative;
  padding: 0 28px;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  overflow: hidden;
  padding-bottom: 0; }
  .coupon-result .arrow-up {
    position: absolute;
    border-style: solid;
    border-width: 15px 15px;
    border-color: transparent transparent #D5D5D5;
    width: 0;
    left: 82px;
    top: -31px; }
    .coupon-result .arrow-up:after {
      border-style: solid;
      border-width: 15px 15px;
      border-color: transparent transparent #FFF;
      width: 0;
      content: ' ';
      left: -15px;
      position: absolute;
      top: -13px; }
  .coupon-result > div {
    padding-left: 14px;
    margin: 10px 0;
    position: relative;
    padding-top: 7px; }
    .coupon-result > div h4 {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: middle;
      font-size: 14px;
      font-weight: normal;
      color: black;
      padding: 0 4px 8px 0; }
    .coupon-result > div .drop-shadow {
      text-shadow: 2px 0px 0px white, -2px 0px 0px white, 0px 2px 0px white, 0px -2px 0px white;
      filter: Dropshadow(offx=1, offy=0, color=white) Dropshadow(offx=0, offy=1, color=white) Dropshadow(offx=0, offy=-1, color=white) Dropshadow(offx=-1, offy=0, color=white); }
    .coupon-result > div .rmb:before {
      content: '\e617';
      font-family: "Hitour";
      font-size: 16px;
      color: black;
      float: right; }
    .coupon-result > div .minus:before {
      content: '— \e617';
      font-family: "Hitour";
      font-size: 16px;
      color: black;
      float: right; }
    .coupon-result > div em {
      float: right;
      margin-right: 10px;
      font-style: normal;
      font-size: 16px;
      color: black;
      display: inline-block;
      padding-top: 3px;
      font-family: Helvetica_Neue_Thin; }
  .coupon-result .discount {
    background-image: url(../images/checkout/green_point_bg.png); }
  .coupon-result .border-ctn {
    width: 100%;
    height: 1px;
    border-top: 1px solid #D5D5D5;
    margin: 0;
    padding: 0;
    margin-top: 20px; }

.pm-logo-alipay_pc {
  background: url(../images/checkout/alipay-logo.png);
  width: 145px;
  height: 42px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  margin-right: 15px; }

.pm-logo-chinapay_pc {
  background: url(../images/checkout/chinapay-logo.png);
  width: 165px;
  height: 42px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  margin-right: 15px; }

.pm-logo-weixinpay_pc {
  background: url(../images/checkout/weixinpay-logo.png);
  width: 165px;
  height: 42px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  margin-right: 15px; }

.xCalendar {
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3); }

.dialog-mask {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3000000',endColorstr='#B3000000');
  z-index: 1200; }
  .dialog-mask .dialog-box {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
    background: #FFF; }
  .dialog-mask .dialog-title {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 40px; }
  .dialog-mask .button-ctn {
    margin-left: 92px; }
    .dialog-mask .button-ctn .button-desc {
      color: #666; }
    .dialog-mask .button-ctn a.pay-complete {
      display: inline-block;
      padding: 14px 28px;
      background: #6DB381;
      color: #FFF;
      border: 1px solid #007A23;
      font-size: 18px;
      font-weight: bold;
      margin-top: 24px;
      margin-right: 61px; }
      .dialog-mask .button-ctn a.pay-complete:hover {
        background: #7bbd8e;
        text-decoration: none; }
    .dialog-mask .button-ctn a.pay-error {
      display: inline-block;
      padding: 14px 28px;
      background: #EF6F35;
      color: #FFF;
      border: 1px solid #B54D25;
      font-size: 18px;
      font-weight: bold;
      margin-top: 24px; }
      .dialog-mask .button-ctn a.pay-error:hover {
        background: #fb8b59;
        text-decoration: none; }

.tips-ctn {
  font-size: 12px;
  width: 165px;
  color: #999;
  padding: 10px;
  position: absolute;
  border: 1px solid #6db381;
  border-radius: 5px;
  background: #FFF;
  z-index: 11;
  top: 62px;
  left: 2px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
  display: none; }
  .tips-ctn.active {
    display: block; }
  .tips-ctn .arrow-up {
    border-style: solid;
    border-width: 7px 7px;
    border-color: transparent transparent #6db381;
    position: absolute;
    top: -15px; }
    .tips-ctn .arrow-up:before {
      content: "";
      border-style: solid;
      border-width: 7px 7px;
      border-color: transparent transparent #FFF;
      position: absolute;
      top: -5px;
      left: -7px; }

.disable-mask {
  position: absolute;
  left: 0;
  top: 0px;
  right: 0;
  bottom: -20px;
  background-color: rgba(255, 255, 255, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCFFFFFF',endColorstr='#CCFFFFFF');
  z-index: 10; }

input[disabled] {
  background: #fff; }
