@charset "UTF-8";
p {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.none {
  display: none; }

.price-font {
  font-family: SimHei, "华文细黑", "STHeiti", Helvetica, "微软雅黑", "Microsoft YaHei", Arial, sans-serif; }

.no-scroll {
  overflow: hidden; }

p {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.none {
  display: none; }

.price-font {
  font-family: SimHei, "华文细黑", "STHeiti", Helvetica, "微软雅黑", "Microsoft YaHei", Arial, sans-serif; }

.no-scroll {
  overflow: hidden; }

#full-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1100; }
  #full-mask:hover {
    cursor: pointer; }
    #full-mask:hover .modal-close-btn i {
      color: #555; }
  #full-mask .modal-close-btn {
    position: absolute;
    top: 25px;
    right: 820px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center; }
    #full-mask .modal-close-btn.type_3 {
      right: 640px; }
    #full-mask .modal-close-btn i {
      font-size: 26px;
      color: #999; }

#bundle-detail .wrap {
  margin-left: 60px;
  margin-right: 60px; }
#bundle-detail .section-title-row {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
  height: 60px;
  line-height: 60px; }
#bundle-detail .section-title {
  font-size: 14px;
  color: #222;
  font-weight: normal; }
  #bundle-detail .section-title em {
    font-style: normal;
    font-size: 18px;
    color: #f60;
    font-weight: bold; }

.bundle-hotel-header {
  position: fixed;
  z-index: 100;
  width: 800px;
  padding: 20px 0;
  background-color: #eee;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 0 3px #ccc; }
  .bundle-hotel-header .name-col {
    float: left;
    width: 75%; }
    .bundle-hotel-header .name-col .cn-name {
      font-size: 22px;
      max-height: 30px;
      line-height: 30px;
      font-weight: normal;
      overflow: hidden; }
    .bundle-hotel-header .name-col .en-name {
      font-size: 14px;
      line-height: 20px;
      font-weight: normal;
      color: #222; }
  .bundle-hotel-header .comment-col {
    position: absolute;
    top: 20px;
    right: 60px;
    width: 160px;
    padding: 5px 10px;
    background-color: #eee;
    cursor: pointer; }
    .bundle-hotel-header .comment-col:hover, .bundle-hotel-header .comment-col.active {
      box-shadow: 0 1px 2px #ccc; }
  .bundle-hotel-header .comment-item {
    height: 32px;
    line-height: 32px; }
    .bundle-hotel-header .comment-item i {
      font-size: 12px;
      color: #666; }
  .bundle-hotel-header .comment-img {
    width: 80px;
    height: 27px; }
  .bundle-hotel-header .comment-score {
    margin: 0 5px;
    font-size: 12px; }
    .bundle-hotel-header .comment-score em {
      font-size: 14px;
      font-style: normal;
      color: #f60; }

.bundle-hotel-map #hotel-location {
  width: 100%;
  height: 200px; }
.bundle-hotel-map .location-address {
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px; }
  .bundle-hotel-map .location-address i {
    position: absolute;
    display: block;
    top: 17px;
    left: 0;
    font-size: 12px;
    color: #6db381; }
.bundle-hotel-map .address-name {
  padding-left: 20px;
  font-size: 16px; }
.bundle-hotel-map .address-detail {
  padding-left: 20px;
  color: #666; }

.bundle-highlight {
  position: relative;
  padding: 20px 0 50px; }
  .bundle-highlight .expert-col {
    position: absolute;
    top: 50%;
    margin-top: -70px;
    text-align: center;
    color: #666; }
  .bundle-highlight .expert-image {
    width: 80px;
    height: 80px;
    margin-bottom: 10px; }
  .bundle-highlight .highlights-col {
    position: relative;
    float: left;
    margin-left: 130px;
    width: 550px;
    background-color: #eee;
    padding: 10px 30px; }
    .bundle-highlight .highlights-col:before {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      left: -16px;
      margin-top: -16px;
      width: 0;
      height: 0;
      border-top: 16px solid transparent;
      border-right: 16px solid #eee;
      border-bottom: 16px solid transparent; }
  .bundle-highlight .highlights-title {
    text-align: center;
    font-size: 16px;
    line-height: 30px; }
  .bundle-highlight .highlight-list {
    margin: 0;
    padding: 5px 0;
    list-style: none; }
  .bundle-highlight .highlight-item {
    line-height: 20px;
    padding: 6px 0;
    color: #222; }
    .bundle-highlight .highlight-item i {
      display: inline-block;
      margin-right: 10px;
      color: #f60;
      vertical-align: top;
      line-height: 20px; }
    .bundle-highlight .highlight-item span {
      display: inline-block;
      width: 435px;
      vertical-align: top; }

.bundle-hotel-room {
  padding: 0 0 30px; }
  .bundle-hotel-room .room-list {
    margin: 20px 0;
    padding: 0 20px;
    background-color: #f7f7f7;
    border: 1px solid #eee; }
  .bundle-hotel-room .room-item {
    position: relative;
    margin-top: -1px;
    padding: 18px 0;
    border-top: 1px solid #eee; }
  .bundle-hotel-room .room-title {
    font-size: 18px;
    line-height: 1;
    font-weight: bold; }
  .bundle-hotel-room .room-area {
    margin-left: 30px;
    font-size: 12px; }
  .bundle-hotel-room .room-service-row {
    margin-top: 15px;
    font-size: 12px; }
  .bundle-hotel-room .room-service-item {
    display: inline-block;
    width: 100px; }
    .bundle-hotel-room .room-service-item i {
      margin-right: 5px;
      color: #666; }
  .bundle-hotel-room .room-desc-row {
    margin-top: 12px;
    width: 72%;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666; }
  .bundle-hotel-room .room-more-row {
    position: relative;
    margin-top: -20px;
    background-color: #f7f7f7;
    z-index: 1; }
  .bundle-hotel-room .room-desc {
    color: #666; }
  .bundle-hotel-room .room-images {
    margin: 10px 0 0;
    width: 100%;
    height: 120px;
    white-space: nowrap;
    overflow-x: auto; }
    .bundle-hotel-room .room-images img {
      margin: 1px;
      width: 180px;
      height: 118px;
      vertical-align: top; }
  .bundle-hotel-room .room-more {
    list-style: none;
    margin: 5px 0 0;
    padding: 0;
    font-size: 12px; }
  .bundle-hotel-room .more-item {
    line-height: 1.3; }
  .bundle-hotel-room .more-title {
    float: left;
    width: 15%;
    line-height: 30px; }
  .bundle-hotel-room .more-content {
    float: left;
    width: 75%;
    color: #666;
    line-height: 30px; }
  .bundle-hotel-room .policy-table {
    width: 400px; }
    .bundle-hotel-room .policy-table td {
      padding: 0 10px;
      line-height: 30px;
      border: 1px solid #ddd; }
  .bundle-hotel-room .room-price-block {
    position: absolute;
    top: 18px;
    right: 0;
    font-size: 12px;
    line-height: 1;
    color: #666; }
    .bundle-hotel-room .room-price-block span {
      color: #f60; }
    .bundle-hotel-room .room-price-block em {
      font-style: normal;
      font-size: 14px; }
  .bundle-hotel-room .room-more-btn {
    position: absolute;
    top: 85px;
    right: 0;
    font-size: 12px;
    line-height: 1;
    color: #2c8044;
    cursor: pointer; }
  .bundle-hotel-room .room-more-btn-up {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    line-height: 1;
    color: #2c8044;
    cursor: pointer; }
  .bundle-hotel-room .policy-md ul, .bundle-hotel-room .policy-md ol, .bundle-hotel-room .breakfast-md ul, .bundle-hotel-room .breakfast-md ol {
    list-style: none;
    padding: 0;
    margin: 0; }
  .bundle-hotel-room .policy-md li, .bundle-hotel-room .breakfast-md li {
    line-height: 22px;
    margin-top: 4px; }
  .bundle-hotel-room .policy-md strong, .bundle-hotel-room .policy-md i, .bundle-hotel-room .breakfast-md strong, .bundle-hotel-room .breakfast-md i {
    display: inline-block;
    padding: 0 4px;
    background-color: #6db381;
    color: #fff;
    font-weight: bold; }

.bundle-hotel-notice .hotel-facility, .bundle-hotel-notice .hotel-policy {
  padding-bottom: 30px; }
.bundle-hotel-notice table {
  display: block;
  margin: 20px 0;
  padding: 8px 20px;
  background-color: #f7f7f7; }
  .bundle-hotel-notice table tbody {
    display: table;
    width: 100%; }
  .bundle-hotel-notice table tr {
    height: 32px;
    line-height: 32px; }
  .bundle-hotel-notice table td.title {
    width: 30%; }
  .bundle-hotel-notice table td.content {
    width: 70%;
    color: #666; }
  .bundle-hotel-notice table .border-top {
    border-top: 1px solid #eee; }
  .bundle-hotel-notice table .card-item {
    margin-right: 20px;
    line-height: 32px; }
    .bundle-hotel-notice table .card-item img {
      margin-left: 5px;
      width: 40px; }

#bundle-detail {
  position: fixed;
  top: 0;
  right: -800px;
  bottom: 0;
  width: 800px;
  background-color: #fff;
  border-left: 2px solid #eee;
  -webkit-transition: right .25s;
  transition: right .25s;
  z-index: 1101;
  overflow-y: auto; }
  #bundle-detail.show {
    right: 0; }
  #bundle-detail.type_3 {
    width: 620px; }
    #bundle-detail.type_3 .detail-header {
      width: 620px; }
    #bundle-detail.type_3 .detail-content .section-ctn {
      width: 500px; }
  #bundle-detail .modal-loading-mask {
    position: absolute;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff; }
    #bundle-detail .modal-loading-mask .spinner {
      display: none;
      display: none\0  !important; }
  #bundle-detail .detail-header {
    position: fixed;
    z-index: 100;
    width: 800px;
    padding: 18px 60px 15px;
    background-color: #eee;
    border-bottom: 1px solid #ededed; }
    #bundle-detail .detail-header .cn-name {
      font-size: 24px;
      line-height: 32px;
      font-weight: 200;
      height: 32px;
      overflow: hidden; }
    #bundle-detail .detail-header .en-name {
      font-size: 12px;
      font-weight: 200;
      color: #222;
      line-height: 1;
      margin-bottom: 10px; }
    #bundle-detail .detail-header .price-row {
      margin-top: 5px; }
      #bundle-detail .detail-header .price-row span {
        margin-right: 20px;
        color: #222; }
      #bundle-detail .detail-header .price-row em {
        margin-left: 5px;
        font-style: normal; }
    #bundle-detail .detail-header .hi-price em {
      color: #f60; }
    #bundle-detail .detail-header .bundle-price em {
      padding: 1px 5px;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      background-color: #f60; }
    #bundle-detail .detail-header .bundle-price i {
      font-size: 14px;
      padding: 0;
      font-style: normal;
      vertical-align: 1px; }
    #bundle-detail .detail-header .go-more-btn {
      display: block;
      position: absolute;
      bottom: 18px;
      right: 60px;
      width: 80px;
      height: 30px;
      line-height: 30px;
      background-color: #6db381;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
      text-align: center; }
  #bundle-detail .detail-content {
    padding: 90px 0 30px; }
    #bundle-detail .detail-content .section-ctn {
      width: 680px;
      padding: 25px 0;
      border-top: 1px solid #eee; }
    #bundle-detail .detail-content h2 {
      font-size: 14px;
      color: #f60; }
    #bundle-detail .detail-content .comments-total {
      position: relative;
      margin: 2px 0;
      width: 340px;
      background-color: #f7f7f7;
      border: 1px solid #eee;
      padding: 10px; }
      #bundle-detail .detail-content .comments-total.hotel-type {
        width: 410px; }
      #bundle-detail .detail-content .comments-total span {
        float: left; }
      #bundle-detail .detail-content .comments-total .total-score {
        float: left;
        width: 100px; }
        #bundle-detail .detail-content .comments-total .total-score .score-mark {
          margin-top: 4px; }
        #bundle-detail .detail-content .comments-total .total-score .score {
          color: #ffc601;
          font-size: 32px;
          line-height: 32px; }
        #bundle-detail .detail-content .comments-total .total-score .unit {
          font-size: 16px;
          margin-top: 8px; }
      #bundle-detail .detail-content .comments-total .total-score-star {
        float: right;
        width: 180px;
        font-size: 12px; }
        #bundle-detail .detail-content .comments-total .total-score-star .one-score-star {
          margin-top: 9px; }
          #bundle-detail .detail-content .comments-total .total-score-star .one-score-star:hover .help-tip {
            display: block; }
        #bundle-detail .detail-content .comments-total .total-score-star .score-title {
          margin-right: 10px;
          width: 63px;
          line-height: 18px; }
        #bundle-detail .detail-content .comments-total .total-score-star .score-num {
          margin-left: 12px;
          line-height: 18px; }
      #bundle-detail .detail-content .comments-total .score-mark {
        position: relative;
        float: left;
        height: 18px;
        width: 64px; }
        #bundle-detail .detail-content .comments-total .score-mark .icon-rating-star {
          width: 100%;
          line-height: 16px;
          position: absolute;
          top: 0;
          left: 0;
          font-size: 12px; }
        #bundle-detail .detail-content .comments-total .score-mark .star-back {
          color: #ccc; }
        #bundle-detail .detail-content .comments-total .score-mark .star-front {
          color: #ffc601;
          overflow: hidden; }
      #bundle-detail .detail-content .comments-total .hotel-score-col {
        float: right;
        width: 280px; }
        #bundle-detail .detail-content .comments-total .hotel-score-col .score-item {
          float: left;
          margin-left: 20px;
          width: 120px;
          height: 27px;
          padding-left: 85px;
          line-height: 27px;
          background-repeat: no-repeat; }
          #bundle-detail .detail-content .comments-total .hotel-score-col .score-item span {
            font-size: 16px;
            color: #f60; }
    #bundle-detail .detail-content .service-include {
      padding-top: 60px; }
      #bundle-detail .detail-content .service-include ol {
        margin: 10px 0 0 0;
        padding: 0;
        list-style: disc inside;
        font-size: 14px;
        color: #555; }
      #bundle-detail .detail-content .service-include li {
        line-height: 22px; }
    #bundle-detail .detail-content .scenes-ctn .group-wrap {
      position: relative;
      display: inline-block;
      vertical-align: top; }
    #bundle-detail .detail-content .scenes-ctn .scene {
      display: inline-block;
      vertical-align: top;
      margin-top: 15px;
      width: 455px;
      padding-bottom: 30px; }
      #bundle-detail .detail-content .scenes-ctn .scene img {
        width: 458px;
        height: 205px; }
    #bundle-detail .detail-content .scenes-ctn .scene-info {
      position: relative; }
      #bundle-detail .detail-content .scenes-ctn .scene-info .scene-name-ctn {
        margin: 12px 56px;
        margin-right: 0; }
        #bundle-detail .detail-content .scenes-ctn .scene-info .scene-name-ctn h3 {
          font-size: 20px;
          font-weight: normal;
          line-height: 26px; }
        #bundle-detail .detail-content .scenes-ctn .scene-info .scene-name-ctn h4 {
          font-size: 12px;
          line-height: 12px;
          font-weight: 400;
          color: #555;
          -webkit-font-smoothing: antialiased; }
      #bundle-detail .detail-content .scenes-ctn .scene-info .seq {
        position: absolute;
        top: -11px;
        left: 0;
        color: #222;
        font-size: 44px;
        font-family: Helvetica_Neue_Thin; }
      #bundle-detail .detail-content .scenes-ctn .scene-info p.scene-summary {
        font-size: 14px;
        color: #369366;
        margin-bottom: 6px; }
      #bundle-detail .detail-content .scenes-ctn .scene-info p.scene-desc {
        font-size: 14px; }
    #bundle-detail .detail-content .simple-tour-ctn {
      width: 680px;
      overflow: hidden; }
      #bundle-detail .detail-content .simple-tour-ctn .tour-content-ctn {
        margin: 5px 0;
        overflow: hidden; }
      #bundle-detail .detail-content .simple-tour-ctn .tour-content-wrap {
        margin-bottom: 12px;
        text-align: left; }
        #bundle-detail .detail-content .simple-tour-ctn .tour-content-wrap h4 {
          margin-top: 15px;
          font-size: 16px;
          padding-left: 7px;
          border-left: 4px solid #ccc; }
        #bundle-detail .detail-content .simple-tour-ctn .tour-content-wrap img {
          width: 100%;
          padding-top: 12px; }
        #bundle-detail .detail-content .simple-tour-ctn .tour-content-wrap p {
          display: block;
          font-size: 14px;
          line-height: 22px;
          color: #555;
          padding-top: 12px; }
    #bundle-detail .detail-content .tour-ctn .day-tour-ctn {
      width: 680px;
      margin: 0 auto;
      border-left: 1px solid #d0d0d0; }
      #bundle-detail .detail-content .tour-ctn .day-tour-ctn .one-time {
        margin-bottom: 45px; }
        #bundle-detail .detail-content .tour-ctn .day-tour-ctn .one-time .x-clock {
          background: white url(../images/product/clock.png);
          width: 48px;
          height: 48px;
          display: inline-block;
          *display: inline;
          *zoom: 1;
          vertical-align: top;
          margin-left: -24px;
          line-height: 48px; }
        #bundle-detail .detail-content .tour-ctn .day-tour-ctn .one-time .time-time {
          display: inline-block;
          *display: inline;
          *zoom: 1;
          vertical-align: top;
          font-size: 20px;
          font-weight: bold;
          padding-left: 5px;
          margin-top: 10px;
          line-height: 22px; }
        #bundle-detail .detail-content .tour-ctn .day-tour-ctn .one-time .time-head {
          display: inline-block;
          *display: inline;
          *zoom: 1;
          vertical-align: top;
          font-size: 20px;
          font-weight: bold;
          padding-left: 10px;
          max-width: 600px;
          margin-top: 10px;
          line-height: 24px; }
        #bundle-detail .detail-content .tour-ctn .day-tour-ctn .one-time .time-content {
          padding-left: 36px; }
          #bundle-detail .detail-content .tour-ctn .day-tour-ctn .one-time .time-content .time-content-wrap {
            margin-bottom: 12px; }
          #bundle-detail .detail-content .tour-ctn .day-tour-ctn .one-time .time-content img {
            max-width: 100%;
            margin-top: 15px;
            margin-bottom: 15px; }
          #bundle-detail .detail-content .tour-ctn .day-tour-ctn .one-time .time-content h4 {
            font-size: 18px;
            color: #222;
            font-weight: normal; }
          #bundle-detail .detail-content .tour-ctn .day-tour-ctn .one-time .time-content p {
            color: #666;
            font-size: 14px; }

.spinner {
  position: relative;
  top: 50%;
  width: 40px;
  height: 40px;
  margin: -20px auto 0;
  background-color: #6db381;
  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out; }

@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0); }

  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }

@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0); }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0; } }

.page.column {
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "华文细黑", "STHeiti", "微软雅黑", "Microsoft YaHei", SimHei, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.loading-mask {
  display: none; }

.column .head-image {
  height: 300px;
  background: #DDD;
  background-size: 100% 100%;
  position: relative;
  overflow: hidden; }
  .column .head-image .column-title-ctn {
    width: 1000px;
    margin: 0 auto;
    height: 300px;
    position: relative; }
  .column .head-image .column-title {
    color: #FFF;
    /*height: 84px;*/
    bottom: 70px;
    position: absolute;
    padding: 20px 40px;
    display: inline-block;
    font-size: 0;
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000',endColorstr='#99000000'); }
    .column .head-image .column-title img {
      width: 44px;
      display: inline-block;
      vertical-align: middle; }
    .column .head-image .column-title .image {
      float: left;
      width: 44px;
      height: 44px;
      background: url("../images/column/title.png") no-repeat center center;
      background-size: 100%; }
    .column .head-image .column-title .title {
      float: left;
      font-size: 36px;
      font-weight: 100;
      line-height: 44px;
      max-width: 470px; }
    .column .head-image .column-title .vertical-bar {
      float: left;
      width: 2px;
      height: 44px;
      background: #FFF;
      margin: 0 25px;
      line-height: 36px;
      position: relative; }
  .column .head-image .nav-bar-ctn {
    width: 100%;
    margin-top: 21px;
    background: rgba(0, 0, 0, 0.78);
    position: absolute;
    bottom: 0; }
  .column .head-image .nav-bar {
    line-height: 50px;
    width: 1000px;
    margin: 0 auto;
    color: #FFF; }
    .column .head-image .nav-bar a {
      color: #fff; }
      .column .head-image .nav-bar a:hover {
        color: #fff; }
    .column .head-image .nav-bar .seperator {
      display: inline-block;
      width: 18px;
      border-top: 1px solid #FFF;
      vertical-align: middle;
      margin: 0 8px; }
.column .main-content {
  width: 1000px;
  margin: 0 auto; }
.column .left-content {
  width: 650px;
  float: left;
  padding-top: 80px; }
.column .right-cover {
  float: right; }
.column .right-content {
  width: 286px;
  padding-top: 59px;
  margin-left: 47px; }
  .column .right-content .right-title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 4px;
    color: #525252;
    border-bottom: 2px solid #858585; }
  .column .right-content .right-list {
    width: 286px; }
  .column .right-content .right-card {
    height: 106px;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ddd; }
    .column .right-content .right-card:hover .right-des {
      text-decoration: underline; }
  .column .right-content .right-picture {
    margin-top: 10px;
    float: left;
    height: 66px;
    overflow: hidden; }
  .column .right-content .right-des {
    width: 220px;
    height: 50px;
    overflow: hidden;
    float: left;
    font-size: 14px;
    color: #000;
    line-height: 20px;
    padding-top: 12px;
    padding-left: 16px; }
  .column .right-content .right-price {
    float: left;
    padding-left: 16px;
    padding-top: 4px;
    font-size: 14px;
    color: #ff6600; }
.column .footer-content {
  background-color: #f7f7f7;
  padding-top: 80px; }
.column .left-section {
  padding-bottom: 35px; }
  .column .left-section h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center; }
  .column .left-section p {
    line-height: 30px;
    text-indent: 15px;
    font-size: 16px;
    color: #737373; }
  .column .left-section .article {
    margin-top: 42px; }
    .column .left-section .article h2 {
      font-size: 18px;
      margin-bottom: 15px; }
      .column .left-section .article h2 .title-box {
        display: inline-block;
        background: #6DB381;
        width: 9px;
        height: 14px;
        margin-right: 15px; }
    .column .left-section .article h3 {
      margin-top: 25px;
      color: #DDD;
      margin-bottom: 18px;
      font-size: 14px; }
    .column .left-section .article img {
      width: 100%; }
    .column .left-section .article p {
      margin-bottom: 45px;
      font-size: 16px;
      line-height: 30px; }
    .column .left-section .article .img-desc {
      text-indent: 0;
      padding: 14px 40px;
      position: relative;
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 0; }
      .column .left-section .article .img-desc:before {
        font-family: "Hitour";
        content: "\e60b";
        color: #6DB381;
        position: absolute;
        left: 8px;
        top: 0; }
    .column .left-section .article .icon-circle-bg {
      font-size: 12px;
      margin-right: 24px; }
    .column .left-section .article .product-wrap {
      width: 570px;
      margin: 0 auto 40px auto;
      cursor: pointer;
      position: relative;
      /*&:before{
        content: "\e63d";
        font-family: "Hitour";
        position: absolute;
        left: 0;
        font-size: 8px;
        line-height: 22px;
        -webkit-transform: scale(0.67);
      }*/ }
    .column .left-section .article .product-name {
      font-size: 16px;
      color: #000;
      font-weight: bold;
      margin-bottom: 20px; }
    .column .left-section .article .product-box {
      width: 100%;
      height: 105px;
      border: 1px solid #DDD;
      font-size: 0;
      position: relative; }
      .column .left-section .article .product-box img {
        width: 130px;
        height: 104px; }
      .column .left-section .article .product-box .product-content {
        display: inline-block;
        vertical-align: top;
        padding: 18px 25px;
        width: 438px; }
      .column .left-section .article .product-box .product-title {
        width: 100%;
        position: relative;
        font-size: 18px;
        padding-right: 70px; }
        .column .left-section .article .product-box .product-title em {
          top: 0;
          right: 0;
          position: absolute;
          font-size: 20px;
          font-style: normal;
          color: #F60;
          line-height: 24px; }
          .column .left-section .article .product-box .product-title em i {
            font-size: 14px;
            font-style: normal; }
      .column .left-section .article .product-box .learn-more {
        position: absolute;
        bottom: 12px;
        right: 25px;
        color: #6DB381;
        font-size: 14px; }
    .column .left-section .article .product-desc {
      padding-left: 20px;
      margin-top: 20px;
      position: relative; }
      .column .left-section .article .product-desc .vertical-bar {
        position: absolute;
        top: 3px;
        bottom: 3px;
        left: 0;
        width: 5px;
        background: #DDD; }
.column .the-end {
  position: relative;
  padding-top: 55px;
  padding-bottom: 150px; }
  .column .the-end hr {
    float: left;
    width: 240px; }
  .column .the-end .end-image {
    float: left;
    width: 64px;
    height: 18px;
    background: url("../images/column/the-end.png") no-repeat center center;
    background-size: 100%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px; }
.column .aside {
  margin-right: -50px;
  padding-bottom: 50px;
  width: 730px;
  padding-bottom: 50px;
  margin: 0 auto; }
  .column .aside a.column {
    float: left;
    margin-right: 13px;
    overflow: hidden;
    width: 230px;
    height: 274px;
    display: block;
    background: #AAA;
    border-radius: 5px;
    margin-top: 13px;
    color: #FFF; }
    .column .aside a.column:hover {
      text-decoration: none; }
    .column .aside a.column .column-name {
      width: 200px;
      display: block;
      text-shadow: 1px 1px 5px #000;
      font-size: 18px;
      line-height: 28px;
      font-weight: normal;
      position: absolute;
      bottom: 33px; }
    .column .aside a.column .column-num {
      font-weight: normal;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
      font-size: 14px;
      line-height: 28px;
      color: #6db381;
      position: absolute;
      right: 20px;
      bottom: 10px; }
    .column .aside a.column .back-shadow {
      padding: 184px 15px 12px 15px;
      height: 274px;
      position: relative;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.6)));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
      /* W3C */ }
.column .aside-title {
  color: #525252;
  padding: 12px 0;
  font-size: 28px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center; }
.column .product-block {
  background-color: #f7f7f7; }
.column .product-block-title {
  color: #525252;
  padding-top: 22px;
  padding-bottom: 12px;
  font-size: 28px;
  line-height: 40px;
  text-align: center; }
.column .left-button {
  display: none;
  font-size: 36px;
  color: #aaa;
  position: absolute;
  left: 55px;
  margin-top: 100px; }
.column .right-button {
  display: none;
  font-size: 36px;
  color: #aaa;
  position: absolute;
  right: 45px;
  margin-top: -200px;
  padding-right: 20px; }
.column .product-block-content {
  width: 980px;
  height: 320px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center; }
.column .cover-ctn {
  overflow: hidden;
  height: 178px; }
.column .product-card {
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  width: 235px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  text-align: -webkit-auto; }
.column .product-list {
  white-space: nowrap;
  overflow: hidden; }
.column .cover-des {
  color: #000;
  height: 52px;
  overflow: hidden;
  padding: 10px 10px;
  background-color: #fff; }
.column .cover-price {
  padding: 15px;
  background-color: #fff;
  font-family: Helvetica_Neue_Thin; }
  .column .cover-price .price-wrap {
    font-size: 20px;
    color: #f60;
    vertical-align: baseline; }
  .column .cover-price .orig-price-wrap {
    font-size: 16px;
    color: #666;
    margin-left: 5px;
    vertical-align: baseline;
    text-decoration: line-through; }
.column .get-more {
  color: #6db381;
  float: right;
  padding-right: 153px;
  padding-bottom: 10px; }
