@charset "UTF-8";
p {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.none {
  display: none; }

.price-font {
  font-family: SimHei, "华文细黑", "STHeiti", Helvetica, "微软雅黑", "Microsoft YaHei", Arial, sans-serif; }

.no-scroll {
  overflow: hidden; }

.main-wrap {
  background: #fff; }

.country-cover-ctn {
  position: relative; }
  .country-cover-ctn .img-ctn {
    height: 236px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000; }
  .country-cover-ctn .country-name-ctn {
    position: absolute;
    bottom: 55px;
    width: 1000px;
    margin-left: -500px;
    left: 50%;
    text-align: left;
    text-shadow: 1px 1px 15px #000,2px 2px 15px #000; }
  .country-cover-ctn .country-cn-name {
    font-size: 58px;
    color: #fff;
    margin-right: 12px;
    vertical-align: bottom; }
  .country-cover-ctn .country-en-name {
    color: #fff;
    font-family: "helvetica_neue_thin";
    font-size: 44px;
    vertical-align: bottom; }

.nav-ctn {
  background-color: rgba(0, 0, 0, 0.4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000',endColorstr='#66000000'); }

nav {
  width: 1000px;
  margin: 206px auto 0px auto;
  color: #fff; }
  nav a {
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent; }
  nav a:hover {
    border-bottom: 1px solid #fff;
    text-decoration: none;
    color: #fff; }
  nav .sep {
    margin: 0 8px; }

.group-ctn .group-title {
  margin-bottom: 28px;
  font-size: 0;
  margin-top: 30px; }
  .group-ctn .group-title .group-cover {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    width: 170px;
    height: 124px;
    background-repeat: no-repeat;
    background-position: left bottom;
    margin-left: 10px; }
  .group-ctn .group-title .group-info {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    width: 600px; }
    .group-ctn .group-title .group-info .group-name {
      font-size: 30px;
      color: #000;
      margin-bottom: 12px;
      margin-top: 7px; }
    .group-ctn .group-title .group-info .group-desc {
      font-size: 14px; }

.group-list .city {
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: 212px;
  text-align: center;
  display: block;
  overflow: hidden;
  margin-bottom: 22px; }
  .group-list .city .city-name-zone {
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/home/circle_shadow_large.png"); }
    .group-list .city .city-name-zone .city-name {
      font-family: "Microsoft Yahei";
      font-size: 22px;
      color: white;
      margin-top: 70px;
      text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5); }
    .group-list .city .city-name-zone .city-en-name {
      font-family: "Helvetica Neue";
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: 7px;
      color: white; }
  .group-list .city .cover-ctn {
    height: 212px; }
  .group-list .city:hover {
    text-decoration: none;
    color: #000; }

.city-list {
  margin-top: 40px; }
