.favorite-container {
  background-color: #f7f7f7;
  color: #525252; }

.fav-notification {
  text-align: center;
  padding-top: 170px;
  height: 400px; }
  .fav-notification .title {
    margin-bottom: 10px;
    color: #525252;
    font-size: 22px; }
    .fav-notification .title i {
      font-size: 30px;
      color: #f94b4b;
      margin-right: 15px; }
  .fav-notification .desc {
    text-align: left;
    margin: 0px auto;
    color: #a5a5a5;
    font-size: 16px;
    line-height: 20px;
    width: 360px; }

.tab-nav {
  margin: 30px; }
  .tab-nav ul {
    padding: 0px;
    list-style-type: none; }
    .tab-nav ul li {
      display: inline-block;
      cursor: pointer;
      padding: 5px 25px;
      font-size: 14px; }
    .tab-nav ul li.active {
      color: white;
      background-color: #6db381; }

.tab-content {
  margin: 30px; }
  .tab-content .expired-collection .one-delete,
  .tab-content .one-collection .one-delete {
    display: none;
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 26px;
    color: black;
    z-index: 20;
    padding: 2px; }
  .tab-content .expired-collection:hover .one-delete,
  .tab-content .one-collection:hover .one-delete {
    display: block; }
  .tab-content .expired-collection {
    height: 55px;
    position: relative;
    font-size: 18px;
    border: 1px solid #ddd;
    padding-top: 15px; }
    .tab-content .expired-collection .expired-notice {
      color: #e32c1e;
      margin-left: 35px; }
      .tab-content .expired-collection .expired-notice i {
        font-size: 14px;
        margin-right: 5px; }
    .tab-content .expired-collection .expired-name {
      float: right;
      margin-right: 212px; }
      .tab-content .expired-collection .expired-name:after {
        clear: both; }
  .tab-content .one-collection {
    position: relative;
    border: 1px solid #ddd;
    background-color: white;
    margin: 20px 0px;
    height: 225px; }
    .tab-content .one-collection .left-part {
      display: inline-block;
      width: 49%; }
      .tab-content .one-collection .left-part img {
        width: 100%;
        height: 223px;
        margin-bottom: 1px; }
    .tab-content .one-collection .right-part {
      display: inline-block;
      vertical-align: middle;
      height: 225px;
      width: 49%;
      padding: 35px; }
      .tab-content .one-collection .right-part .one-title {
        font-size: 26px;
        line-height: 34px;
        height: 70px;
        overflow: hidden; }
        .tab-content .one-collection .right-part .one-title a {
          color: #525252; }
          .tab-content .one-collection .right-part .one-title a:hover {
            color: #525252;
            text-decoration: none; }
      .tab-content .one-collection .right-part .one-benefit {
        font-size: 14px;
        margin: 10px 0px;
        color: #727272;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-height: 20px; }
        .tab-content .one-collection .right-part .one-benefit i {
          font-size: 12px;
          color: #6db381; }
        .tab-content .one-collection .right-part .one-benefit .icon-tag2:before {
          content: "\e653"; }
      .tab-content .one-collection .right-part .price-zone {
        position: relative; }
        .tab-content .one-collection .right-part .price-zone .RMB {
          font-size: 16px; }
        .tab-content .one-collection .right-part .price-zone .price {
          font-family: Lucida Gde;
          letter-spacing: 2px;
          font-size: 26px; }
        .tab-content .one-collection .right-part .price-zone .appendix {
          font-size: 12px; }
        .tab-content .one-collection .right-part .price-zone .one-more {
          position: absolute;
          bottom: 3px;
          right: 0px;
          color: #ff6600;
          text-decoration: none; }
          .tab-content .one-collection .right-part .price-zone .one-more:hover {
            color: #ff6600;
            text-decoration: none; }
