@charset "UTF-8";
p {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.none {
  display: none; }

.price-font {
  font-family: SimHei, "华文细黑", "STHeiti", Helvetica, "微软雅黑", "Microsoft YaHei", Arial, sans-serif; }

.no-scroll {
  overflow: hidden; }

.friday-sale {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; }

.activity-top {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center top; }

.activity-nav {
  position: fixed;
  right: 0px;
  top: 70px;
  width: 190px;
  z-index: 100; }
  .activity-nav img {
    width: 183px;
    z-index: 102;
    position: relative;
    margin-left: -11px; }
  .activity-nav .nav-location {
    z-index: 101;
    background-color: #f5e7da;
    padding-bottom: 15px;
    width: 179px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    border\0: 1px solid #eeeeee;
    margin-top: 20px; }
    .activity-nav .nav-location .each-nav {
      color: white;
      cursor: pointer;
      text-align: center;
      letter-spacing: 5px;
      font-size: 18px;
      line-height: 45px;
      overflow: hidden; }
      .activity-nav .nav-location .each-nav:hover {
        background-color: #ff1a73; }
  .activity-nav .hide-nav {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    visibility: hidden;
    opacity: 0; }
  .activity-nav .show-nav {
    visibility: visible;
    opacity: 1; }

.flash-sale {
  background-color: #eee; }
  .flash-sale .header-image {
    width: 100%;
    height: 410px;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    background-image: url(../images/activities/fridaysale/flash-header-new.jpg); }
    .flash-sale .header-image .temp-link {
      position: absolute;
      bottom: 110px;
      left: 0px;
      right: 0px;
      height: 110px; }
      .flash-sale .header-image .temp-link a {
        width: 250px;
        height: 110px;
        float: right;
        display: block; }
  .flash-sale .notification {
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 110px;
    background-color: white; }
    .flash-sale .notification .header-margin {
      margin: 0px 25px 0px 15px;
      font-size: 0; }
    .flash-sale .notification .header-block {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      height: 80px; }
    .flash-sale .notification .flash-right {
      margin-top: 8px;
      margin-left: 90px; }
      .flash-sale .notification .flash-right img {
        width: 90px; }
    .flash-sale .notification .header-desc {
      color: #525252;
      text-align: left;
      margin-top: 20px;
      margin-left: 20px; }
      .flash-sale .notification .header-desc p {
        font-size: 16px; }
        .flash-sale .notification .header-desc p sub {
          bottom: 0em;
          left: 0.1em;
          vertical-align: text-bottom; }
        .flash-sale .notification .header-desc p sup {
          top: 0em;
          vertical-align: text-top; }
    .flash-sale .notification .flash-left {
      color: #525252;
      width: 460px;
      margin: 15px;
      border-right: 1px solid #adadad;
      padding-top: 10px; }
      .flash-sale .notification .flash-left .timer-title {
        font-size: 18px; }
      .flash-sale .notification .flash-left .timer-zone {
        padding-right: 10px;
        padding-bottom: 20px;
        position: relative;
        color: #ff4a73; }
        .flash-sale .notification .flash-left .timer-zone .hours {
          width: 29px; }
        .flash-sale .notification .flash-left .timer-zone .minutes {
          width: 29px; }
        .flash-sale .notification .flash-left .timer-zone .seconds {
          width: 29px; }
        .flash-sale .notification .flash-left .timer-zone .mark {
          font-size: 20px;
          color: #525252; }
        .flash-sale .notification .flash-left .timer-zone span {
          vertical-align: middle;
          font-size: 26px;
          margin: 0 3px;
          position: relative;
          display: inline-block;
          text-align: center; }
          .flash-sale .notification .flash-left .timer-zone span:after {
            font-size: 12px;
            position: absolute;
            top: 35px; }
  .flash-sale .color-bg {
    overflow: hidden;
    background: #ff4a73; }
  .flash-sale .one-flash-zone {
    margin-top: 35px;
    padding-bottom: 35px; }
  .flash-sale .product-info {
    height: 220px; }

.discount-sale {
  background-color: #f5e7da;
  overflow: hidden; }
  .discount-sale .header-image {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative; }
  .discount-sale .discount-title {
    width: 1000px;
    text-align: center;
    position: relative;
    margin: 80px auto 30px auto; }
    .discount-sale .discount-title span {
      font-size: 42px;
      font-family: "黑体",sans-serif;
      font-weight: bold;
      position: relative;
      background: #f5e7da;
      z-index: 2;
      padding: 0 20px;
      color: #c9ac80; }
    .discount-sale .discount-title .line-through {
      border: 1px solid #c9ac80;
      width: 100%;
      position: absolute;
      top: 50%;
      z-index: 1;
      height: 3px;
      background: #c9ac80; }
  .discount-sale .one-city {
    margin: 35px 0px; }
    .discount-sale .one-city .title {
      margin: 0px 0px 10px 15px;
      position: relative; }
      .discount-sale .one-city .title a {
        position: absolute;
        right: 25px;
        top: 7px;
        font-size: 20px;
        color: #c9ac80;
        display: block; }
        .discount-sale .one-city .title a:hover {
          text-decoration: none; }
    .discount-sale .one-city .product-info .product-line {
      padding: 5px 10px 0px 10px;
      position: relative;
      height: 25px; }
    .discount-sale .one-city .product-info .product-benefit {
      float: left; }
    .discount-sale .one-city .product-info .product-city {
      float: right; }
    .discount-sale .one-city .product-info .clear {
      clear: both; }
    .discount-sale .one-city .product-info .product-benefit,
    .discount-sale .one-city .product-info .product-city {
      color: #666666; }
      .discount-sale .one-city .product-info .product-benefit i,
      .discount-sale .one-city .product-info .product-city i {
        margin-right: 5px;
        font-size: 12px;
        color: #dc4639; }
    .discount-sale .one-city .product-info .product-name {
      font-size: 20px;
      line-height: 26px;
      color: #525252;
      height: 52px;
      padding-top: 0px; }

.last-block {
  width: 297px !important; }

.limited-product,
.discount-product {
  width: 30%;
  margin: 15px;
  display: inline-block;
  vertical-align: top;
  background-color: white; }
  .limited-product .product-image,
  .discount-product .product-image {
    width: 300px;
    height: 270px;
    position: relative;
    display: block;
    border: 1px solid #ddd; }
    .limited-product .product-image:hover .off-discount,
    .discount-product .product-image:hover .off-discount {
      opacity: 1;
      filter: alpha(opacity=50); }
    .limited-product .product-image img,
    .discount-product .product-image img {
      width: 100%; }
    .limited-product .product-image .off-discount,
    .discount-product .product-image .off-discount {
      opacity: 0;
      filter: alpha(opacity=0);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-transition: 0.6s;
      -moz-transition: 0.6s;
      -ms-transition: 0.6s;
      -o-transition: 0.6s;
      transition: 0.6s; }
    .limited-product .product-image .price-zone,
    .discount-product .product-image .price-zone {
      position: absolute;
      right: 0px;
      bottom: 15px;
      color: white;
      background-color: rgba(255, 74, 115, 0.8);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCFF4A73',endColorstr='#CCFF4A73');
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A4ff895f,endColorstr=#FFff895f);
      padding: 1px 15px;
      font-size: 14px;
      z-index: 2; }
      .limited-product .product-image .price-zone span,
      .discount-product .product-image .price-zone span {
        vertical-align: bottom; }
      .limited-product .product-image .price-zone .RMB,
      .discount-product .product-image .price-zone .RMB {
        font-size: 14px; }
      .limited-product .product-image .price-zone .new-price,
      .discount-product .product-image .price-zone .new-price {
        font-size: 24px;
        line-height: 28px; }
      .limited-product .product-image .price-zone .old-price,
      .discount-product .product-image .price-zone .old-price {
        font-size: 14px;
        text-decoration: line-through; }
    .limited-product .product-image:hover .discount-mask,
    .discount-product .product-image:hover .discount-mask {
      opacity: 1;
      display: block\0; }
    .limited-product .product-image .discount-mask,
    .discount-product .product-image .discount-mask {
      position: absolute;
      transition: 0.3s;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: url(../images/activities/fridaysale/discount-mask.png) center center no-repeat;
      opacity: 0;
      display: none\0; }
  .limited-product .product-info,
  .discount-product .product-info {
    border: 1px solid #adadad;
    border-top: 0px; }
    .limited-product .product-info .product-name,
    .discount-product .product-info .product-name {
      padding: 10px;
      font-size: 20px;
      line-height: 26px;
      color: black;
      overflow: hidden; }
    .limited-product .product-info .left-zone,
    .discount-product .product-info .left-zone {
      padding: 10px;
      color: #ff4a73; }
      .limited-product .product-info .left-zone .total,
      .discount-product .product-info .left-zone .total {
        font-size: 20px; }
      .limited-product .product-info .left-zone .left,
      .discount-product .product-info .left-zone .left {
        font-size: 16px;
        margin-top: 4px;
        text-align: right; }
        .limited-product .product-info .left-zone .left:after,
        .discount-product .product-info .left-zone .left:after {
          clear: both;
          content: ""; }
      .limited-product .product-info .left-zone .progress-bar,
      .discount-product .product-info .left-zone .progress-bar {
        border-radius: 3px;
        width: 280px;
        margin-bottom: 10px; }
        .limited-product .product-info .left-zone .progress-bar .white-bar,
        .discount-product .product-info .left-zone .progress-bar .white-bar {
          background-color: #aaaaaa;
          display: inline-block;
          *zoom: 1;
          *display: inline;
          height: 6px;
          position: relative;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px; }
          .limited-product .product-info .left-zone .progress-bar .white-bar .white-appendix,
          .discount-product .product-info .left-zone .progress-bar .white-bar .white-appendix {
            position: absolute;
            right: 0px;
            top: 5px;
            color: #aaaaaa;
            font-size: 18px; }
        .limited-product .product-info .left-zone .progress-bar .red-bar,
        .discount-product .product-info .left-zone .progress-bar .red-bar {
          background-color: #ff4a73;
          display: inline-block;
          *zoom: 1;
          *display: inline;
          height: 6px;
          margin-right: -5px;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          position: relative; }
          .limited-product .product-info .left-zone .progress-bar .red-bar .red-appendix,
          .discount-product .product-info .left-zone .progress-bar .red-bar .red-appendix {
            position: absolute;
            right: -3px;
            top: 5px;
            color: #ff4a73;
            font-size: 18px; }
        .limited-product .product-info .left-zone .progress-bar .all-radius,
        .discount-product .product-info .left-zone .progress-bar .all-radius {
          border-radius: 3px; }
    .limited-product .product-info .limited-btn,
    .discount-product .product-info .limited-btn {
      width: 180px;
      background-color: #ff4a73;
      border: 1px solid #ff1a73;
      color: white;
      height: 50px;
      padding: 10px 30px;
      font-size: 20px;
      cursor: pointer;
      margin: 10px auto 20px auto;
      display: block;
      text-align: center; }
      .limited-product .product-info .limited-btn:hover,
      .discount-product .product-info .limited-btn:hover {
        text-decoration: none; }
    .limited-product .product-info .disabled-btn,
    .discount-product .product-info .disabled-btn {
      background-color: #aaaaaa;
      border: 1px solid black;
      color: black; }

.activity-rule {
  background-color: #f5e7da; }

.weibo-for {
  color: #FFF;
  margin-left: 14px;
  margin-top: 10px;
  position: relative; }
  .weibo-for .icon-weibo {
    width: 40px;
    height: 40px;
    font-size: 40px;
    float: left;
    margin-right: 10px; }
  .weibo-for a {
    color: #FFF; }
    .weibo-for a:hover {
      text-decoration: underline; }
  .weibo-for .arrow-right {
    border-style: solid;
    width: 0;
    border-width: 4px 5px;
    border-color: transparent transparent transparent #FFF;
    position: absolute;
    right: 10px;
    top: 26px; }

.bottom-fixed-bar {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Microsoft Yahei", Helvetica, Arial, Verdana, sans-serif;
  border-top: 1px solid #f7f7f7;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  background: #fff;
  transition: 0.6s;
  z-index: 11; }
  .bottom-fixed-bar .inner-box {
    width: 1000px;
    margin: 0 auto;
    padding: 38px 0;
    font-size: 0;
    position: relative; }
    .bottom-fixed-bar .inner-box ol {
      list-style: decimal; }
    .bottom-fixed-bar .inner-box > div {
      display: inline-block;
      vertical-align: middle; }
  .bottom-fixed-bar .left-msg {
    font-size: 33px;
    color: #ff4a73;
    width: 445px;
    text-align: center; }
  .bottom-fixed-bar .qr-code {
    background: url(../images/activities/fridaysale/qrcode.jpeg) center center;
    width: 106px;
    height: 106px;
    margin-right: 20px; }
  .bottom-fixed-bar .email-ctn em {
    font-size: 14px;
    color: #ff4a73;
    font-style: normal; }
  .bottom-fixed-bar .email-ctn ol {
    padding: 0 22px;
    margin: 5px 0;
    color: #7b7c7c;
    font-size: 14px; }
  .bottom-fixed-bar .close-btn {
    background: url(../images/activities/fridaysale/close-btn.png);
    display: block;
    position: absolute;
    right: -10px;
    top: 10px;
    width: 22px;
    height: 22px; }
  .bottom-fixed-bar .lcd {
    font-size: 16px;
    display: none; }
  .bottom-fixed-bar .email-holder input {
    height: 37px;
    border: 1px solid #CCC;
    width: 315px;
    font-size: 16px;
    color: #7b7c7c;
    padding-left: 10px; }
  .bottom-fixed-bar .email-holder button {
    height: 37px;
    padding: 0 20px;
    color: #FFF;
    font-size: 20px;
    line-height: 20px;
    border: 1px solid #ff1a73;
    background: #ff4a73;
    margin-left: 20px; }
