.loading-mask {
  display: none; }

.header {
  background: url(../images/header_for_web.jpg) center center no-repeat;
  height: 368px; }

.box {
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  display: none; }

#box1 {
  background-image: url(../images/hotelplus_01.jpg);
  height: 940px; }

#box1 .title {
  background: url(../images/hotelplus_01_title.png) no-repeat center;
  height: 170px;
  margin-top: 210px; }

#box2 {
  background-image: url(../images/hotelplus_02.jpg);
  height: 933px; }
  #box2 .title {
    background: url(../images/hotelplus_02_title.png) no-repeat 82% 85px fixed;
    height: 900px;
    /*transition-duration: 0.3s;
    transition-property: transform,opacity;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform,opacity;
    -webkit-transition-timing-function: ease-out;
    transform:translateY(0);
    -webkit-transform:translateY(0);*/
    opacity: 1; }
  #box2 .title.outer {
    /* transform:translateY(30px);
     -webkit-transform:translateY(30px);*/
    opacity: 0; }
  #box2 .content {
    background: url(../images/hotelplus_02_content.png) no-repeat 82% 20px fixed;
    height: 900px;
    width: 100%;
    position: absolute;
    /*
     transition-duration: 0.4s;
     transition-property: transform,opacity;
     transition-timing-function: ease-out;
     -webkit-transition-duration: 0.4s;
     -webkit-transition-property: -webkit-transform,opacity;
     -webkit-transition-timing-function: ease-out;
     transform:translateY(0);
     -webkit-transform:translateY(0);*/
    top: 0px; }
    #box2 .content .outer {
      /* transform:translateY(60px);
       -webkit-transform:translateY(60px);*/
      opacity: 0; }

#box3 {
  background-image: url(../images/hotelplus_03.jpg);
  background-attachment: fixed;
  height: 919px; }
  #box3 .left {
    background: url(../images/hotelplus_03_left.png) no-repeat 75% 75px;
    position: fixed;
    height: 300px;
    width: 50%;
    top: 10px;
    left: -50%;
    transition: left 0.4s; }
    #box3 .left .abs {
      position: absolute;
      top: 260px; }
  #box3 .right {
    background: url(../images/hotelplus_03_right.png) no-repeat left 35px;
    position: fixed;
    height: 300px;
    width: 50%;
    right: -50%;
    top: 10px;
    transition: right 0.4s; }
    #box3 .right .abs {
      position: absolute;
      top: 260px; }

#box4 {
  background-image: url(../images/hotelplus_04.jpg);
  height: 947px; }
  #box4 .title {
    background: url(../images/hotelplus_04_title.png) no-repeat 20% 0;
    height: 796px;
    transition: opacity 0.3s;
    opacity: 0;
    margin-top: 150px; }
    #box4 .title .show {
      opacity: 1; }
    #box4 .title .show2 {
      background-attachment: fixed;
      background-position: 20% 70px; }
    #box4 .title .show3 {
      background-attachment: scroll;
      background-position: 20% 410px; }
  #box4 .content {
    background: url(../images/hotelplus_04_content.png) no-repeat 20% 0;
    height: 768px;
    transition: opacity 0.3s;
    opacity: 0;
    position: absolute;
    top: 280px;
    width: 100%; }
    #box4 .content .show {
      opacity: 1; }
    #box4 .content .show2 {
      background-attachment: fixed;
      background-position: 20% 197px; }
    #box4 .content .show3 {
      background-attachment: scroll;
      background-position: 20% 400px; }

.main-content {
  background-color: #f7f7f7; }

.benefit-ctn {
  width: 1060px;
  margin: 0 auto;
  padding: 30px 0;
  border-bottom: 1px solid #DDD;
  font-size: 0;
  height: 155px;
  overflow: hidden; }
  .benefit-ctn .benefit-wrap {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    left: 33%;
    position: absolute; }
  .benefit-ctn .benefit-title {
    font-size: 30px;
    color: #000; }
    .benefit-ctn .benefit-title i {
      margin-right: 10px;
      color: #c70000; }
  .benefit-ctn .benefit-content {
    font-size: 16px;
    color: #525252;
    margin-top: 4px; }
  .benefit-ctn .heart-wrap {
    width: 33.3%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    float: left; }
    .benefit-ctn .heart-wrap:hover .heart-block {
      position: absolute;
      top: 158px;
      height: 421px;
      width: 328px;
      background-color: #fff;
      margin-left: 1px;
      box-shadow: 0 0 8px #E8E8E8;
      outline: 1px solid #E8E8E8; }
    .benefit-ctn .heart-wrap:hover .heart-block-title {
      position: relative;
      font-size: 26px;
      padding: 30px;
      color: #000; }
      .benefit-ctn .heart-wrap:hover .heart-block-title i {
        margin-right: 10px;
        color: #c70000; }
    .benefit-ctn .heart-wrap:hover .heart-block-img {
      background: url(../images/hotelplus_02.jpg) no-repeat 20% 0;
      background-size: cover;
      height: 145px; }
    .benefit-ctn .heart-wrap:hover .heart-block-text {
      font-size: 16px;
      color: #525252;
      text-align: left;
      padding: 10px 20px 42px 20px; }
    .benefit-ctn .heart-wrap .heart-block {
      transition: all 0.2s; }
  .benefit-ctn .crown-wrap {
    width: 33.3%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    float: left; }
    .benefit-ctn .crown-wrap:hover .crown-block {
      position: absolute;
      top: 158px;
      height: 421px;
      width: 328px;
      margin-left: 10px;
      background-color: #fff;
      box-shadow: 0 0 8px #E8E8E8;
      outline: 1px solid #E8E8E8; }
    .benefit-ctn .crown-wrap:hover .crown-block-title {
      position: relative;
      font-size: 26px;
      padding: 30px;
      color: #000; }
      .benefit-ctn .crown-wrap:hover .crown-block-title i {
        margin-right: 10px;
        color: #c70000; }
    .benefit-ctn .crown-wrap:hover .crown-block-img {
      background: url(../images/hotelplus_03.jpg) no-repeat 20% 0;
      background-size: cover;
      height: 145px; }
    .benefit-ctn .crown-wrap:hover .crown-block-text {
      font-size: 16px;
      color: #525252;
      text-align: left;
      padding: 10px 20px 42px 20px; }
    .benefit-ctn .crown-wrap .crown-block {
      transition: all 0.2s; }
  .benefit-ctn .time-wrap {
    width: 33.3%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    float: left; }
    .benefit-ctn .time-wrap:hover .time-block {
      position: absolute;
      top: 158px;
      height: 421px;
      width: 328px;
      margin-left: 24px;
      background-color: #fff;
      box-shadow: 0 0 8px #E8E8E8;
      outline: 1px solid #E8E8E8; }
    .benefit-ctn .time-wrap:hover .time-block-title {
      position: relative;
      font-size: 26px;
      padding: 30px;
      color: #000; }
      .benefit-ctn .time-wrap:hover .time-block-title i {
        margin-right: 10px;
        color: #c70000; }
    .benefit-ctn .time-wrap:hover .time-block-img {
      background: url(../images/hotelplus_04.jpg) no-repeat 20% 0;
      background-size: cover;
      height: 145px; }
    .benefit-ctn .time-wrap:hover .time-block-text {
      font-size: 16px;
      color: #525252;
      text-align: left;
      padding: 10px 20px 42px 20px; }
    .benefit-ctn .time-wrap .time-block {
      transition: all 0.2s; }

.group-block {
  width: 1060px;
  margin: 0 auto;
  padding: 100px 0 160px 0; }
  .group-block .group-title {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    color: #000; }
  .group-block .group-desc {
    margin: 0 auto;
    width: 520px;
    text-align: center;
    padding: 30px 0 50px 0;
    font-size: 14px;
    line-height: 24px; }
  .group-block .group-more {
    float: right;
    border-radius: 23px;
    width: 137px;
    color: #ec675a;
    background-color: transparent;
    border: 1px solid #ec675a;
    line-height: 38px;
    font-size: 16px;
    text-align: center;
    margin-top: 60px;
    text-decoration: none;
    margin-right: 22px; }
    .group-block .group-more:hover {
      color: #fff;
      background-color: #ec675a; }
  .group-block .item-wrap {
    border-radius: 3px;
    overflow: hidden;
    transition: all 0.2s;
    border: 1px solid #e8e8e8;
    height: 404px; }
    .group-block .item-wrap:hover {
      margin-top: -2px;
      box-shadow: 0 2px 10px #ddd; }
      .group-block .item-wrap:hover .cover-block {
        opacity: 0.9;
        display: block\0;
        filter: alpha(opacity=90); }
  .group-block .display-row {
    display: block;
    text-decoration: none; }
  .group-block .head-block {
    position: relative; }
  .group-block .show-price {
    position: absolute;
    right: 0px;
    top: 151px;
    background-color: #ec675a;
    color: #fff;
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    width: 112px;
    height: 43px; }
  .group-block .hotel-name {
    color: #000;
    font-size: 22px;
    line-height: 28px;
    padding: 22px 22px 0 22px;
    height: 80px;
    overflow: hidden; }
  .group-block .hotel-level {
    padding: 14px 22px; }
  .group-block .level-text {
    font-weight: bold;
    color: #000; }
  .group-block .star-back {
    color: #f60;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle; }
  .group-block .hotel-highlight {
    font-size: 14px;
    color: #595959;
    padding-left: 22px; }
  .group-block .hotel-location {
    position: absolute;
    bottom: 20px;
    left: 29px;
    color: #f60;
    width: 289px;
    text-align: center; }
  .group-block .location-name {
    color: #515151;
    font-size: 16px; }
  .group-block .cover-block {
    opacity: 0;
    display: none\0;
    position: absolute;
    top: -1px;
    left: 0;
    width: 337px;
    height: 100%;
    margin-left: 8px;
    padding: 30px;
    background-color: #fff;
    filter: alpha(opacity=0);
    overflow: hidden;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s; }
  .group-block .cover-text {
    color: #e65;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px; }
  .group-block .cover-look {
    color: #e65;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    position: absolute;
    bottom: 60px;
    left: 60px;
    width: 212px;
    height: 42px;
    border: 1px solid #e65; }
  .group-block .cover-summary {
    font-size: 18px;
    line-height: 30px;
    height: 185px;
    overflow: scroll; }
    .group-block .cover-summary li {
      color: #a9a9a9; }
    .group-block .cover-summary span {
      color: #000; }

.hotel-wrap {
  height: 422px !important; }
  .hotel-wrap .overflow-hidden {
    overflow: hidden;
    position: relative;
    height: 100%; }
  .hotel-wrap .carousel-list {
    height: 404px !important;
    padding: 10px 0; }
  .hotel-wrap .carousel-item {
    width: 353px !important;
    height: auto !important;
    padding: 0 8px !important;
    white-space: normal !important;
    background-color: transparent !important; }
  .hotel-wrap .to-prev, .hotel-wrap .to-next {
    font-size: 60px;
    background-color: transparent !important;
    color: #bbb; }
  .hotel-wrap .to-prev {
    left: -63px !important; }
    .hotel-wrap .to-prev:hover {
      left: -60px !important; }
  .hotel-wrap .to-next {
    right: -63px !important; }
    .hotel-wrap .to-next:hover {
      right: -60px !important; }

/*# sourceMappingURL=hotel_plus_aggregation.css.map */
