@charset "UTF-8";
p {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.none {
  display: none; }

.price-font {
  font-family: SimHei, "华文细黑", "STHeiti", Helvetica, "微软雅黑", "Microsoft YaHei", Arial, sans-serif; }

.no-scroll {
  overflow: hidden; }

.main-wrap {
  background: #f9f9f9; }

.nivo-controlNav {
  display: none; }

.left-content {
  margin-bottom: 40px; }

nav {
  line-height: 50px; }
  nav a {
    font-size: 14px;
    color: #535353;
    line-height: 30px;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent; }
  nav a:hover {
    border-bottom: 1px solid #535353;
    text-decoration: none;
    color: #535353; }
  nav .sep {
    margin: 0 8px; }

.product-detail .product-info-ctn {
  margin-bottom: 20px; }
  .product-detail .product-info-ctn .product-name-wrap {
    border: 1px solid #d9d9d9;
    background: #fff;
    padding: 24px 30px 0 30px; }
    .product-detail .product-info-ctn .product-name-wrap h1 {
      font-size: 24px;
      margin-bottom: 14px; }
    .product-detail .product-info-ctn .product-name-wrap p {
      font-size: 14px;
      color: #666;
      height: 50px; }
  .product-detail .product-info-ctn .slider-ctn {
    border: 1px solid #d9d9d9;
    border-top: 0;
    width: 100%;
    height: 360px; }
.product-detail .service-include-wrap {
  background: #fff;
  border: 1px solid #d9d9d9;
  padding: 31px 0 0 46px;
  margin-top: 20px; }
  .product-detail .service-include-wrap .service-include-ctn {
    padding-right: 40px; }
    .product-detail .service-include-wrap .service-include-ctn .section-title {
      font-size: 20px;
      color: #29af5f; }
    .product-detail .service-include-wrap .service-include-ctn .section-body h2 {
      font-size: 14px;
      margin-top: 20px;
      display: none; }
    .product-detail .service-include-wrap .service-include-ctn .section-body ol, .product-detail .service-include-wrap .service-include-ctn .section-body ul {
      list-style-type: disc;
      padding-left: 18px;
      margin-top: 30px;
      margin-bottom: 30px; }
      .product-detail .service-include-wrap .service-include-ctn .section-body ol li, .product-detail .service-include-wrap .service-include-ctn .section-body ul li {
        margin-bottom: 15px; }
  .product-detail .service-include-wrap .product-rule-ctn .section-title {
    height: auto;
    font-size: 20px;
    background: #fff;
    color: #29af5f; }
  .product-detail .service-include-wrap .product-rule-ctn ul {
    list-style: none;
    padding-left: 0;
    margin: 33px 0; }
    .product-detail .service-include-wrap .product-rule-ctn ul li {
      height: 90px;
      padding-left: 40px;
      position: relative;
      width: 49%;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: top;
      padding-right: 30px; }
      .product-detail .service-include-wrap .product-rule-ctn ul li:before {
        font-family: "hitour";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        left: 0;
        font-size: 30px;
        line-height: 30px;
        color: #7f7f7f; }
      .product-detail .service-include-wrap .product-rule-ctn ul li.r-redeem:before {
        content: '\e622'; }
      .product-detail .service-include-wrap .product-rule-ctn ul li.r-buy:before {
        content: '\e625'; }
      .product-detail .service-include-wrap .product-rule-ctn ul li.r-return:before {
        content: '\e620'; }
      .product-detail .service-include-wrap .product-rule-ctn ul li.r-shipping:before {
        content: ""; }
    .product-detail .service-include-wrap .product-rule-ctn ul h3 {
      margin-bottom: 15px;
      font-size: 14px;
      color: #000; }
    .product-detail .service-include-wrap .product-rule-ctn ul p {
      color: #000; }

.tab-ctn {
  height: 54px;
  margin-top: 35px;
  margin-bottom: 18px; }
  .tab-ctn .fix-bg {
    height: 55px;
    border-bottom: 1px solid #D6D6D6;
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    background: #FFF;
    z-index: 10; }
    .tab-ctn .fix-bg button {
      left: 70%;
      width: 90px;
      height: 36px;
      color: #FFF;
      background: #6db381;
      border: 0;
      font-size: 18px;
      position: absolute;
      border-radius: 4px;
      top: 8px; }
  .tab-ctn .tab-list {
    margin: 0 -2px;
    height: 54px;
    width: 664px; }
    .tab-ctn .tab-list .tab {
      float: left;
      font-size: 18px;
      color: #000;
      line-height: 54px;
      padding: 0 2px;
      cursor: pointer;
      text-align: center; }
      .tab-ctn .tab-list .tab > div {
        background: #fff; }
      .tab-ctn .tab-list .tab.active > div {
        color: #fff;
        background: #6db381; }
    .tab-ctn .tab-list.tab-x-3 .tab {
      width: 33.3%; }
    .tab-ctn .tab-list.tab-x-2 .tab {
      width: 50%; }
  .tab-ctn.fixed .tab-list {
    position: fixed;
    top: 0;
    z-index: 11; }
  .tab-ctn.fixed .fix-bg {
    display: block; }

.purchase-notice {
  background: #fff;
  margin-bottom: 20px;
  border: 1px solid #d9d9d9; }
  .purchase-notice .section-title {
    height: 126px;
    background: #f7f7f7;
    text-align: center;
    line-height: 126px;
    font-size: 30px; }
  .purchase-notice .pass-benefit {
    background: #fff;
    padding-top: 35px; }
    .purchase-notice .pass-benefit .how-it-works {
      margin-top: -10px; }
    .purchase-notice .pass-benefit .sample-ctn {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: top;
      width: 35%;
      text-align: center; }
      .purchase-notice .pass-benefit .sample-ctn img {
        width: 144px;
        height: 90px; }
      .purchase-notice .pass-benefit .sample-ctn .sample-name {
        margin-top: 18px; }
    .purchase-notice .pass-benefit .pass-desc {
      width: 55%;
      font-size: 16px;
      color: #737373;
      line-height: 40px;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: top; }
  .purchase-notice .how-it-works {
    padding: 0 85px; }
    .purchase-notice .how-it-works h2 {
      margin-top: 60px;
      font-size: 20px; }
    .purchase-notice .how-it-works ol {
      list-style-type: disc;
      padding-left: 2px; }
      .purchase-notice .how-it-works ol li {
        margin-bottom: 30px; }
    .purchase-notice .how-it-works a {
      color: #0030ff; }
  .purchase-notice .places-ctn .places-wrap h2 {
    padding-left: 85px;
    margin-bottom: 15px; }
  .purchase-notice .places-ctn .redeem-place-ctn {
    padding: 0 40px 20px 40px; }
  .purchase-notice .places-ctn .redeem-place {
    width: 50%;
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    padding: 40px 0 34px 40px; }
    .purchase-notice .places-ctn .redeem-place .seq {
      position: absolute;
      width: 25px;
      left: 35px;
      text-align: center;
      top: 40px; }
    .purchase-notice .places-ctn .redeem-place.pleft {
      border-right: 1px solid #d9d9d9;
      padding-left: 0; }
      .purchase-notice .places-ctn .redeem-place.pleft .seq {
        left: -5px; }
    .purchase-notice .places-ctn .redeem-place.psec {
      border-bottom: 1px solid #d9d9d9; }
    .purchase-notice .places-ctn .redeem-place.psingle {
      border-right: 0;
      width: 100%; }
      .purchase-notice .places-ctn .redeem-place.psingle .redeem-field {
        width: auto; }
    .purchase-notice .places-ctn .redeem-place.pfirst {
      padding-top: 0; }
      .purchase-notice .places-ctn .redeem-place.pfirst .seq {
        top: 0; }
    .purchase-notice .places-ctn .redeem-place h4 {
      font-size: 14px;
      font-weight: normal;
      height: 54px;
      padding: 0 20px; }
    .purchase-notice .places-ctn .redeem-place ul {
      padding-left: 16px;
      list-style: none;
      margin-top: 0; }
      .purchase-notice .places-ctn .redeem-place ul li {
        margin-bottom: 14px; }
      .purchase-notice .places-ctn .redeem-place ul li > div {
        color: #999;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: top; }
      .purchase-notice .places-ctn .redeem-place ul .redeem-field {
        width: 144px;
        color: #000; }
  .purchase-notice .gmap-ctn {
    padding-bottom: 40px; }

.location-map {
  width: 100%;
  height: 325px; }
  .location-map img {
    width: 100%;
    height: 100%; }

.overlay {
  width: 100%;
  background: -moz-linear-gradient(top, transparent 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, black 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, black 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='', endColorstr='#000', GradientType=0);
  /* IE6-9 */ }

.attraction-detail {
  color: #000;
  border: 1px solid #d9d9d9;
  background: #fff; }
  .attraction-detail .section-title {
    height: 126px;
    background: #f7f7f7; }
    .attraction-detail .section-title .heading {
      font-size: 30px;
      text-align: center;
      line-height: 126px;
      font-weight: normal; }

.product-review-container {
  width: 60%;
  margin: 28px auto 30px auto;
  position: relative; }
  .product-review-container .icon {
    top: -8px;
    left: -40px;
    color: #c5c5c5;
    position: absolute;
    font-size: 26px; }
  .product-review-container p {
    font-size: 16px;
    line-height: 36px; }

.one-accordion .section-title {
  height: 72px;
  border-top: 1px solid #d9d9d9; }
.one-accordion .head-text, .one-accordion .head-icon, .one-accordion .head-status {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle; }
.one-accordion .head-text {
  width: 460px;
  margin: 0 20px;
  line-height: 68px; }
  .one-accordion .head-text .title {
    display: inline;
    font-size: 24px;
    padding-right: 16px; }
  .one-accordion .head-text .desc {
    font-size: 14px; }
.one-accordion .head-icon {
  color: #7f7f7f;
  font-size: 36px;
  margin-left: 22px; }
.one-accordion .head-status {
  margin-right: 45px; }
  .one-accordion .head-status:before {
    content: "\e610";
    font-size: 20px;
    font-family: "hitour" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
.one-accordion .location-map {
  margin-top: 18px; }

.one-accordion.expand .section-title {
  border-bottom: 1px solid #d9d9d9;
  background: #eee; }
.one-accordion.expand .head-status:before {
  content: "\e60f"; }

.scene-list-container {
  padding: 20px; }
  .scene-list-container .one-scene-text {
    width: 285px;
    padding: 6px 20px 6px 20px;
    font-size: 12px;
    line-height: 200%;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top; }
  .scene-list-container .odd-row {
    background: #f7f7f7; }
  .scene-list-container .left-cell {
    margin-right: 15px; }

.one-scene-image {
  height: 360px;
  margin: 0 0 36px 0;
  position: relative;
  overflow: hidden;
  border-radius: 4px; }
  .one-scene-image .overlay, .one-scene-image .image-info {
    position: absolute;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s; }
  .one-scene-image .overlay {
    bottom: 0;
    height: 110px; }
  .one-scene-image .image-info {
    top: 300px;
    height: 100%; }
  .one-scene-image .image-order, .one-scene-image .image-text {
    color: #fff;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top; }
  .one-scene-image .image-order {
    color: #fff;
    width: 30px;
    height: 30px;
    margin: 2px 14px 0 22px;
    font-size: 24px;
    background: #81ba27;
    text-align: center;
    font-family: "helvetica_neue_thin";
    line-height: 32px;
    border-radius: 50%; }
  .one-scene-image .image-text {
    width: 485px; }
  .one-scene-image .cn-title {
    margin: 0 0 6px 0;
    font-size: 20px;
    line-height: 24px; }
  .one-scene-image .en-title {
    margin: 0 0 12px 0;
    font-size: 12px;
    font-family: "helvetica_neue_thin";
    line-height: 16px; }
  .one-scene-image p {
    font-size: 14px;
    line-height: 24px; }
  .one-scene-image .benefit {
    color: #f60;
    margin-top: 10px;
    margin-bottom: 20px; }
  .one-scene-image:hover .overlay {
    height: 100%; }
  .one-scene-image:hover .image-info {
    top: 200px;
    bottom: 0; }
  .one-scene-image:hover p {
    display: block; }
  .one-scene-image.before-choose-one {
    margin: 0; }

.choose-logo {
  width: 100%;
  height: 20px;
  position: relative; }
  .choose-logo .choose-label {
    left: 273px;
    bottom: -12px;
    z-index: 1;
    position: absolute;
    color: #fff;
    background: #f60;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    font-family: "helvetica_neue_thin";
    line-height: 46px; }

.one-communication {
  margin: 30px 15px;
  padding: 32px 23px;
  background: #e0f2e1;
  border-radius: 4px; }
  .one-communication .icon, .one-communication .communication-text {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle; }
  .one-communication .icon {
    color: #36a33c;
    width: 52px;
    height: 52px;
    font-size: 52px;
    margin-right: 22px; }
  .one-communication .communication-text {
    width: 470px; }
  .one-communication .title {
    color: #106615;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 17px; }
  .one-communication .desc {
    color: #29832e;
    font-size: 14px;
    line-height: 24px; }

.location-list-container {
  padding: 0 24px;
  margin-top: 10px;
  margin-bottom: 20px; }

.one-location-list {
  padding-top: 28px; }
  .one-location-list .list-title {
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    margin-bottom: 10px; }
    .one-location-list .list-title:before {
      width: 6px;
      height: 10px;
      margin: 0 8px 3px 0;
      content: '';
      background: #000;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: middle; }
  .one-location-list .list-body {
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none; }
  .one-location-list .odd-row {
    background: #f7f7f7; }
  .one-location-list .one-list-item {
    color: #525252;
    padding: 6px 14px;
    font-size: 14px;
    line-height: 24px; }

.w-selector {
  border-left: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
  max-height: 279px;
  overflow: auto; }
  .w-selector .w-option {
    height: 70px;
    background: #ecf5ef;
    line-height: 70px;
    font-size: 16px;
    padding-left: 24px;
    border-bottom: 1px solid #D9D9D9;
    cursor: default;
    color: #525252;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
    .w-selector .w-option:hover {
      background: #d8ecdc; }
    .w-selector .w-option.last-option {
      border-bottom: 0; }
    .w-selector .w-option:before {
      font-family: 'hitour';
      content: "\e618";
      margin-right: 8px;
      margin-left: 6px;
      color: #A0A0A0; }
    .w-selector .w-option.selected:before {
      content: "\e619";
      color: #6db381; }

.w-item-tips {
  position: absolute;
  top: 33px;
  display: none;
  transition: 0.4s;
  left: -388px;
  width: 368px;
  height: 146px;
  color: #FFF; }
  .w-item-tips .tips-content {
    width: 234px;
    float: left;
    border-right: 1px solid transparent;
    background: #000;
    padding: 15px 20px;
    height: 146px; }
    .w-item-tips .tips-content p {
      margin-top: 8px;
      color: #ccc; }
  .w-item-tips .price-ctn {
    float: right;
    background: #000;
    height: 146px;
    margin-left: 1px;
    width: 133px; }
    .w-item-tips .price-ctn > div {
      line-height: 40px;
      height: 70px;
      font-size: 20px;
      padding: 15px 14px; }
    .w-item-tips .price-ctn .price-wrap {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: top;
      margin-left: 10px;
      line-height: 20px; }
      .w-item-tips .price-ctn .price-wrap em {
        font-size: 14px;
        font-style: normal;
        display: block;
        color: #f60; }
        .w-item-tips .price-ctn .price-wrap em:before {
          font-family: "Hitour";
          content: '\e617';
          font-size: 12px; }
      .w-item-tips .price-ctn .price-wrap strong {
        display: block;
        font-size: 14px;
        font-weight: normal;
        text-decoration: line-through;
        color: #aaa; }
        .w-item-tips .price-ctn .price-wrap strong:before {
          font-family: "Hitour";
          content: '\e617';
          font-size: 12px; }
  .w-item-tips .tips-arrow {
    position: absolute;
    left: 100%;
    border: 12px solid transparent;
    border-left-color: #000;
    top: 50%;
    margin-top: -12px; }

.order-ctn {
  border-bottom: 1px solid #d9d9d9; }

.contact-us {
  background: url(../images/common/tel-us.png);
  width: 320px;
  height: 359px;
  margin-top: 90px; }

.guarantee-ctn {
  background: #fff;
  width: 320px;
  border: 1px solid #d9d9d9;
  margin-top: 35px; }
  .guarantee-ctn .icon-hitour:before {
    color: #81BA27;
    position: absolute;
    left: 41px;
    font-size: 36px;
    line-height: 84px; }
  .guarantee-ctn h2 {
    font-size: 24px;
    line-height: 80px;
    padding-left: 80px; }
  .guarantee-ctn .guarantee-wrap {
    padding: 25px 45px;
    border-top: 1px solid #d9d9d9; }
    .guarantee-ctn .guarantee-wrap h3 {
      font-weight: normal;
      line-height: 26px;
      position: relative; }
      .guarantee-ctn .guarantee-wrap h3:before {
        content: '·';
        position: absolute;
        left: -15px;
        font-size: 30px; }
    .guarantee-ctn .guarantee-wrap p {
      line-height: 24px; }

.right-content .section-title {
  width: 310px;
  margin: 0 auto 18px auto; }
  .right-content .section-title .title-block {
    float: left;
    height: 10px;
    width: 5px;
    background: #6db381;
    margin-top: 8px;
    margin-right: 10px; }
  .right-content .section-title h3 {
    font-size: 20px;
    font-weight: normal; }
.right-content .subject-ctn {
  margin-top: 54px; }
  .right-content .subject-ctn .subject-wrap {
    height: 211px;
    width: 310px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    text-align: center;
    margin: 0 auto 8px auto;
    position: relative;
    display: block; }
    .right-content .subject-ctn .subject-wrap:hover {
      text-decoration: none; }
    .right-content .subject-ctn .subject-wrap .subject-mask {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background: url(../images/product/gradient-radial.png) no-repeat; }
    .right-content .subject-ctn .subject-wrap .subject-product-title {
      font-size: 30px;
      color: #fff;
      font-weight: bold;
      text-align: center;
      margin-top: 70px;
      margin-bottom: 10px; }
    .right-content .subject-ctn .subject-wrap .subject-product-count {
      padding: 8px 14px;
      background: rgba(109, 179, 129, 0.8);
      border-radius: 6px;
      display: inline;
      color: #fff;
      font-size: 14px;
      font-weight: bold; }
.right-content .related-products-ctn .related-product {
  height: 211px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  position: relative;
  display: block;
  margin-bottom: 8px; }
  .right-content .related-products-ctn .related-product:hover {
    text-decoration: none; }
  .right-content .related-products-ctn .related-product .related-product-info {
    position: absolute;
    border-radius: 6px;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    color: #fff;
    padding-left: 20px;
    height: 110px;
    background: -moz-linear-gradient(top, transparent 0%, black 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, black));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, transparent 0%, black 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, transparent 0%, black 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, transparent 0%, black 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, transparent 0%, black 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */ }
    .right-content .related-products-ctn .related-product .related-product-info .rp-name {
      float: left;
      vertical-align: bottom;
      margin-top: 74px;
      width: 225px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .right-content .related-products-ctn .related-product .related-product-info .rp-price {
      float: right;
      margin-right: 20px;
      margin-top: 70px;
      font-size: 24px;
      font-family: "helvetica_neue_thin"; }
    .right-content .related-products-ctn .related-product .related-product-info .i-rmb:before {
      font-family: "Hitour";
      content: '\e617';
      font-size: 16px; }
.right-content #quantifier {
  position: absolute;
  top: 12px;
  left: 40px;
  color: #F60; }
.right-content .market-label {
  position: absolute;
  top: 14px;
  right: 42px; }
.right-content .show-price-ctn {
  height: 90px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-bottom: 0; }
  .right-content .show-price-ctn .show-price {
    line-height: 95px;
    margin-left: 26px;
    color: #f60; }
    .right-content .show-price-ctn .show-price em {
      font-size: 36px;
      font-style: normal;
      font-family: Helvetica_Neue_Thin;
      vertical-align: baseline;
      margin-right: 10px;
      position: relative;
      top: 2px; }
      .right-content .show-price-ctn .show-price em:before {
        font-family: "Hitour";
        content: '\e617';
        font-size: 22px;
        position: relative;
        top: -2px; }
  .right-content .show-price-ctn .market-price {
    float: right;
    line-height: 20px;
    margin-right: 30px;
    margin-top: 44px;
    vertical-align: bottom; }
    .right-content .show-price-ctn .market-price em {
      font-family: Helvetica_Neue_Thin;
      font-style: normal;
      font-size: 18px;
      text-decoration: line-through;
      margin-left: 5px;
      vertical-align: bottom; }
      .right-content .show-price-ctn .market-price em:before {
        font-family: "Hitour";
        content: '\e617';
        font-size: 12px;
        vertical-align: bottom; }
.right-content .section-head {
  background: #6db381;
  height: 70px;
  line-height: 70px;
  color: #fff;
  font-size: 18px;
  padding-left: 58px;
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  position: relative; }
  .right-content .section-head.collapse {
    background: #FFF;
    height: 54px;
    color: #999;
    line-height: 54px;
    font-size: 14px; }
    .right-content .section-head.collapse:after {
      content: ''; }
  .right-content .section-head:before {
    position: absolute;
    left: 30px; }
.right-content .section-preview {
  cursor: pointer;
  font-size: 20px;
  color: #000;
  font-weight: bold;
  font-family: Helvetica_Neue_Thin;
  background: #FFF;
  border-left: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
  padding-left: 58px;
  padding-bottom: 15px;
  position: relative; }
  .right-content .section-preview:after {
    font-family: "Hitour";
    content: '\e610';
    font-size: 12px;
    line-height: 24px;
    position: absolute;
    top: 0;
    right: 33px; }
.right-content .date-legend {
  background: #ecf5ef;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 18px 24px; }
  .right-content .date-legend .date-enable {
    width: 18px;
    height: 18px;
    display: inline-block;
    background: #6db381;
    vertical-align: top;
    margin-right: 20px; }
  .right-content .date-legend .date-disable {
    width: 18px;
    height: 18px;
    display: inline-block;
    background: #999;
    vertical-align: top;
    margin-right: 20px; }
.right-content .special-code {
  position: relative; }
  .right-content .special-code .section-preview .selected-special {
    font-size: 18px;
    width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000; }
  .right-content .special-code .section-preview .special-price {
    font-size: 14px;
    margin-top: 10px;
    color: #999; }
    .right-content .special-code .section-preview .special-price > div {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: top;
      margin-right: 20px; }
.right-content .departure .section-preview .selected-departure {
  font-size: 18px;
  width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000; }
.right-content .sum-price {
  height: 90px;
  background: #FFF;
  border: 1px solid #D9D9D9;
  border-top: 0;
  overflow: hidden;
  padding-left: 58px;
  position: relative; }
  .right-content .sum-price > div {
    font-size: 18px;
    margin-top: 15px;
    font-weight: bold;
    margin-bottom: 8px; }
  .right-content .sum-price strong {
    font-family: Helvetica_Neue_Thin;
    font-size: 20px;
    color: #F60; }
    .right-content .sum-price strong:before {
      font-family: "Hitour";
      content: '\e617';
      font-size: 12px; }
  .right-content .sum-price .buy-btn {
    width: 90px;
    height: 36px;
    color: #FFF;
    background: #F60;
    border: 0;
    font-size: 18px;
    position: absolute;
    right: 36px;
    top: 26px;
    border-radius: 4px; }
    .right-content .sum-price .buy-btn.processing {
      background: #999; }
      .right-content .sum-price .buy-btn.processing:after {
        content: '...'; }
.right-content .discount-ctn {
  margin-top: 18px;
  background: #FFF;
  position: relative;
  border: 1px solid #D9D9D9;
  height: 90px; }
  .right-content .discount-ctn h4 {
    font-size: 18px;
    margin-bottom: 2px; }
  .right-content .discount-ctn .discount-wrap {
    float: left;
    width: 50%;
    border-right: 1px solid #D9D9D9;
    height: 89px;
    padding-left: 20px;
    padding-top: 18px; }
    .right-content .discount-ctn .discount-wrap h4 span {
      font-size: 12px; }
    .right-content .discount-ctn .discount-wrap strong {
      color: #F60;
      font-family: Helvetica_Neue_Thin;
      font-size: 24px;
      margin-top: 5px; }
  .right-content .discount-ctn .save-wrap {
    float: left;
    height: 89px;
    padding-left: 40px;
    padding-top: 18px; }
    .right-content .discount-ctn .save-wrap strong {
      color: #F60;
      font-family: Helvetica_Neue_Thin;
      font-size: 24px; }
      .right-content .discount-ctn .save-wrap strong:before {
        font-family: "Hitour";
        content: '\e617';
        font-size: 12px; }
  .right-content .discount-ctn .top-arrow {
    position: absolute;
    border-width: 12px 14px;
    border-color: transparent;
    border-style: solid;
    border-bottom-color: #D9D9D9;
    top: -25px;
    left: 69px; }
    .right-content .discount-ctn .top-arrow:before {
      position: absolute;
      border-width: 12px 14px;
      border-color: transparent;
      border-style: solid;
      border-bottom-color: #fff;
      top: -11px;
      left: -14px;
      content: ''; }
.right-content .quantity .section-head {
  cursor: pointer; }
  .right-content .quantity .section-head:after {
    font-family: "Hitour";
    content: '\e60f';
    font-size: 12px;
    position: absolute;
    right: 33px; }
  .right-content .quantity .section-head.collapse:after {
    content: ''; }
.right-content .quantity .ticket-ctn {
  height: 70px;
  background: #ecf5ef;
  border: 1px solid #D9D9D9;
  border-top: 0;
  padding-left: 60px;
  position: relative;
  color: #525252; }
  .right-content .quantity .ticket-ctn > div {
    display: inline-block;
    vertical-align: top; }
  .right-content .quantity .ticket-ctn .ticket-type {
    font-size: 18px;
    line-height: 70px;
    width: 82px; }
  .right-content .quantity .ticket-ctn .ticket-range {
    position: absolute;
    left: 53px;
    top: 45px;
    font-size: 12px; }
  .right-content .quantity .ticket-ctn .ticket-price {
    margin-top: 16px;
    width: 85px;
    font-family: Helvetica_Neue_Thin;
    font-size: 14px; }
    .right-content .quantity .ticket-ctn .ticket-price em {
      display: block;
      color: #F60;
      font-style: normal; }
      .right-content .quantity .ticket-ctn .ticket-price em:before {
        font-family: "Hitour";
        content: '\e617';
        font-size: 12px; }
    .right-content .quantity .ticket-ctn .ticket-price strong {
      display: block;
      text-decoration: line-through; }
      .right-content .quantity .ticket-ctn .ticket-price strong:before {
        font-family: "Hitour";
        content: '\e617';
        font-size: 12px; }
  .right-content .quantity .ticket-ctn .num-counter {
    width: 58px;
    height: 28px;
    border: 1px solid #D9D9D9;
    margin-top: 20px;
    font-size: 0;
    background: #fff; }
    .right-content .quantity .ticket-ctn .num-counter .reduce {
      width: 15px;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: top;
      cursor: pointer;
      text-align: right;
      -webkit-user-select: none;
      -moz-user-select: none; }
      .right-content .quantity .ticket-ctn .num-counter .reduce:before {
        font-family: "Hitour";
        content: '\e60d';
        font-size: 12px;
        line-height: 28px;
        color: #D9D9D9; }
    .right-content .quantity .ticket-ctn .num-counter .add {
      width: 15px;
      text-align: left;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: top;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none; }
      .right-content .quantity .ticket-ctn .num-counter .add:before {
        font-family: "Hitour";
        content: '\e60e';
        font-size: 12px;
        line-height: 28px;
        color: #D9D9D9; }
    .right-content .quantity .ticket-ctn .num-counter input {
      line-height: 20px;
      width: 26px;
      border: 0;
      font-size: 16px;
      height: 26px;
      vertical-align: top;
      outline: none;
      text-align: center; }
.right-content .quantity .ticket-rule {
  background: #FFF;
  height: 0;
  transition: 0.6s;
  line-height: 53px;
  border: 1px solid #D9D9D9;
  border-bottom: 0;
  border-top: 0;
  padding-left: 30px;
  font-size: 14px;
  color: #F60; }
  .right-content .quantity .ticket-rule.ticket-tips-show {
    height: 53px;
    border-bottom: 1px solid #d9d9d9; }
  .right-content .quantity .ticket-rule:before {
    font-size: 18px;
    position: relative;
    top: 3px;
    margin-right: 12px; }
.right-content .quantity .section-preview {
  border-bottom: 1px solid #d9d9d9; }
  .right-content .quantity .section-preview .ticket-wrap {
    display: inline-block;
    width: 102px;
    vertical-align: top;
    margin-bottom: 12px; }
