@charset "UTF-8";
p {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.none {
  display: none; }

.price-font {
  font-family: SimHei, "华文细黑", "STHeiti", Helvetica, "微软雅黑", "Microsoft YaHei", Arial, sans-serif; }

.no-scroll {
  overflow: hidden; }

.hi-carousel {
  position: relative; }
  .hi-carousel.fade .carousel-list {
    position: relative;
    height: 400px; }
  .hi-carousel.fade .carousel-item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: #eee;
    background-position: center center;
    background-repeat: no-repeat; }
  .hi-carousel.scroll {
    height: 300px; }
    .hi-carousel.scroll .carousel-list {
      position: absolute;
      top: 0;
      left: 0;
      height: 300px;
      white-space: nowrap;
      font-size: 0; }
    .hi-carousel.scroll .carousel-item {
      display: inline-block;
      position: relative;
      vertical-align: top;
      margin: 0;
      padding: 0;
      width: 400px;
      height: 300px;
      background-color: #eee;
      background-position: center center;
      background-repeat: no-repeat;
      font-size: 14px; }
    .hi-carousel.scroll .index-list {
      display: none; }
  .hi-carousel .to-prev, .hi-carousel .to-next {
    position: absolute;
    top: 50%;
    width: 60px;
    height: 100px;
    line-height: 100px;
    margin-top: -50px;
    text-align: center;
    cursor: pointer;
    opacity: 0.75;
    background-color: #fff;
    transition: all 0.1s; }
  .hi-carousel .to-prev {
    left: 5px; }
    .hi-carousel .to-prev:hover {
      left: 0;
      width: 65px; }
  .hi-carousel .to-next {
    right: 5px; }
    .hi-carousel .to-next:hover {
      right: 0;
      width: 65px; }
  .hi-carousel .index-list {
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center; }
  .hi-carousel .to-index {
    display: inline-block;
    width: 8px;
    height: 8px;
    line-height: 8px;
    padding: 3px;
    margin: 0 2px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #fff;
    border-radius: 50%;
    tansition: all 0.2s; }
    .hi-carousel .to-index:hover:not(.active) {
      padding: 4px;
      margin: 0 1px -1px;
      background-color: white;
      cursor: pointer; }
    .hi-carousel .to-index.active {
      background-color: rgba(0, 0, 0, 0.25); }

header {
  border-bottom: 1px solid #ddd; }

.main-wrap {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.sep-line {
  border-bottom: 1px solid #dcdcdc; }

.tab-content {
  overflow: hidden; }
  .tab-content.active {
    display: block; }

nav {
  width: 1000px;
  line-height: 40px;
  margin: 0 auto;
  color: #000; }
  nav .tel-me {
    display: inline-block;
    float: right; }
    nav .tel-me em {
      color: #F60;
      font-style: normal; }
  nav a {
    font-size: 14px;
    line-height: 30px;
    padding-bottom: 1px;
    color: #000;
    border-bottom: 1px solid transparent; }
  nav a:hover {
    border-bottom: 1px solid #000;
    text-decoration: none;
    color: #000; }
  nav .sep {
    margin: 0 8px; }

.product-main {
  position: relative;
  margin-bottom: 55px; }
  .product-main .product-title {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
    position: relative; }
    .product-main .product-title h1 {
      font-weight: normal;
      display: inline-block;
      width: 894px;
      vertical-align: middle; }
    .product-main .product-title .favorite-ctn {
      margin-left: 10px;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: middle; }
      .product-main .product-title .favorite-ctn .icon-heart-empty {
        font-size: 14px;
        color: #c5c5c5;
        cursor: pointer;
        font-weight: bold; }
        .product-main .product-title .favorite-ctn .icon-heart-empty:hover {
          color: #f1958e; }
        .product-main .product-title .favorite-ctn .icon-heart-empty:before {
          display: inline-block;
          *display: inline;
          *zoom: 1;
          vertical-align: middle;
          width: 30px;
          font-size: 25px; }
      .product-main .product-title .favorite-ctn .icon-heart-filled {
        font-size: 14px;
        color: #f1958e;
        cursor: pointer; }
        .product-main .product-title .favorite-ctn .icon-heart-filled:before {
          display: inline-block;
          *display: inline;
          *zoom: 1;
          vertical-align: middle;
          width: 30px;
          font-size: 25px; }
    .product-main .product-title .favor-tip {
      position: absolute;
      top: 50%;
      height: 16px;
      margin-top: -12px;
      left: 985px;
      color: #aaa;
      width: 100px;
      font-size: 16px;
      display: none; }
  .product-main .buy-ctn {
    margin-left: 25px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle; }
    .product-main .buy-ctn .price-ctn {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: middle;
      color: #ef6f35; }
      .product-main .buy-ctn .price-ctn > div {
        vertical-align: top; }
      .product-main .buy-ctn .price-ctn .price-title {
        color: #ef6f35;
        position: absolute;
        top: -14px; }
      .product-main .buy-ctn .price-ctn .rmb:before {
        font-family: "Hitour";
        font-size: 70%;
        content: "\e617";
        position: relative;
        top: -1px; }
      .product-main .buy-ctn .price-ctn .price-wrap {
        color: #ef6f35;
        margin-top: 2px;
        width: 150px;
        display: inline-block; }
        .product-main .buy-ctn .price-ctn .price-wrap strong {
          font-size: 34px;
          font-family: Helvetica_neue_thin;
          font-weight: normal;
          margin-right: 8px;
          line-height: 36px; }
      .product-main .buy-ctn .price-ctn .orig-price-wrap {
        color: #555;
        vertical-align: top; }
        .product-main .buy-ctn .price-ctn .orig-price-wrap strong {
          font-family: Helvetica_neue_thin;
          font-weight: normal;
          font-size: 20px;
          position: relative;
          display: block; }
          .product-main .buy-ctn .price-ctn .orig-price-wrap strong .line-through {
            position: absolute;
            border-bottom: 1px solid #555;
            width: 100%;
            top: 49%;
            left: 0; }
    .product-main .buy-ctn .buy-btn {
      display: inline-block;
      vertical-align: middle;
      width: 122px;
      letter-spacing: 2px;
      line-height: 33px;
      background: #ef6f3f;
      font-size: 16px;
      font-weight: 300;
      color: #fff;
      padding: 0;
      border: 0;
      margin-left: 20px; }
      .product-main .buy-ctn .buy-btn.expand {
        border: 1px solid #c5c5c5;
        background-color: #fff;
        color: #666; }
        .product-main .buy-ctn .buy-btn.expand:hover {
          background: #f8f8f8; }
      .product-main .buy-ctn .buy-btn:hover {
        background: #e06832; }
      .product-main .buy-ctn .buy-btn:after {
        position: absolute;
        color: #eee;
        content: "\e610";
        font-family: 'hitour';
        -webkit-font-smoothing: antialiased;
        font-size: 12px;
        font-weight: bold;
        margin-left: 10px; }
      .product-main .buy-ctn .buy-btn.expand:after {
        content: "\e60f";
        color: #666; }
  .product-main .activity-tag-100,
  .product-main .activity-tag-103 {
    position: absolute;
    top: 10px;
    left: 280px;
    display: none; }
  .product-main .activity-tag-133,
  .product-main .activity-tag-134,
  .product-main .activity-tag-127,
  .product-main .activity-tag-128,
  .product-main .activity-tag-130,
  .product-main .activity-tag-126,
  .product-main .activity-tag-119,
  .product-main .activity-tag-139,
  .product-main .activity-tag-140,
  .product-main .activity-tag-141,
  .product-main .activity-tag-142,
  .product-main .activity-tag-143,
  .product-main .activity-tag-144,
  .product-main .activity-tag-145,
  .product-main .activity-tag-146,
  .product-main .activity-tag-147,
  .product-main .activity-tag-148,
  .product-main .activity-tag-149,
  .product-main .activity-tag-150,
  .product-main .activity-tag-151,
  .product-main .activity-tag-152,
  .product-main .activity-tag-153,
  .product-main .activity-tag-154,
  .product-main .activity-tag-155,
  .product-main .activity-tag-156,
  .product-main .activity-tag-157,
  .product-main .activity-tag-158,
  .product-main .activity-tag-flashsale {
    position: absolute;
    top: 0px;
    left: 50px; }
  .product-main .slider-ctn {
    position: relative;
    overflow: hidden;
    height: 450px; }
    .product-main .slider-ctn:before {
      z-index: 20;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: rgba(255, 255, 255, 0.5); }
    .product-main .slider-ctn:after {
      z-index: 20;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: rgba(255, 255, 255, 0.5); }
    .product-main .slider-ctn .ht-slider {
      visibility: hidden;
      position: absolute;
      left: 0;
      white-space: nowrap;
      overflow-x: scroll;
      transition: all 0.35s;
      background-color: #fff; }
      .product-main .slider-ctn .ht-slider .slider-img {
        position: relative;
        display: inline-block;
        max-height: 450px;
        transition: all 0.35s;
        width: 1000px;
        vertical-align: top;
        margin: 0 3px;
        overflow: hidden; }
        .product-main .slider-ctn .ht-slider .slider-img img {
          width: 100%; }
        .product-main .slider-ctn .ht-slider .slider-img .slider-cover {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: url("../images/product/slider-cover.png") repeat-x 0 20px; }
        .product-main .slider-ctn .ht-slider .slider-img .slider-ps {
          display: none;
          position: absolute;
          bottom: 5px;
          height: 70px;
          line-height: 24px;
          max-width: 1000px;
          overflow: hidden;
          color: #eee;
          width: 100%;
          font-size: 16px;
          font-weight: bold;
          padding: 0 20px 0 50px; }
          .product-main .slider-ctn .ht-slider .slider-img .slider-ps em {
            font-size: 28px;
            font-style: normal;
            line-height: 36px; }
    .product-main .slider-ctn .slider-mask {
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 0px;
      background-color: rgba(0, 0, 0, 0.5);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',endColorstr='#80000000');
      transition: all 0.3s; }
    .product-main .slider-ctn .left-op {
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      height: 100%; }
      .product-main .slider-ctn .left-op .left-left {
        display: block;
        margin: 200px 440px 200px auto;
        width: 50px;
        height: 50px;
        border: none;
        background: url("../images/product/ar-l.png");
        transition: all 0.3s;
        opacity: 0.8; }
        .product-main .slider-ctn .left-op .left-left:hover {
          margin-right: 445px;
          opacity: 1; }
    .product-main .slider-ctn .right-op {
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      height: 100%; }
      .product-main .slider-ctn .right-op .right-right {
        display: block;
        margin: 200px auto 200px 440px;
        width: 50px;
        height: 50px;
        border: none;
        background: url("../images/product/ar-r.png");
        transition: all 0.3s;
        opacity: 0.8; }
        .product-main .slider-ctn .right-op .right-right:hover {
          opacity: 1;
          margin-left: 445px; }
    .product-main .slider-ctn .nivo-caption {
      height: 50px;
      line-height: 50px;
      background-color: rgba(0, 0, 0, 0.5);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',endColorstr='#80000000');
      opacity: 1;
      background: transparent \0;
      z-index: 9; }
      .product-main .slider-ctn .nivo-caption strong {
        font-size: 18px;
        margin-right: 10px;
        font-weight: normal; }
      .product-main .slider-ctn .nivo-caption span {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: top;
        width: 600px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
    .product-main .slider-ctn .nivo-controlNav {
      display: none; }
    .product-main .slider-ctn .nivo-directionNav a {
      position: absolute;
      bottom: 60px;
      z-index: 9;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      background: #000;
      display: block;
      top: auto;
      left: auto;
      line-height: 21px;
      width: 26px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      text-align: center;
      height: 26px; }
      .product-main .slider-ctn .nivo-directionNav a:hover {
        text-decoration: none; }
    .product-main .slider-ctn .nivo-nextNav {
      right: 28px; }
    .product-main .slider-ctn .nivo-prevNav {
      right: 60px; }
  .product-main .ad-ctn {
    width: 100%;
    background-image: url(../images/activities/summer-sale/ad_bg_002.png);
    height: 100px;
    position: relative; }
    .product-main .ad-ctn a {
      text-align: center;
      width: 1000px;
      height: 100px;
      position: relative;
      display: block;
      margin: 0 auto; }
      .product-main .ad-ctn a .qr-code {
        position: absolute;
        left: 10px;
        top: 10px;
        height: 80px;
        width: 80px;
        border: 1px solid yellow; }
      .product-main .ad-ctn a img {
        width: 1000px;
        height: 100px; }
  .product-main .tab-ctn {
    font-size: 0;
    background-color: #eee;
    position: absolute;
    z-index: 5;
    width: 100%;
    transition: all 0.3s;
    border-bottom: 1px solid #ddd; }
    .product-main .tab-ctn .left-ctn {
      float: left;
      width: 660px; }
    .product-main .tab-ctn .right-ctn {
      visibility: hidden;
      font-size: 12px;
      font-family: Helvetica_neue_thin;
      font-weight: normal;
      float: right;
      width: 300px; }
      .product-main .tab-ctn .right-ctn .fixed-buy-btn {
        float: left;
        width: 120px;
        margin-top: 10px;
        height: 36px;
        line-height: 36px;
        border: 0px solid #ef6f3f;
        outline: 0;
        background-color: #ef6f3f;
        color: #fff;
        font-size: 16px;
        padding: 0;
        cursor: pointer; }
        .product-main .tab-ctn .right-ctn .fixed-buy-btn.expand {
          background-color: #fff;
          border: 1px solid #c5c5c5;
          color: #666; }
          .product-main .tab-ctn .right-ctn .fixed-buy-btn.expand:hover {
            background-color: #f8f8f8; }
        .product-main .tab-ctn .right-ctn .fixed-buy-btn:hover {
          background-color: #e06832; }
      .product-main .tab-ctn .right-ctn .price-ctn {
        float: left;
        width: 180px;
        color: #ef6f35; }
        .product-main .tab-ctn .right-ctn .price-ctn strong {
          font-size: 26px;
          line-height: 56px; }
        .product-main .tab-ctn .right-ctn .price-ctn .orig-price-wrap {
          color: #666; }
          .product-main .tab-ctn .right-ctn .price-ctn .orig-price-wrap strong {
            font-size: 18px;
            text-decoration: line-through; }
    .product-main .tab-ctn.fixed {
      top: 0px;
      position: fixed;
      box-shadow: 0 1px 2px 0px #ccc;
      z-index: 101; }
      .product-main .tab-ctn.fixed .tab {
        box-shadow: none;
        -webkit-box-shadow: none; }
      .product-main .tab-ctn.fixed .right-ctn {
        visibility: visible; }
    .product-main .tab-ctn .nav-item {
      font-size: 16px;
      padding: 0 25px;
      display: inline-block;
      text-align: center;
      height: 56px;
      line-height: 56px;
      cursor: pointer; }
      .product-main .tab-ctn .nav-item.two-tab {
        width: 33.3%; }
      .product-main .tab-ctn .nav-item:hover {
        color: #6db381; }
      .product-main .tab-ctn .nav-item.active {
        color: #257e3e; }

.tab-rel {
  padding-top: 35px;
  background-color: #fff; }
  .tab-rel .container {
    width: 1000px;
    padding: 0;
    border: 1px solid #c5c5c5;
    border-right: none; }
  .tab-rel .tab {
    cursor: pointer;
    float: left;
    width: 25%;
    height: 46px;
    line-height: 46px;
    text-align: center;
    background-color: #f7f7f7;
    border-right: 1px solid #c5c5c5; }
    .tab-rel .tab.active {
      background-color: #6db381;
      color: #fff; }

.service_include-map {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede; }
  .service_include-map .service_include {
    position: relative;
    float: right;
    width: 500px;
    height: 280px;
    color: #666;
    line-height: 1.8;
    padding-right: 20px; }
    .service_include-map .service_include ol {
      max-height: 200px;
      overflow: hidden;
      color: #474747; }
    .service_include-map .service_include .service-title {
      font-size: 18px;
      margin: 20px 0 0 20px;
      color: #111; }
    .service_include-map .service_include .in-cover {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%; }
  .service_include-map .map-img {
    position: relative;
    float: right;
    height: 280px;
    width: 50%;
    background-position: center center; }
    .service_include-map .map-img .map-point {
      position: relative;
      width: 90px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      top: 20px;
      left: 20px;
      border: 1px solid #ccc;
      background-color: rgba(255, 255, 255, 0.8); }

.product-scenes .section-title, .buy-notice .section-title {
  width: 1000px;
  margin: 20px auto;
  text-align: center;
  position: relative; }
  .product-scenes .section-title h2, .buy-notice .section-title h2 {
    font-size: 35px;
    color: #232323;
    padding: 0 20px;
    display: inline;
    position: relative;
    z-index: 2;
    font-weight: lighter; }

.product-scenes {
  padding: 20px 0;
  background-color: #fff; }
  .product-scenes .section-title h2 {
    background-color: #fff; }

.buy-notice {
  padding-top: 30px;
  background-color: #f7f7f7; }

.product-scenes .desc-ctn {
  position: relative;
  width: 640px;
  margin: 40px auto;
  line-height: 24px;
  margin-bottom: 50px;
  font-size: 16px; }
  .product-scenes .desc-ctn:before {
    content: "\e60b";
    font-family: "Hitour";
    position: absolute;
    left: -25px;
    top: -7px;
    color: #6db381; }
.product-scenes .scenes-ctn {
  width: 1090px;
  margin: 0 auto;
  margin-top: 55px; }
  .product-scenes .scenes-ctn .group-wrap {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top; }
  .product-scenes .scenes-ctn .scene {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    width: 455px;
    height: 392px;
    margin: 0 45px; }
    .product-scenes .scenes-ctn .scene img {
      width: 458px;
      height: 205px; }
  .product-scenes .scenes-ctn .scene-info {
    position: relative; }
    .product-scenes .scenes-ctn .scene-info .scene-name-ctn {
      margin: 18px 56px;
      margin-right: 0; }
      .product-scenes .scenes-ctn .scene-info .scene-name-ctn h3 {
        font-size: 20px;
        font-weight: normal;
        line-height: 26px; }
      .product-scenes .scenes-ctn .scene-info .scene-name-ctn h4 {
        font-size: 12px;
        line-height: 12px;
        font-weight: 400;
        color: #555;
        -webkit-font-smoothing: antialiased; }
    .product-scenes .scenes-ctn .scene-info .seq {
      position: absolute;
      top: -11px;
      left: 0;
      color: #222;
      font-size: 44px;
      font-family: Helvetica_Neue_Thin; }
    .product-scenes .scenes-ctn .scene-info p.scene-summary {
      font-size: 14px;
      color: #369366;
      margin-bottom: 8px; }
    .product-scenes .scenes-ctn .scene-info p.scene-desc {
      font-size: 14px; }
.product-scenes .one-communication {
  width: 1000px;
  margin: 65px auto;
  background: #e0f2e1;
  border-radius: 4px;
  color: #369366; }
  .product-scenes .one-communication i {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    margin: 0 35px;
    font-size: 54px; }
  .product-scenes .one-communication .communication-text {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    width: 700px;
    margin: 30px 0; }
    .product-scenes .one-communication .communication-text h3 {
      font-size: 24px; }
    .product-scenes .one-communication .communication-text p {
      margin-top: 10px;
      line-height: 24px; }
.product-scenes .all-land-ctn {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 60px; }
  .product-scenes .all-land-ctn .one-all-land.first-all-land .all-land-name {
    border-top: 0; }
  .product-scenes .all-land-ctn .one-all-land.first-all-land .all-land-list {
    border-top: 0; }
  .product-scenes .all-land-ctn .one-all-land {
    padding-top: 20px; }
    .product-scenes .all-land-ctn .one-all-land .all-land-name {
      width: 180px;
      margin-right: 40px;
      border-top: 1px solid #ededed;
      padding-top: 25px;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: top; }
      .product-scenes .all-land-ctn .one-all-land .all-land-name h3 {
        font-size: 24px;
        color: #222; }
    .product-scenes .all-land-ctn .one-all-land .all-land-list {
      width: 770px;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: top;
      margin-bottom: 30px;
      padding-left: 30px;
      border-top: 1px solid #dedede;
      max-height: 345px;
      overflow: auto; }
      .product-scenes .all-land-ctn .one-all-land .all-land-list h2 {
        font-size: 16px;
        color: #222;
        margin-top: 30px; }
        .product-scenes .all-land-ctn .one-all-land .all-land-list h2:before {
          content: ' ';
          display: inline-block;
          width: 6px;
          height: 10px;
          background: #707070;
          margin-right: 6px;
          position: relative;
          top: -1px; }
      .product-scenes .all-land-ctn .one-all-land .all-land-list ol, .product-scenes .all-land-ctn .one-all-land .all-land-list ul {
        list-style: none;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 0px; }
        .product-scenes .all-land-ctn .one-all-land .all-land-list ol li, .product-scenes .all-land-ctn .one-all-land .all-land-list ul li {
          color: #555;
          padding: 10px 12px; }

.buy-notice .col-ctn {
  width: 900px;
  margin: 0 auto; }
.buy-notice .service-include h2 {
  display: none; }
.buy-notice .service-include p {
  margin-bottom: 40px; }
.buy-notice .service-include.no-border .left-column {
  border: 0; }
.buy-notice .service-include.no-border .content-list {
  border: 0; }
.buy-notice .left-column {
  width: 130px;
  border-top: 1px solid #e8e8e8;
  margin: 0 25px 0 50px;
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  color: #222;
  font-weight: bold;
  padding-top: 45px; }
.buy-notice .content-list {
  display: inline-block;
  vertical-align: top;
  padding: 45px 50px 0 25px;
  width: 680px;
  border-top: 1px solid #e8e8e8; }
.buy-notice .plain-list ol, .buy-notice .plain-list ul {
  margin: 0;
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 40px; }
  .buy-notice .plain-list ol li, .buy-notice .plain-list ul li {
    margin-bottom: 15px;
    color: #555;
    line-height: 20px; }
.buy-notice .exchange-places {
  background-color: #fff; }
  .buy-notice .exchange-places .section-title {
    padding-top: 40px;
    padding-bottom: 15px; }
    .buy-notice .exchange-places .section-title h2 {
      background-color: #fff; }
.buy-notice .gmap-ctn {
  width: 100%;
  text-align: center;
  line-height: 310px; }
.buy-notice .redeem-places .left-column {
  border: 0; }
.buy-notice .redeem-places .content-list {
  border: 0;
  padding-bottom: 25px; }
.buy-notice .redeem-places .redeem-place {
  margin-bottom: 40px;
  color: #737373; }
  .buy-notice .redeem-places .redeem-place h3 {
    font-weight: normal;
    margin-bottom: 20px; }
  .buy-notice .redeem-places .redeem-place p {
    margin-bottom: 15px; }

.hot-recommend {
  background: #f7f7f7;
  border-top: 1px solid #f1f1f1; }
  .hot-recommend .section-title {
    text-align: center;
    position: relative;
    margin: 40px 0; }
    .hot-recommend .section-title h2 {
      font-size: 40px;
      background: #f7f7f7;
      padding: 0 20px;
      display: inline;
      position: relative;
      z-index: 2;
      font-weight: lighter; }
  .hot-recommend .recommend-pro-list {
    overflow: hidden;
    position: relative;
    height: 332px; }
    .hot-recommend .recommend-pro-list .col-md-3 {
      width: 255px; }
    .hot-recommend .recommend-pro-list .row {
      position: absolute;
      transition: 0.6s;
      -moz-transition: 0.6s;
      -webkit-transition: 0.6s;
      -ms-transition: 0.6s;
      -o-transition: 0.6s;
      height: 307px;
      overflow: hidden; }
  .hot-recommend .arrow-left {
    width: 70px;
    height: 90px;
    position: absolute;
    left: -100px;
    top: 205px;
    cursor: pointer;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); }
    .hot-recommend .arrow-left:hover {
      background: #e1e1e1; }
    .hot-recommend .arrow-left:before {
      font-family: "Hitour";
      content: "\e60d";
      font-size: 50px;
      color: #fff;
      position: absolute;
      top: 11px;
      left: 6px; }
  .hot-recommend .arrow-right {
    width: 70px;
    height: 90px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -100px;
    top: 205px;
    cursor: pointer; }
    .hot-recommend .arrow-right:before {
      font-family: "Hitour";
      content: "\e60e";
      font-size: 50px;
      color: #fff;
      position: absolute;
      top: 11px;
      left: 14px; }
    .hot-recommend .arrow-right:hover {
      background: #e1e1e1; }
  .hot-recommend .product {
    display: block;
    background: #fff;
    overflow: hidden;
    border: 1px solid #e9e9e9;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05); }
    .hot-recommend .product .cover-ctn {
      width: 235px;
      height: 178px;
      background: url(../images/common/holder.png); }
      .hot-recommend .product .cover-ctn img {
        width: 235px;
        height: 178px; }
    .hot-recommend .product:hover {
      text-decoration: none; }
    .hot-recommend .product .product-name {
      font-size: 18px;
      color: #555;
      padding: 20px 20px 0 20px;
      height: 70px;
      overflow: hidden; }
    .hot-recommend .product .price-ctn {
      font-family: Helvetica_Neue_Thin;
      margin-top: 5px;
      margin-bottom: 20px; }
      .hot-recommend .product .price-ctn .price-wrap {
        font-size: 20px;
        color: #f60;
        margin-left: 20px;
        vertical-align: baseline; }
      .hot-recommend .product .price-ctn .orig-price-wrap {
        font-size: 16px;
        color: #666;
        margin-left: 5px;
        vertical-align: baseline;
        text-decoration: line-through; }

.special-tag {
  background: url(../images/common/special-tag-orange.png);
  width: 100px;
  height: 100px;
  position: absolute;
  right: 30px;
  top: 20px;
  text-align: center;
  z-index: 11; }
  .special-tag h4 {
    color: #fff;
    margin-top: 14px;
    font-weight: normal;
    font-size: 12px; }
  .special-tag .rmb:before {
    font-family: "Hitour";
    color: #fff;
    font-size: 18px;
    content: "\e617";
    position: relative;
    top: -1px; }
  .special-tag em {
    font-size: 26px;
    color: #fff;
    font-style: normal;
    font-family: Helvetica_Neue_Thin;
    line-height: 24px; }
  .special-tag .channel {
    font-size: 12px;
    color: #fff;
    width: 50px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    line-height: 14px;
    margin-top: 2px; }

.tour-ctn .brief {
  text-align: center;
  margin: 35px 0; }
  .tour-ctn .brief em {
    font-style: normal;
    font-family: Helvetica_Neue_Thin;
    font-size: 20px;
    color: #6db381; }
.tour-ctn .day-list {
  width: 900px;
  margin: 0 auto;
  padding: 25px 60px;
  background: #fafafa; }
  .tour-ctn .day-list ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .tour-ctn .day-list ul li {
      margin-bottom: 10px;
      color: #555; }
      .tour-ctn .day-list ul li > span {
        line-height: 34px;
        vertical-align: middle; }
      .tour-ctn .day-list ul li i {
        margin-right: 16px;
        font-style: normal;
        position: relative;
        line-height: 32px;
        height: 32px;
        display: inline-block;
        vertical-align: middle; }
        .tour-ctn .day-list ul li i span {
          position: absolute;
          left: 4px;
          top: 0px;
          color: #fff;
          font-size: 12px;
          width: 25px;
          text-align: center; }
        .tour-ctn .day-list ul li i:before {
          font-family: "Hitour";
          font-size: 32px;
          content: '\e63d';
          color: #000; }
.tour-ctn .day-nav-ctn {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  padding-left: 140px; }
  .tour-ctn .day-nav-ctn ul {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 135px;
    margin-bottom: 20px;
    list-style: none;
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top; }
    .tour-ctn .day-nav-ctn ul li {
      width: 40px;
      margin-right: 200px;
      position: relative;
      line-height: 40px;
      cursor: pointer;
      z-index: 2;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: top;
      background: #fff;
      color: #d0d0d0;
      margin-bottom: 15px; }
      .tour-ctn .day-nav-ctn ul li > span {
        position: absolute;
        left: 10px;
        top: 0;
        line-height: 40px;
        font-size: 16px; }
      .tour-ctn .day-nav-ctn ul li:hover .x-circle:before {
        color: #6db381; }
      .tour-ctn .day-nav-ctn ul li.no-line {
        width: 40px;
        overflow: hidden; }
      .tour-ctn .day-nav-ctn ul li .dline {
        width: 200px;
        border-bottom: 1px solid #d0d0d0;
        top: 20px;
        position: absolute;
        left: 40px; }
    .tour-ctn .day-nav-ctn ul .day-prompt {
      width: 369px;
      height: 80px;
      padding: 10px 20px;
      background: #6db381;
      border-radius: 5px;
      position: absolute;
      top: -92px;
      left: -165px;
      font-size: 16px;
      color: #fff;
      line-height: 20px;
      z-index: 2; }
      .tour-ctn .day-nav-ctn ul .day-prompt .arrow {
        border-style: solid;
        border-width: 7px 9px;
        border-color: #6db381 transparent transparent;
        position: absolute;
        top: 80px;
        left: 175px; }
      .tour-ctn .day-nav-ctn ul .day-prompt.arrow-up .arrow {
        border-color: transparent transparent #6db381;
        top: -14px; }
      .tour-ctn .day-nav-ctn ul .day-prompt > span {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: middle; }
      .tour-ctn .day-nav-ctn ul .day-prompt .v-mock {
        font-size: 0;
        line-height: 50px; }
    .tour-ctn .day-nav-ctn ul li.active {
      color: #6db381; }
      .tour-ctn .day-nav-ctn ul li.active .x-circle:before {
        color: #6db381; }
    .tour-ctn .day-nav-ctn ul li.last {
      margin-right: 0; }
    .tour-ctn .day-nav-ctn ul .l-t {
      width: 100%;
      border-bottom: 1px solid #d0d0d0;
      top: 20px;
      position: absolute; }
  .tour-ctn .day-nav-ctn .x-circle:before {
    font-family: "Hitour";
    content: '\e618';
    font-size: 40px;
    font-style: normal; }
.tour-ctn .day-tour-ctn {
  width: 780px;
  margin: 0 auto;
  border-left: 1px solid #d0d0d0; }
  .tour-ctn .day-tour-ctn .one-time {
    margin-bottom: 45px; }
    .tour-ctn .day-tour-ctn .one-time .x-clock {
      background: white url(../images/product/clock.png);
      width: 48px;
      height: 48px;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: top;
      margin-left: -24px;
      line-height: 48px; }
    .tour-ctn .day-tour-ctn .one-time .time-time {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: top;
      font-size: 20px;
      font-weight: bold;
      padding-left: 5px;
      margin-top: 10px;
      line-height: 22px; }
    .tour-ctn .day-tour-ctn .one-time .time-head {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: top;
      font-size: 20px;
      font-weight: bold;
      padding-left: 10px;
      max-width: 600px;
      margin-top: 10px;
      line-height: 24px; }
    .tour-ctn .day-tour-ctn .one-time .time-content {
      padding-left: 36px; }
      .tour-ctn .day-tour-ctn .one-time .time-content .time-content-wrap {
        margin-bottom: 12px; }
      .tour-ctn .day-tour-ctn .one-time .time-content img {
        max-width: 740px;
        margin-top: 15px;
        margin-bottom: 15px; }
      .tour-ctn .day-tour-ctn .one-time .time-content h4 {
        font-size: 18px;
        color: #222;
        font-weight: normal; }
      .tour-ctn .day-tour-ctn .one-time .time-content p {
        color: #888;
        font-size: 14px; }

.simple-tour-ctn {
  width: 720px;
  margin: 20px auto 0 auto;
  overflow: hidden; }
  .simple-tour-ctn .tour-content-ctn {
    margin: 12px 0;
    overflow: hidden; }
  .simple-tour-ctn .tour-content-wrap {
    margin-bottom: 24px;
    text-align: left; }
    .simple-tour-ctn .tour-content-wrap h4 {
      font-size: 16px;
      padding-left: 7px;
      border-left: 4px solid #ccc; }
    .simple-tour-ctn .tour-content-wrap img {
      width: 100%;
      padding-top: 12px; }
    .simple-tour-ctn .tour-content-wrap p {
      display: block;
      font-size: 14px;
      line-height: 22px;
      color: #555;
      padding-top: 12px; }

.switch-map {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 1000px;
  font-size: 0; }
  .switch-map .switch-btn {
    color: #fff;
    position: absolute;
    bottom: 12px;
    right: 30px;
    z-index: 11;
    cursor: pointer;
    font-size: 14px; }
    .switch-map .switch-btn:before {
      content: '\e63a';
      font-family: "Hitour";
      font-size: 24px;
      position: relative;
      top: 4px;
      margin-right: 5px; }

.switch-scene {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 1000px;
  z-index: 10;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',endColorstr='#80000000'); }
  .switch-scene span {
    line-height: 50px;
    color: #fff;
    padding-left: 20px; }
  .switch-scene .switch-btn {
    color: #fff;
    font-size: 14px;
    position: absolute;
    bottom: 12px;
    right: 30px;
    z-index: 11;
    cursor: pointer; }
    .switch-scene .switch-btn:before {
      content: '\e63b';
      font-family: "Hitour";
      font-size: 24px;
      position: relative;
      top: 4px;
      margin-right: 5px; }

.scene-map {
  position: absolute;
  left: 1020px;
  top: 0;
  z-index: 10;
  transition: 0.6s;
  -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s; }

.linked-circle {
  background: url(../images/product/2s1-circle.png);
  width: 143px;
  height: 143px;
  font-family: Helvetica_Neue_Thin;
  position: absolute;
  font-size: 30px;
  left: 50%;
  top: 28px;
  margin-left: -71px;
  text-align: center;
  line-height: 143px;
  color: #ff7639; }

.product-rule {
  background-color: #f7f7f7;
  border-top: 1px solid #e9e9e9;
  width: 102%; }
  .product-rule ul {
    list-style: none;
    padding: 30px 0 25px 70px;
    margin: 0; }
    .product-rule ul li {
      height: 60px;
      padding-left: 44px;
      position: relative;
      width: 340px;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: top; }
      .product-rule ul li:before {
        font-family: "hitour";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        left: 0;
        top: 2px;
        font-size: 36px;
        line-height: 36px;
        color: #7f7f7f; }
      .product-rule ul li.r-redeem:before {
        content: '\e622'; }
      .product-rule ul li.r-buy:before {
        content: '\e625'; }
      .product-rule ul li.r-return:before {
        content: '\e620'; }
      .product-rule ul li.r-shipping {
        width: 220px; }
      .product-rule ul li.r-shipping:before {
        content: "\e629"; }
    .product-rule ul h3 {
      font-size: 14px;
      color: #000;
      font-weight: 800; }
    .product-rule ul p {
      color: #6db381; }

.buy-notice .product-rule {
  background-color: #f7f7f7;
  border: 0; }
  .buy-notice .product-rule ul {
    padding: 40px 0 0 20px; }
    .buy-notice .product-rule ul li {
      width: 24.5%;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: top;
      padding-right: 30px; }
      .buy-notice .product-rule ul li:before {
        font-family: "hitour";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        left: 0;
        top: 2px;
        font-size: 36px;
        line-height: 36px;
        color: #7f7f7f; }
      .buy-notice .product-rule ul li.r-shipping {
        width: 24.5%; }
    .buy-notice .product-rule ul p {
      color: #555; }

.hitour-guarantee {
  background: #fff; }
  .hitour-guarantee .section-title {
    text-align: center;
    margin: 0 0 80px 0; }
    .hitour-guarantee .section-title h2 {
      padding-top: 60px;
      color: #525252;
      font-size: 34px;
      line-height: 40px;
      font-weight: normal;
      background: #fff;
      font-size: 35px; }
  .hitour-guarantee .section-content {
    font-size: 0;
    margin-bottom: 60px; }
    .hitour-guarantee .section-content .mark {
      color: #737373;
      margin: 0 12px 0 0;
      font-size: 96px;
      line-height: 100%;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: top; }
    .hitour-guarantee .section-content .detail {
      color: gray;
      font-size: 16px;
      line-height: 24px;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: top;
      line-height: 22px;
      font-size: 16px; }
      .hitour-guarantee .section-content .detail .guarantee-title {
        color: #6db381; }

.col-md-6 .cell-wrap {
  width: 485px !important; }
  .col-md-6 .cell-wrap .more-desc {
    padding: 0 50px !important;
    text-align: center !important; }

.nav-ctn {
  background: #EEE;
  overflow: hidden;
  border-bottom: 1px solid #DDD; }

.scene-map, .switch-map {
  display: none; }

.buy-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3000000',endColorstr='#B3000000');
  z-index: 20; }

.buy-btn-disabled:after {
  content: '' !important; }

/*点评*/
.comments .section-title {
  padding: 40px 0;
  background-color: #f7f7f7; }
  .comments .section-title h2 {
    margin: 20px auto;
    text-align: center;
    font-size: 35px;
    font-weight: lighter;
    color: #232323; }
.comments .comments-total {
  margin: 0 auto;
  margin-top: 40px;
  width: 400px;
  position: relative; }
  .comments .comments-total span {
    float: left; }
  .comments .comments-total .total-score {
    float: left;
    width: 100px;
    margin-left: 20px; }
    .comments .comments-total .total-score .score {
      color: #f60;
      font-size: 36px; }
    .comments .comments-total .total-score .unit {
      font-size: 20px;
      margin-top: 15px; }
  .comments .comments-total .total-score-star {
    float: left;
    width: 220px;
    margin: 22px 0 0 60px; }
    .comments .comments-total .total-score-star .one-score-star:hover .help-tip {
      display: block; }
    .comments .comments-total .total-score-star .score-title {
      margin-right: 10px;
      width: 75px; }
    .comments .comments-total .total-score-star .score-num {
      margin-left: 12px; }
  .comments .comments-total .help-tip {
    position: absolute;
    font-size: 12px;
    line-height: 22px;
    display: none;
    top: -3px;
    left: 180px;
    padding: 0 10px;
    border: 1px solid #aaa;
    background-color: #fcf9a2; }
.comments .score-mark {
  position: relative;
  margin-bottom: 5px;
  float: left;
  height: 20px;
  width: 74px;
  margin-top: 2px; }
  .comments .score-mark .icon-rating-star {
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px; }
  .comments .score-mark .star-back {
    color: #aaa; }
  .comments .score-mark .star-front {
    color: #f60;
    overflow: hidden; }
.comments .section-content {
  position: relative;
  margin: 20px auto; }
  .comments .section-content .user-comments {
    width: 600px;
    margin: 60px auto; }
  .comments .section-content .one-user {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px dashed #eee; }
  .comments .section-content .side-part {
    float: left;
    width: 80px;
    height: 80px;
    margin: 0 30px 0 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px #999;
    overflow: hidden; }
    .comments .section-content .side-part img {
      margin: -1px 0 0 -1px;
      width: 82px;
      height: 82px; }
  .comments .section-content .main-content {
    float: left;
    width: 480px; }
  .comments .section-content .username {
    font-size: 20px;
    margin-bottom: 5px; }
  .comments .section-content .score-title {
    margin-left: 10px;
    float: left; }
  .comments .section-content .user-cmt {
    padding-top: 10px;
    font-size: 14px;
    line-height: 22px; }
  .comments .section-content .height-ctrl {
    height: 98px;
    overflow: hidden; }
  .comments .section-content .toggle-drop {
    position: relative;
    display: none; }
    .comments .section-content .toggle-drop .triangle {
      position: absolute;
      right: -18px;
      top: -13px;
      display: block;
      width: 0px;
      height: 0px;
      font-size: 0px;
      line-height: 0px;
      cursor: pointer;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 7px solid #2f2f2f;
      border-bottom: none; }
    .comments .section-content .toggle-drop .down {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 7px solid #2f2f2f;
      border-top: none; }
  .comments .section-content .loading-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    display: none;
    background-color: #fff; }
    .comments .section-content .loading-mask .loading-animate {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -100px;
      width: 200px;
      font-size: 22px;
      color: #999; }
.comments .pagination {
  text-align: center; }
  .comments .pagination ul {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    overflow: hidden;
    *zoom: 1; }
  .comments .pagination li {
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 40px;
    border: 1px solid #eee;
    list-style: none;
    text-align: center;
    cursor: pointer;
    color: #aaa;
    font-size: 16px;
    line-height: 24px; }
    .comments .pagination li:hover {
      background-color: #eee; }
  .comments .pagination .prev, .comments .pagination .next {
    line-height: 20px; }
  .comments .pagination .current_page {
    background-color: #eee; }

.tab-ctn .nav-item span {
  color: #6db381;
  font-size: 12px; }
