/**
 * @description:  voucher.css
 */

/*reset*/
ul, p { margin: 0; padding: 0;}
li { list-style: none;}
table { border-collapse: collapse; border-spacing: 0;}
td, th { padding: 0;}


/*global*/
body { margin-top: 0px; margin-bottom: 0px;}
html { font-family: "WenQuanYi Zen Hei", "Microsoft YaHei", "Arial";}
.main-wrap { position: relative; width: 1040px; height: 1590px; margin: 20px auto; overflow: hidden;border-left: 1px solid #ebebeb; border-right: 1px solid #ebebeb;}
.content-ctn { width: 1040px; margin: 0 auto; overflow: hidden; position: relative;}
header, footer { background: #585858; color: #fff; }
header { height: 80px;}
footer { height: 100px; position: absolute; padding-left: 20px; bottom: 0px;}

/*header*/
header .voucher-head { font-size: 28px; line-height: 1; margin: 32px 0px 20px 20px; }
header .voucher-head span { display: inline-block; *display: inline; zoom: 1; vertical-align: middle;margin-left: 10px; font-size: 16px;}
header .order-num { text-align: right; margin-top: -44px; margin-right: 20px;}
header .order-num span { display: inline-block; *display: inline; zoom: 1;vertical-align: baseline; margin-left: 10px; font-size: 24px;}

/*supplierlogo*/
.supplierlogo { position: absolute; top: 20px; right: 20px; width: 160px;}
.supplierlogo img { width: 160px;}
.supplierlogo .qrcode { width: 100px; margin-left:60px;}

/*section common*/
section { margin-bottom: 50px; font-size: 16px;padding-left: 20px;padding-right: 20px;}
h3 { font-size: 24px; margin-bottom: 30px;}
.decoration { display: inline-block; *display: inline; zoom: 1; vertical-align: baseline; width: 10px; height: 20px; margin-right: 7px; background: #000;}

/*section head-section*/
h1 { font-size: 42px; line-height: 1; margin: 35px 0 0; width: 750px;}
h2 { font-size: 20px; line-height: 1; margin: 10px 0 0; width: 750px;}
.order-info-ctn { margin-top: 26px; }
.order-info-ctn li { margin-top: 10px; font-size: 16px; padding: 0 15px;}
.order-info-ctn span { display: inline-block; *display: inline; zoom: 1; vertical-align: top; line-height: 40px;}
.order-info-title { color: #737373; width: 260px;}
.order-info-content { color: #000; background: #ebebeb; width: 340px; padding-left: 20px;}

/*section bar-code*/
.bar-code { margin-top: 10px;}
.bar-code-order, .bar-code-detail { padding: 0 0 0 15px; margin-top: 10px;}
.bar-code-order div { display: inline-block; *display: inline; zoom: 1; vertical-align: middle; height: 40px; line-height: 40px;}
.bar-code-order .bar-code-title { color: #737373; width: 260px;}
.bar-code-order .bar-code-content { color: #000; background: #ebebeb; width: 340px; padding-left: 20px;}

/*case 1*/
/*.layout-with-none .bar-code-detail div { display: inline-block; *display: inline; zoom: 1; vertical-align: middle; height: 40px; line-height: 40px;}*/
/*.layout-with-none .bar-code-detail .bar-code-title { color: #737373; width: 260px;}*/
/*.layout-with-none .bar-code-detail .bar-code-content { color: #fff; background: #000; width: 340px; padding-left: 20px;}*/

/*case 2*/
.bar-code-detail { background: #ebebeb; width: 955px;}
.bar-code-detail .bar-code-title { color: #737373; padding: 14px 0 10px; }
.bar-code-order .barcode { margin-left: -95px; overflow: hidden; zoom: 1; background: #ebebeb;}
.bar-code-order .barcode li { display: block; margin: 10px 0 10px 95px; float: left; width: 255px; }
.bar-code-order .barcode img { width: 255px; height: 45px;}
.bar-code-order .barcode .textcode { text-align: center; margin: 0; padding: 0; line-height: 24px; font-size: 16px;}

/*case 3*/
/*.layout-with-textcode .bar-code-detail { background: #ebebeb; width: 955px;}*/
/*.layout-with-textcode .bar-code-detail .bar-code-title { color: #737373; padding: 14px 0 10px; }*/
/*.layout-with-textcode .bar-code-detail .bar-code-content { margin-left: -95px; overflow: hidden; zoom: 1;}*/
/*.layout-with-textcode .textcode {  margin-left: 95px; float: left; width: 255px;}*/
/*.layout-with-textcode .textcode p { text-align: center; font-size: 16px;}*/
.note { background: #ebebeb; line-height: 1.6; font-size: 16px; clear: both; padding: 15px 20px; margin-top: 20px;}
.head-section .note { width: 600px;}
/*section Tourist-Info*/
.tourist-detail-ctn { padding: 10px 0 0 15px; font-size: 14px;}
.tourist-detail-ctn .tourist-num { display: inline-block; *display: inline; zoom: 1; font-size: 20px; margin-right: 26px; color: #000;}
.tourist-num strong { font-size: 24px; padding-left: 5px; font-weight: normal;}
.tourist { margin-top: 25px;}
.tourist p { color: #737373; font-size: 16px; line-height: 2;}
.tourist-decoration { display: inline-block; *display: inline; zoom: 1; width: 11px; height: 11px; background: #666; margin-bottom: 1px; margin-right: 5px;}
.lead-tourist-info { margin-left:-9px; font-size: 12px;}
.lead-tourist-info li, .lead-tourist-info li span { display: inline-block; *display: inline; zoom: 1; width: 232px;}
.lead-tourist-info li { margin-left: 9px; margin-top: 15px;}
.lead-tourist-info li span {background: #ebebeb; text-indent: 9px; line-height: 38px; margin-top: 5px; font-size: 14px;}
/*.lead-tourist-info li, .lead-tourist-info li span{ display: inline-block; *display: inline; zoom: 1; line-height: 38px; padding-left: 12px; margin-left: 8px; }*/
/*.lead-tourist-info li { margin-left: 32px; padding: 10px 0 0 20px;}*/
/*.lead-tourist-info li span { background: #ebebeb; padding-right: 12px;}*/

/*case 1*/
.layout-table table { margin-top: 5px;}
.layout-table td { height: 45px; text-align: center; vertical-align: middle; padding: 0 20px;}
.layout-table table>thead>tr>td { background: #d9d9d9;}
.layout-table .even { background: #f5f5f5;}
.layout-table table>tbody>tr>td:first-child { text-align: left;}

/*case 2*/
.tourist-detail { margin-left: -22px;}
.tourist-detail li, .tourist-detail li span { display: inline-block; *display: inline; zoom: 1; background: #ebebeb; line-height: 40px;}
.tourist-detail li { margin-left: 22px; margin-bottom: 10px;}
.tourist-name { padding: 0 16px;}
.tourist-pinyin { padding: 0 38px;}
.tourist-age { border-left: 1px solid #dcdcdc; padding: 0 32px 0 26px;}

/* case 3 */
.layout-gta .tourist div, .layout-gta .tourist span { display: inline-block; *display: inline; zoom: 1;}
.gta-tourist-name { padding: 0 20px; line-height: 36px; margin-right: 11px; background: #ebebeb;}
.gta-tourist-name span { border-left: 1px solid #dcdcdc; padding: 0 0 0 20px; margin: 0 0 0 20px;}

.gta-tourist-detail { border: 1px solid #dcdcdc; border-bottom: none; width: 950px; margin-top: 20px;}
.gta-tourist-detail li { background: #ebebeb; border-bottom: 1px solid #dcdcdc; padding: 12px 24px; line-height: 1.7;}
.gta-tourist-detail li span { display: inline-block; *display: inline; zoom: 1; width: 200px; }

.block-top {
    margin-top: 40px;
}
/*section Customer-Service*/
.customer-service {margin-bottom: 20px; }
.customer-service-ctn { margin-top: 26px; }
.customer-service-ctn li { margin-top: 10px; font-size: 16px; padding: 0 15px;}
.customer-service-ctn span { display: inline-block; *display: inline; zoom: 1; vertical-align: top; line-height: 40px;}
.customer-service-title { color: #737373; width: 170px;}
.customer-service-content { color: #000; background: #ebebeb; width: 440px; padding-left: 20px;}

.signature { text-align: right; margin: -80px 0 50px; height: 30px; font-size: 22px;}
.signature .btm-line { display: inline-block; *display: inline; zoom: 1; width: 120px; border-bottom: 1px solid #666;height: 100%;}
/*footer*/
footer .content-ctn { padding-top: 20px;}
footer .content-ctn div { display: inline-block; *display: inline; zoom: 1; vertical-align: middle; font-size: 20px; line-height: 38px;}
footer .hitour { width: 183px; height: 62px; background: url(../images/voucher/hitour_logo.png) no-repeat;}
footer .email { margin-left: 45px; text-indent: 56px;  height: 40px; background: url(../images/voucher/email.png) no-repeat;}
footer .tel { margin-left: 40px; text-indent: 58px; height: 40px; background: url(../images/voucher/tel.png) no-repeat 0 -8px;}