@font-face {
	font-family: 'hitour';
	src:url('fonts/hitour.eot?-nkh9g2');
	src:url('fonts/hitour.eot?#iefix-nkh9g2') format('embedded-opentype'),
		url('fonts/hitour.woff?-nkh9g2') format('woff'),
		url('fonts/hitour.ttf?-nkh9g2') format('truetype'),
		url('fonts/hitour.svg?-nkh9g2#hitour') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'hitour';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-person:before {
	content: "\e600";
}

.icon-head-slogan:before {
	content: "\e601";
}

.icon-map:before {
	content: "\e602";
}

.icon-chart:before {
	content: "\e603";
}

.icon-gift:before {
	content: "\e604";
}

.icon-ticket:before {
	content: "\e605";
}

.icon-presentation-chart:before {
	content: "\e606";
}

.icon-gift-bold:before {
	content: "\e607";
}

.icon-bus-circle-bg:before {
	content: "\e608";
}

.icon-three-bar:before {
	content: "\e609";
}

.icon-menu:before {
	content: "\e60a";
}

.icon-quote-begin:before {
	content: "\e60b";
}

.icon-quote-end:before {
	content: "\e60c";
}

.icon-arrow-left:before {
	content: "\e60d";
}

.icon-arrow-right:before {
	content: "\e60e";
}

.icon-arrow-up:before {
	content: "\e60f";
}

.icon-arrow-down:before {
	content: "\e610";
}

.icon-tag:before {
	content: "\e611";
}

.icon-fire:before {
	content: "\e612";
}

.icon-ctrip:before {
	content: "\e613";
}

.icon-qyer:before {
	content: "\e614";
}

.icon-mafengwo:before {
	content: "\e615";
}

.icon-kuxun:before {
	content: "\e616";
}

.icon-rmb:before {
	content: "\e617";
}

.icon-circle:before {
	content: "\e618";
}

.icon-check-circle:before {
	content: "\e619";
}

.icon-x-circle-bg:before {
	content: "\e61a";
}

.icon-exclamation-circle:before {
	content: "\e61b";
}

.icon-one-circle-bg:before {
	content: "\e61c";
}

.icon-two-circle-bg:before {
	content: "\e61d";
}

.icon-three-circle-bg:before {
	content: "\e61e";
}

.icon-refund-circle-bg:before {
	content: "\e61f";
}

.icon-refund-circle:before {
	content: "\e620";
}

.icon-calendar-circle-bg:before {
	content: "\e621";
}

.icon-calendar-circle:before {
	content: "\e622";
}

.icon-calendar:before {
	content: "\e623";
}

.icon-clock-circle-bg:before {
	content: "\e624";
}

.icon-clock-circle:before {
	content: "\e625";
}

.icon-thumbs-up-circle-bg:before {
	content: "\e626";
}

.icon-thumbs-up-circle:before {
	content: "\e627";
}

.icon-paper-plane-circle-bg:before {
	content: "\e628";
}

.icon-paper-plane-circle:before {
	content: "\e629";
}

.icon-location-circle:before {
	content: "\e62a";
}

.icon-location:before {
	content: "\e62b";
}

.icon-hitour:before {
	content: "\e62c";
}

.icon-qq:before {
	content: "\e62d";
}

.icon-qq-circle:before {
	content: "\e62e";
}

.icon-wechat:before {
	content: "\e62f";
}

.icon-weibo:before {
	content: "\e630";
}

.icon-weibo-circle:before {
	content: "\e631";
}

.icon-checkbox-unchecked:before {
	content: "\e632";
}

.icon-checkbox-checked:before {
	content: "\e633";
}

.icon-x:before {
	content: "\e634";
}

.icon-empty-person:before {
	content: "\e635";
}

.icon-x-circle:before {
	content: "\e636";
}

.icon-check:before {
	content: "\e637";
}

.icon-logo-quote:before {
	content: "\e638";
}

.icon-slogan:before {
	content: "\e639";
}

.icon-view-map:before {
	content: "\e63a";
}

.icon-view-photo:before {
	content: "\e63b";
}

.icon-circle2:before {
	content: "\e63c";
}

.icon-circle-bg:before {
	content: "\e63d";
}

.icon-four-circle-bg:before {
	content: "\e63e";
}

.icon-five-circle-bg:before {
	content: "\e63f";
}

.icon-six-circle-bg:before {
	content: "\e640";
}

.icon-seven-circle-bg:before {
	content: "\e641";
}

.icon-eight-circle-bg:before {
	content: "\e642";
}

.icon-nine-circle-bg:before {
	content: "\e643";
}

.icon-minus:before {
	content: "\e644";
}

.icon-plus:before {
	content: "\e645";
}

.icon-checked:before {
	content: "\e646";
}

.icon-bell:before {
	content: "\e647";
}

.icon-thin-arrow-left:before {
	content: "\e648";
}

.icon-thin-arrow-right:before {
	content: "\e649";
}

.icon-cry-circle-bg:before {
	content: "\e64a";
}

.icon-smile-circle-bg:before {
	content: "\e64b";
}

.icon-gift-circle-bg:before {
	content: "\e64c";
}

.icon-rmb-circle-bg:before {
	content: "\e64d";
}

.icon-share-circle-bg:before {
	content: "\e64e";
}

.icon-ticket2:before {
	content: "\e64f";
}

.icon-phone:before {
	content: "\e650";
}

.icon-heart-empty:before {
	content: "\e651";
}

.icon-heart-filled:before {
	content: "\e652";
}

.icon-tag2:before {
	content: "\e653";
}

.icon-rating-star:before {
	content: "\e654";
}

.icon-wechat-circle:before {
	content: "\e655";
}

.icon-wifi:before {
	content: "\e656";
}

.icon-tv:before {
	content: "\e657";
}

.icon-snowflake:before {
	content: "\e658";
}

.icon-diningware:before {
	content: "\e659";
}

.icon-attach:before {
	content: "\e65a";
}

.icon-bed:before {
	content: "\e65b";
}

.icon-check2:before {
	content: "\e65c";
}

.icon-arrow-up-circle:before {
	content: "\e65d";
}

.icon-arrow-down-circle:before {
	content: "\e65e";
}

.icon-arrow-right-circle:before {
	content: "\e65f";
}

.icon-file:before {
	content: "\e660";
}

.icon-rocket:before {
	content: "\e661";
}

.icon-center-dot:before {
	content: "\e662";
}

.icon-phone-full:before {
	content: "\e663";
}

.icon-phone-empty:before {
	content: "\e664";
}

.icon-couple:before {
	content: "\e665";
}

.icon-family:before {
	content: "\e666";
}

.icon-parking:before {
	content: "\e667";
}

.icon-title-before:before {
	content: "\e668";
}

.icon-thin-time:before {
	content: "\e669";
}

.icon-thin-heart:before {
	content: "\e66a";
}

.icon-thin-crown:before {
	content: "\e66b";
}

.icon-car:before {
	content: "\e66c";
}

.icon-rating-logo:before {
	content: "\e66d";
}

